<?xml version="1.0" encoding="UTF-8" ?>
<configuration> <!-- status="debug"> -->

  <appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}" />
    </Console>
  </appenders>

  <!--
  <appenders>

    <RollingRandomAccessFile name="console" fileName="./datarep-transformation.log"
                             filePattern="./datarep-transformation-%d{yyyyMMdd}.log"
                             immediateFlush="true" append="true">
      <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}" />
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
    </RollingRandomAccessFile>

  </appenders>
  -->

  <loggers>

    <logger name="org.springframework" level="info"/>

    <root level="info" includeLocation="true">
      <appender-ref ref="console"/>
    </root>
  </loggers>
</configuration>

