<talend-modal fullscreen="false"
              close-button="true"
              disable-enter="::confirmCtrl.disableEnter"
              state="confirmCtrl.modalState">

    <p ng-repeat="text in ::confirmCtrl.texts track by $index">{{text}}</p>

    <div class="modal-buttons">
        <button class="talend-modal-close btn-secondary modal-secondary-button"
                ng-click="confirmCtrl.cancel()"><span translate-once="NO"></span></button>
        <button class="talend-modal-close btn-primary modal-primary-button"
                ng-click="confirmCtrl.valid()"><span translate-once="YES"></span></button>
    </div>
</talend-modal>