<talend-modal fullscreen="false"
              close-button="true"
              state="confirmCtrl.modalState">

    <p ng-repeat="text in texts track by $index">{{text}}</p>

    <div class="modal-buttons">
        <button class="talend-modal-close t-btn-secondary modal-cancel-button"
                ng-click="confirmCtrl.cancel()">NO</button>
        <button class="talend-modal-close t-btn-primary modal-valid-button"
                ng-click="confirmCtrl.valid()">YES</button>
    </div>
</talend-modal>