.editable-regex {
  $height: 35px;
  $keySize: 30px;

  .dropdown-action {
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #f4f8fa;
    border-left: 1px solid #f4f8fa;
    border-right: 1px solid #C7C7C7;

    background: $light-gray;
    color: $black;

    height: $height;
    width: $height;

    float: left;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    padding: 0;

    font-weight: 800;
    text-align: center;
  }

  .dropdown-menu {
    outline: none;

    .regex-type-item {
      display: table-row;
      height: $keySize;

      &:hover {
        background-color: $light-gray;
      }

      .regex-type-item-key {
        border-right: 1px solid $light-gray;
        display: table-cell;
        text-align: center;
        width: $keySize;
      }

      .regex-type-item-label {
        display: table-cell;
        font-size: 0.9em;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  input {
    float: left;
    height: $height;
    margin: 0;
    width: 79%;
    border-radius: 0 3px 3px 0;
  }
}
