$tile-item-border-size: 10px;
$tile-items-background: $super-light-gray;

$actions-color: #D2D2D2;
$important-color: $dark-blue;
$standard-color: $black;

.inventory-tile-list {
  @include display(flex);
  @include flex-wrap(wrap);
  overflow-y: auto;
  height: 60vh;

  > * {
    @include flex-basis(300px);
  }
}

.inventory-tile {
  @include flex-row();
  @include align-items(stretch);

  .information {
    @include flex-shrink(1);
    @include flex-grow(1);
  }

  .actions {
    @include flex-basis(25px);
    @include flex-shrink(0);
    @include flex-grow(0);

    @include flex-column();
    @include align-items(center);
    @include justify-content(space-between);
  }
}

.inventory-tile {
  @include transition(background-color 0.2s ease-in-out);

  background-color: $tile-items-background;
  position: relative;
  margin: 5px;
  padding: $tile-item-border-size;
  box-shadow: inset 0 0 1px 1px $shadow-gray;
  text-align: left;

  &:focus,
  &:hover {
    background-color: darken($tile-items-background, 5%);
    box-shadow: 5px 4px 6px -4px $dark-gray;

    .actions a {
      &.hidden-action {
        display: block;
      }
    }
  }

  .information {
    font-size: .8em;

    .important {
      color: $important-color;
    }

    .title {
      font-size: 1.4em;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0;
      max-height: 25px;
      @include ellipsis(210px);

      &:hover {
        cursor: pointer;
      }
    }

    .details {
      margin-bottom: 5px;
      padding-left: 10px;

      .name {
        @include ellipsis(210px);
        max-width: 120px;
        float: left;
      }
    }
  }

  .actions a {
    color: $actions-color;

    &:hover {
      color: $color-error;
    }

    &.favorite {
      &.selected {
        color: $orange;
      }
    }

    &.hidden-action {
      font-size: 0.8em;
      display: none;
    }

    &.check-btn {
      margin-left: 5px;
      color: $white;
      background-color: $dark-green;
      font-size: .5em;

      &:hover {
        background-color: darken($dark-green, 10%);
      }
    }

  }
}