.dropdown {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;

  $dropdown-border: 1px solid silver;
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;
  height: 100%;

  .dropdown-container {
    position: relative;
    height: 100%;
  }

  .dropdown-action {
    cursor: pointer;
    height: 100%;
    width: 100%;
  }

  .dropdown-button:after {
    content: "\25BE";
    margin-left: 5px;
  }

  .dropdown-menu {
    @include menu-shape;
    border-radius: $base-border-radius;
    cursor: pointer;
    display: none;
    overflow: visible;
    position: fixed;
    z-index: 20;

    &:before {
      @include position(absolute, 0 1em 0 0);
      color: $white;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -1em;
    }

    &.right {
      left: auto;
      right: 0;

      &:before {
        left: auto;
        right: 0;
      }
    }
  }

  .dropdown-menu-small-top {
    top: 25px;
  }
  .show-menu {
    display: block;
  }
}
