header.navigation {
  $navigation-submenu-background-hover: $menus-hover !important;
  $navigation-height: 51px;

  .logo-wrapper {
    .logo {
      float: left;
      background: url('/assets/images/talend_logo.png') no-repeat;
      background-size: contain;
      width: 130px;
      height: $navigation-height - 10;
    }
  }

  ul li {
    &.nav-link a.icon {
      color: $medium-gray;
      font-size: 1.8em;
      width: 40px;
      height: 35px;
      position: relative;
      top: 6px;
      @include filter(drop-shadow(0px 1px 1px #1f2024));

      &:hover {
        color: lighten($medium-gray, 10%);
      }

      &.notification-icon {
        background: $color-error;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        color: #FFFFFF;

        line-height: 21px;
        margin-right: 5px;
        padding: 0;
        top: -4px;

        font-size: .9rem;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

        height: 24px;
        width: 24px;
      }
    }
  }

  li.more.nav-link {
    ul li a {
      &:hover {
        background-color: $navigation-submenu-background-hover;
      }
    }
  }
}