header.navigation {
  $navigation-submenu-background-hover: $menus-hover !important;
  $navigation-height: 51px;

  .logo-wrapper {
    .logo {
      float: left;
      background: url('/assets/images/talend_logo.png') no-repeat;
      background-size: contain;
      width: 130px;
      height: $navigation-height - 10;
    }
  }

  ul li {
    &.nav-link a.icon {
      color: $medium-gray;
      width: 40px;
      position: relative;
      @include filter(drop-shadow(0px 1px 1px #1f2024));

      &:hover {
        color: lighten($medium-gray, 10%);
      }

      &.notification-icon {
        background: $color-error;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        color: #FFFFFF;

        line-height: 21px;
        padding: 0;

        font-size: .9rem;
        text-align: center;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

        height: 26px;
        width: 26px;
      }

      &.enabled {
        color: white;
      }
    }


  }

  li.more.nav-link {
    ul li a {
      &:hover {
        background-color: $navigation-submenu-background-hover;
      }
    }
  }
}

.feedback {
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $x-large-screen: em(1824) !default;

  .modal {
    .modal-window {
      @include media($medium-screen) {
        padding-top: 0;
      }

      @include media($large-screen) {
        padding-top: 0;
      }

      @include media($x-large-screen) {
        padding-top: 4em;
      }
    }
  }


  .title {
    font-weight: bold;
    padding: 10px;
  }

  .feedback-form-line {
    @include flex-row();
    @include flex-wrap(none);
    padding: 10px 0;

    .feedback-form-label {
      @include flex-basis(120px);
      @include flex-grow(0);
      @include flex-shrink(0);

      text-align: right;
      padding-right: 10px;
    }

    input {
      margin: 0;
    }

    select {
      background: white;
      border: 1px solid rgb(221, 221, 221);
      height: 36px;
      line-height: 36px;
      margin: 0 0 0 5px;
      min-width: 130px;
    }
  }
}

.feedback-sending-div {
  height: 100%;
  min-width: 30px;
  .feedback-sending {
    position: absolute;
    right: 40px;
  }
}