header.navigation {
  $navigation-submenu-background-hover: $menus-hover !important;
  $navigation-height: 51px;
  
  .logo-wrapper {
    .logo {
      float: left;
      background: url('/assets/images/talend_logo.png') no-repeat;
      background-size: contain;
      width: 130px;
      height: $navigation-height - 10;
    }
  }

  ul li {
    &.nav-link a.icon {
      width: 40px;
      height: 35px;
      position: relative;
      top: 10px;
      @include filter(drop-shadow(0px 1px 1px #1f2024));

      &.t-top-bar_folder {
        background: url('/assets/images/top_link_folder.png') no-repeat center;
      }

      &.t-top-bar_marketplace {
        background: url('/assets/images/top_link_marketplace.png') no-repeat;
      }

      &.t-top-bar_share {
        background: url('/assets/images/top_link_share.png') no-repeat;
      }

      &.t-top-bar_notification {
        background: url('/assets/images/top_link_notification.png') no-repeat;
      }

      &.t-top-bar_help {
        background: url('/assets/images/top_link_help.png') no-repeat;
      }

      &.t-top-bar_profile {
        background: url('/assets/images/top_link_profile.png') no-repeat;
        width: 52px;
      }
    }
  }

  li.more.nav-link {
    ul li a {
      &:hover {
        background-color: $navigation-submenu-background-hover;
      }
    }
  }
}