<talend-navbar class="header">
    <a href="http://www.talend.com" class="logo-wrapper">
        <span class="logo"></span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button">MENU</a>
    <nav role="navigation">
        <ul class="navigation-menu show">
            <li class="nav-link"><a href="http://www.talend.com" data-icon="i" class="icon"></a></li>
            <li class="nav-link" id="nav_help">
                <a href="#"  data-icon="l" ng-click="navbarCtrl.startTour()" class="icon"></a>
            </li>
            <li class="nav-link"><a href="http://www.talend.com" data-icon="j" class="icon"></a></li>
            <li class="nav-link"><a href="http://www.talend.com" data-icon="h" class="icon"></a></li>

            <li class="nav-link margin-X2"><a href="http://www.talend.com" class="icon t-top-bar_notification">3</a></li>
            <li class="nav-link more"><a href="javascript:void(0)" data-icon="k" class="icon t-top-bar_profile nomore"></a>
                <ul class="submenu">
                    <li><a href="javascript:void(0)">{{ ::'LOGOUT' | translate }}</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">{{ ::'EDIT_PROFIL' | translate }}</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="navigation-tools">
        <div class="search-bar">
            <form role="search">
                <input type="search" placeholder="{{ ::'SEARCH' | translate }}" />
            </form>
        </div>
    </div>
</talend-navbar>

<ui-view class="content"></ui-view>

<footer class="footer" role="contentinfo">
    <div class="copyright">
        © 2015 Talend. All Rights Reserved | v1.0.m6-SNAPSHOT
    </div>
</footer>
