<talend-navbar class="header">
    <a href="http://www.talend.com" class="logo-wrapper">
        <span class="logo"></span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button">MENU</a>
    <nav role="navigation">
        <ul class="navigation-menu show">
            <li class="nav-link" title="Coming Soon ..."><a class="icon" data-icon="i"></a></li>
            <li class="nav-link"><a class="icon" style="color:white;" data-icon="y" id="onboarding-icon"
                                    ng-click="navbarCtrl.startTour('dataset')"></a></li>
            <li class="nav-link" title="Coming Soon ..."><a class="icon" data-icon="j" id="marketplace-icon"></a></li>
            <li class="nav-link" title="Coming Soon ..."><a class="icon" data-icon="h" id="message-icon"></a></li>
            <li class="nav-link" title="Coming Soon ..."><a class="icon notification-icon" id="notification-icon">3</a>
            </li>
            <!--<li class="nav-link more"><a class="icon nomore" data-icon="k" id="profile-icon"></a>
                <ul class="submenu">
                    <li><a>{{ ::'LOGOUT' | translate }}</a></li>
                    <li class="divider"></li>
                    <li><a>{{ ::'EDIT_PROFIL' | translate }}</a></li>
                </ul>
            </li>-->
        </ul>
    </nav>
    <div class="navigation-tools">
        <div class="search-bar">
            <form role="search">
                <input type="search" translate-once-placeholder="SEARCH" title="Coming Soon ..."/>
            </form>
        </div>
    </div>
</talend-navbar>

<ui-view class="content"></ui-view>

<footer class="footer" role="contentinfo">
    <div class="copyright">
        © 2015 Talend. All Rights Reserved | v1.0.m9-SNAPSHOT
    </div>
</footer>
