<talend-navbar class="header">
    <a href="http://www.talend.com" class="logo-wrapper">
        <span class="logo"></span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" translate-once="MENU"></a>
    <nav role="navigation">
        <ul class="navigation-menu show">
            <li class="nav-link" title="{{'COMING_SOON' | translate}}"><a class="icon" data-icon="i"></a></li>
            <li class="nav-link"><a class="icon" style="color:white;" data-icon="y" id="onboarding-icon"
                                    ng-click="navbarCtrl.startTour('dataset')"></a></li>
            <li class="nav-link" title="{{'COMING_SOON' | translate}}"><a class="icon" data-icon="j" id="marketplace-icon" ></a></li>
            <li class="nav-link" title="{{'FEEDBACK_TOOLTIP' | translate}}">
                <a class="icon" data-icon="H" id="message-icon" ng-click="navbarCtrl.openFeedbackForm()"></a>
            </li>
            <li class="nav-link" title="{{'COMING_SOON' | translate}}"><a class="icon notification-icon" id="notification-icon">3</a></li>
            <!--<li class="nav-link more"><a class="icon nomore" data-icon="k" id="profile-icon"></a>
                <ul class="submenu">
                    <li><a>{{ ::'LOGOUT' | translate }}</a></li>
                    <li class="divider"></li>
                    <li><a>{{ ::'EDIT_PROFIL' | translate }}</a></li>
                </ul>
            </li>-->
        </ul>
    </nav>
    <div class="navigation-tools">
        <div class="search-bar">
            <form role="search">
                <input type="search" translate-once-placeholder="SEARCH" title="{{'COMING_SOON' | translate}}"/>
            </form>
        </div>
    </div>
</talend-navbar>

<talend-modal class="feedback"
              fullscreen="false"
              close-button="true"
              disable-enter="true"
              state="navbarCtrl.feedbackModal">
    <div class="title"
         translate-once="FEEDBACK_FORM"></div>

    <form name="navbarCtrl.feedbackForm"
          class="feedback-form"
          ng-submit="navbarCtrl.feedbackForm.$valid && navbarCtrl.sendFeedback()">
        <div class="feedback-form-line">
            <span class="feedback-form-label" translate-once="FEEDBACK_MAIL"></span>
            <input type="text"
                   ng-model="navbarCtrl.feedback.mail"
                   ng-model-options="{debounce: { default: 300, blur: 0 }}"/>
        </div>

        <div class="feedback-form-line">
            <span class="feedback-form-label" translate-once="FEEDBACK_TITLE"></span>
            <input type="text"
                   ng-model="navbarCtrl.feedback.title"
                   ng-model-options="{debounce: { default: 300, blur: 0 }}"
                   can-be-blank="false"/>
            <select ng-options="type.value as type.name for type in navbarCtrl.feedbackTypes"
                    ng-model="navbarCtrl.feedback.type"></select>
            <select ng-options="severity.value as severity.name for severity in navbarCtrl.feedbackSeverities"
                    ng-model="navbarCtrl.feedback.severity"></select>
        </div>

        <div class="feedback-form-line">
            <span class="feedback-form-label" translate-once="FEEDBACK_DESCRIPTION"></span>
            <textarea rows="5"
                      can-be-blank="false"
                      ng-model-options="{debounce: { default: 300, blur: 0 }}"
                      ng-model="navbarCtrl.feedback.description"></textarea>
        </div>
        <div class="modal-buttons">
            <button type="button" class="talend-modal-close btn-secondary modal-secondary-button" translate-once="CANCEL"></button>
            <button class="btn-primary modal-primary-button"
                    ng-switch="navbarCtrl.isSendingFeedback"
                    ng-disabled="navbarCtrl.feedbackForm.$invalid || navbarCtrl.isSendingFeedback">
                <span ng-switch-when="false" translate-once="OK"></span>
                <span ng-switch-when="true"><i data-icon="c" class="icon continuous-rotate"></i></span>
            </button>
        </div>
    </form>
</talend-modal>


<ui-view class="content"></ui-view>

<footer class="footer" role="contentinfo">
    <div class="copyright">
        © 2015 Talend. All Rights Reserved | {{ ::navbarCtrl.version }}
    </div>
</footer>
