$datagrid-tooltip-font-size: .80em;

.datagrid-tooltip {

  .datagrid-tooltip-content {
    white-space: pre-wrap;
    cursor: pointer;
    font-family: $monospace;
    font-size: $datagrid-tooltip-font-size;
  }
  
  textarea {
    color: $black;
    font-family: $monospace;
    font-size: $datagrid-tooltip-font-size;
  }
}