.suggestions-part {
  $border-color: $shadow-gray;
  $menu-color: tint($black, 20%);
  $menu-background: $super-light-gray;

  .actions-suggestions{
    @include flex-column();
    height: 100%;

    .suggestions-title {
      padding-right: 20px;
      background-color: #F1F1F1;
      @include flex-basis(58px);
      @include flex-grow(0);
      @include flex-shrink(0);

      .title{
        width: 320px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
      }
    }

    >talend-tabs {
      position: relative;
      @include flex-grow(1);
      @include flex-shrink(1);

      .action-search {
        width: 94%;
        height: 25px;
        font-size: 0.8em;
        padding: 0 0 0 5px;
        margin: 5px 10px 5px 10px;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        box-shadow: none;
      };

      .action-suggestion-tab-items {
        height: calc(100% - 75px);
        overflow-y: auto;
        overflow-x: hidden;
        position: absolute;
        width: 100%;
      }

      .action-category {
        background-color: #F1F1F1;
        color: $black;
        font-weight: 300;
        padding-left: 5px;
      }
    }

    .filters-actions-form{
      @include flex-basis(30px);
      @include flex-grow(0);
      @include flex-shrink(0);

      &.ng-enter {
        @include animation(fadeIn 0.5s);
      }

      &.ng-leave {
        @include animation(fadeOut 0.5s);
      }

      background-color: #DDDDDD;
      font-size: 0.8em;
      font-weight: 600;
      right: 10px;
      padding: 5px;
      input {
        margin-left: 0.7em;
        margin-right: 0em;
      }
    }
  }

  .menu {
    color: $menu-color;

    .accordion {
      border-bottom: 1px solid $border-color;
      font-size: .95em;
      font-weight: 400;
      padding: 7px 2px 7px 0;

      &:hover{
        background-color: $menu-background;
      }

      a.trigger {
        cursor: pointer;
        color: inherit;
        padding-left: 10px;
        text-decoration: none;
        width:100%;
      }

      &.open {
        background-color: $menu-background;
        #trigger::before {
          content: "\25BE";
        }
      }
    }
  }

  .highlighted{
    background-color: yellow;
  }
}