.suggestions-part {
  $border-color: $shadow-gray;
  $menu-color: tint($black, 20%);
  $menu-background: $super-light-gray;

  .action-suggestion-tab-items{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu {
    color: $menu-color;

    .accordion {
      border-bottom: 1px solid $border-color;
      font-size: .95em;
      font-weight: 400;
      padding: 7px 2px 7px 0;

      &:hover{
        background-color: $menu-background;
      }

      a.trigger {
        cursor: pointer;
        color: inherit;
        padding-left: 10px;
        text-decoration: none;
        width:100%;
      }

      &.open {
        background-color: $menu-background;
        #trigger::before {
          content: "\25BE";
        }
      }
    }
  }

  .action-search {
    width: 95%;
    height: 25px;
    font-size: 0.8em;
    background: url("/assets/images/icone-loupe.gif") no-repeat scroll right center;
    padding: 0 20px 0 5px;
  };
}