.suggestions-part {
  $border-color: $shadow-gray;
  $menu-color: tint($black, 20%);
  $menu-background: $super-light-gray;

  .actions-suggestions{
    .label-switch{
      padding: 0;
      input[type="checkbox"] + .checkbox {
        margin-top: 0;
      }
    }

    .title-div{
      padding-right: 20px;
      background-color: #F1F1F1;
    }

    .title-action{
      width: 200px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;

    }
    .title-view-all {
      width: 100px;
      display: inline-block;
      font-size: 0.9em;
      color: cornflowerblue;
      overflow: hidden;
    }
  }



  .action-suggestion-tab-items{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu {
    color: $menu-color;

    .accordion {
      border-bottom: 1px solid $border-color;
      font-size: .95em;
      font-weight: 400;
      padding: 7px 2px 7px 0;

      &:hover{
        background-color: $menu-background;
      }

      a.trigger {
        cursor: pointer;
        color: inherit;
        padding-left: 10px;
        text-decoration: none;
        width:100%;
      }

      &.open {
        background-color: $menu-background;
        #trigger::before {
          content: "\25BE";
        }
      }
    }
  }

  .action-search {
    width: 94%;
    height: 25px;
    font-size: 0.8em;
    padding: 0 0 0 5px;
    margin: 0 10px 0 10px;
  };

  .highlighted{
    background-color: yellow;
  }
}