.suggestions-part {
  $border-color: $shadow-gray;
  $menu-color: tint($black, 20%);
  $menu-background: $super-light-gray;

  .actions-suggestions{
    .label-switch{
      padding: 0;
      input[type="checkbox"] + .checkbox {
        margin-top: 0;
      }
    }

    .action-category {
      background-color: #F1F1F1;
      font-weight: bold;
      padding-left: 5px;
    }

    .title-div{
      padding-right: 20px;
      background-color: #F1F1F1;
    }

    .title-action{
      width: 320px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: bottom;

    }
    .title-view-all {
      width: 100px;
      display: inline-block;
      font-size: 0.9em;
      color: cornflowerblue;
      overflow: hidden;
    }

    .filters-actions-form{
      background-color: #F1F1F1;
      .hr-style{
        margin:auto;
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
      &.animate-show.ng-hide-add, &.animate-show.ng-hide-remove {
        transition: all linear 0.5s;
      }
      &.animate-show.ng-hide {
        opacity: 0;
      }
      &.animate-show {
        opacity: 1;
      }
    }

  }

  .action-suggestion-tab-items{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu {
    color: $menu-color;

    .accordion {
      border-bottom: 1px solid $border-color;
      font-size: .95em;
      font-weight: 400;
      padding: 7px 2px 7px 0;

      &:hover{
        background-color: $menu-background;
      }

      a.trigger {
        cursor: pointer;
        color: inherit;
        padding-left: 10px;
        text-decoration: none;
        width:100%;
      }

      &.open {
        background-color: $menu-background;
        #trigger::before {
          content: "\25BE";
        }
      }
    }
  }

  .action-search {
    width: 95%;
    height: 25px;
    font-size: 0.8em;
    margin: 5px auto;
  };

  .highlighted{
    background-color: yellow;
  }
}