<div class="actions-suggestions">
    <div class="title-div" ng-if="actionsSuggestionsCtrl.column.name">
        <span class="title title-action" title="{{actionsSuggestionsCtrl.column.name}}">{{actionsSuggestionsCtrl.column.name}}</span>
        <span class="title-view-all">
            <span class="">View all</span>
            <label class="label-switch">
                <input type="checkbox"
                       ng-model='actionsSuggestionsCtrl.showAllAction'
                       ng-change='actionsSuggestionsCtrl.toggleShowAction()'/>
                <div class="checkbox"></div>
            </label>
        </span>

    </div>

    <div class="Description" ng-if="! actionsSuggestionsCtrl.columnSuggestions">Select a column to display its actions</div>

    <talend-tabs tab="actionsSuggestionsCtrl.tab" action-on-click="actionsSuggestionsCtrl.resizePanels()" ng-if="actionsSuggestionsCtrl.columnSuggestions" compile-template="{{actionsSuggestionsCtrl.searchActionString}}">
        <talend-tabs-item tab-title="Text">
            <div class="action-suggestion-tab-items">Coming soon ...</div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Cell">
            <div class="action-suggestion-tab-items">Coming soon ...</div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Line">
            <div class="action-suggestion-tab-items">Coming soon ...</div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Column" default="true" action-on-init="actionsSuggestionsCtrl.resizePanels()">
            <input type="search"
                   class="action-search"
                   placeholder="{{::'FIND_FUNCTION' | translate}}"
                   ng-model="actionsSuggestionsCtrl.suggestionService.searchActionString"
                   ng-model-options="{debounce: { default: 300, blur: 0 }}"
                   add-reset-button-to-input="actionsSuggestionsCtrl.suggestionService.resetSearchAction">
            <talend-accordions class="menu action-suggestion-tab-items">
                <talend-accordions-item
                        ng-repeat="transfo in actionsSuggestionsCtrl.columnSuggestions | actionsSuggestionsSearchFilter:actionsSuggestionsCtrl.suggestionService.searchActionString track by transfo.name"
                        action="actionsSuggestionsCtrl.scrollToBottom"
                        ng-switch="!!(transfo.parameters || transfo.items)">
                    <!--with dynamic parameters-->
                    <a class="trigger"
                       ng-switch-when="false"
                       ng-if="transfo.dynamic"
                       ng-click="actionsSuggestionsCtrl.select(transfo, 'column')" ng-bind-html="transfo.labelHtml"></a>

                    <!--no parameters-->
                    <a class="trigger"
                       ng-switch-when="false"
                       ng-if="!transfo.dynamic"
                       ng-click="actionsSuggestionsCtrl.select(transfo, 'column')"
                       ng-mouseenter="actionsSuggestionsCtrl.earlyPreview(transfo, 'column')({})"
                       ng-mouseleave="actionsSuggestionsCtrl.cancelEarlyPreview()" ng-bind-html="transfo.labelHtml"></a>

                    <!--with static parameters-->
                    <a class="trigger" ng-switch-when="true" ng-bind-html="transfo.labelHtml"></a>
                    <ul class="content" ng-switch-when="true">
                        <transform-params transformation="transfo"
                                          on-submit="actionsSuggestionsCtrl.transform(transfo, 'column')(params)"
                                          on-submit-hover-on="actionsSuggestionsCtrl.earlyPreview(transfo, 'column')(params)"
                                          on-submit-hover-off="actionsSuggestionsCtrl.cancelEarlyPreview(params)"></transform-params>
                    </ul>
                </talend-accordions-item>
            </talend-accordions>
        </talend-tabs-item>

        <talend-tabs-item tab-title="Table">
            <div class="action-suggestion-tab-items">
                <talend-accordions class="menu">
                    <talend-accordions-item>
                        <a>Remove Empty Lines</a>
                    </talend-accordions-item>
                </talend-accordions>
                <talend-accordions class="menu">
                    <talend-accordions-item>
                        <a>Create Email Addresses</a>
                    </talend-accordions-item>
                </talend-accordions>
                <talend-accordions class="menu">
                    <talend-accordions-item>
                        <a>Correct Postal Addresses</a>
                    </talend-accordions-item>
                </talend-accordions>
            </div>
        </talend-tabs-item>
    </talend-tabs>

    <!-- Dynamic params  -->
    <talend-modal fullscreen="false"
                  state="actionsSuggestionsCtrl.showDynamicModal"
                  close-button="true"
                  ng-if="actionsSuggestionsCtrl.showDynamicModal">

        <div ng-if="actionsSuggestionsCtrl.showModalContent">
            <div class="modal-title">{{ actionsSuggestionsCtrl.dynamicTransformation.label }}</div>
            <div class="modal-subtitle">{{ actionsSuggestionsCtrl.dynamicTransformation.description }}</div>

            <div ng-if="actionsSuggestionsCtrl.dynamicFetchInProgress">
                <i data-icon="c" class="icon continuous-rotate"></i>
            </div>
            <transform-params transformation="actionsSuggestionsCtrl.dynamicTransformation"
                              on-submit="actionsSuggestionsCtrl.transform(actionsSuggestionsCtrl.dynamicTransformation, actionsSuggestionsCtrl.dynamicScope)(params)"></transform-params>
        </div>
        <div ng-if="!actionsSuggestionsCtrl.showModalContent">
            <div class="modal-title">{{ actionsSuggestionsCtrl.dynamicTransformation.label }}</div>

            <div class="modal-subtitle">{{ actionsSuggestionsCtrl.emptyParamsMsg | translate }}</div>

        </div>
    </talend-modal>
</div>