<div class="actions-suggestions">
    <div class="title-div" ng-if="actionsSuggestionsCtrl.column.name">
        <span class="title title-action" title="{{actionsSuggestionsCtrl.column.name}}">{{actionsSuggestionsCtrl.column.name}}</span>
    </div>

    <div class="Description" ng-if="!actionsSuggestionsCtrl.columnSuggestionService.filteredTransformations" translate-once="SELECT_COLUMN_TO_DISPLAY_ACTIONS"></div>

    <talend-tabs tab="actionsSuggestionsCtrl.tab" action-on-click="actionsSuggestionsCtrl.resizePanels()" ng-if="actionsSuggestionsCtrl.columnSuggestionService.filteredTransformations">
        <talend-tabs-item tab-title="Text">
            <div class="action-suggestion-tab-items watermark">Coming soon ...</div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Cell">
            <div class="action-suggestion-tab-items watermark">Coming soon ...</div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Line">
            <div class="action-suggestion-tab-items watermark">Coming soon ...</div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Column" default="true" action-on-init="actionsSuggestionsCtrl.resizePanels()">
            <input type="search"
                   class="action-search"
                   id="action-suggestions-search"
                   translate-once-placeholder="FIND_FUNCTION"
                   ng-model="actionsSuggestionsCtrl.columnSuggestionService.searchActionString"
                   ng-model-options="{debounce: { default: 300, blur: 0 }}"
                   ng-change="actionsSuggestionsCtrl.columnSuggestionService.filterTransformations()"
                   talend-search-input>

            <div class="action-suggestion-tab-items">
                <div ng-repeat="categoryTransformations in actionsSuggestionsCtrl.columnSuggestionService.filteredTransformations track by $index"
                     ng-if="actionsSuggestionsCtrl.shouldRenderCategory(categoryTransformations)">
                    <div class="action-category" ng-bind-html="categoryTransformations.categoryHtml"></div>
                    <div>
                        <talend-accordions class="menu">
                            <talend-accordions-item
                                    ng-repeat="transfo in categoryTransformations.transformations track by transfo.name"
                                    ng-if="actionsSuggestionsCtrl.shouldRenderTransformation(transfo)"
                                    action="actionsSuggestionsCtrl.scrollToBottom"
                                    ng-switch="!!transfo.parameters">
                                <!--with dynamic parameters-->
                                <a class="trigger"
                                   ng-switch-when="false"
                                   ng-if="transfo.dynamic"
                                   ng-click="actionsSuggestionsCtrl.select(transfo, 'column')" ng-bind-html="transfo.labelHtml"></a>

                                <!--no parameters-->
                                <a class="trigger"
                                   ng-switch-when="false"
                                   ng-if="!transfo.dynamic"
                                   ng-click="actionsSuggestionsCtrl.select(transfo, 'column')"
                                   ng-mouseenter="actionsSuggestionsCtrl.earlyPreview(transfo, 'column')({})"
                                   ng-mouseleave="actionsSuggestionsCtrl.cancelEarlyPreview()" ng-bind-html="transfo.labelHtml"></a>

                                <!--with static parameters-->
                                <a class="trigger" ng-switch-when="true" ng-bind-html="transfo.labelHtml"></a>
                                <ul class="content" ng-switch-when="true">
                                    <transform-form transformation="transfo"
                                                      on-submit="actionsSuggestionsCtrl.transform(transfo, 'column')(params)"
                                                      on-submit-hover-on="actionsSuggestionsCtrl.earlyPreview(transfo, 'column')(params)"
                                                      on-submit-hover-off="actionsSuggestionsCtrl.cancelEarlyPreview(params)"></transform-form>
                                </ul>
                            </talend-accordions-item>
                        </talend-accordions>
                    </div>
                </div>
            </div>

        </talend-tabs-item>

        <talend-tabs-item tab-title="Table">
            <div class="action-suggestion-tab-items">
                <talend-accordions class="menu">
                    <talend-accordions-item>
                        <a translate-once="REMOVE_EMPTY_LINES"></a>
                    </talend-accordions-item>
                </talend-accordions>
                <talend-accordions class="menu">
                    <talend-accordions-item>
                        <a translate-once="CREATE_EMAIL"></a>
                    </talend-accordions-item>
                </talend-accordions>
                <talend-accordions class="menu">
                    <talend-accordions-item>
                        <a translate-once="CORRECT_POSTAL_ADDRESS"></a>
                    </talend-accordions-item>
                </talend-accordions>
            </div>
        </talend-tabs-item>
    </talend-tabs>

    <!-- Dynamic params  -->
    <talend-modal fullscreen="false"
                  state="actionsSuggestionsCtrl.showDynamicModal"
                  close-button="true"
                  ng-if="actionsSuggestionsCtrl.showDynamicModal">

        <div ng-if="actionsSuggestionsCtrl.showModalContent">
            <div class="modal-title">{{ actionsSuggestionsCtrl.dynamicTransformation.label }}</div>
            <div class="modal-subtitle">{{ actionsSuggestionsCtrl.dynamicTransformation.description }}</div>

            <div ng-if="actionsSuggestionsCtrl.dynamicFetchInProgress">
                <i data-icon="c" class="icon continuous-rotate"></i>
            </div>
            <transform-form transformation="actionsSuggestionsCtrl.dynamicTransformation"
                              on-submit="actionsSuggestionsCtrl.transform(actionsSuggestionsCtrl.dynamicTransformation, actionsSuggestionsCtrl.dynamicScope)(params)"></transform-form>
        </div>
        <div ng-if="!actionsSuggestionsCtrl.showModalContent">
            <div class="modal-title">{{ actionsSuggestionsCtrl.dynamicTransformation.label }}</div>

            <div class="modal-subtitle">{{ actionsSuggestionsCtrl.emptyParamsMsg | translate }}</div>

        </div>
    </talend-modal>

    <div class="filters-actions-form animate-show" ng-show="actionsSuggestionsCtrl.state.playground.filter.gridFilters.length">
        <hr class="hr-style">
        <form name="myForm">
            <span translate-once="APPLY_CHANGE_TO"></span>
            <input type="radio" ng-model="actionsSuggestionsCtrl.state.playground.filter.applyTransformationOnFilters" ng-value="false" />
            <span translate-once="ALL_LINES"></span>
            <input type="radio" ng-model="actionsSuggestionsCtrl.state.playground.filter.applyTransformationOnFilters" ng-value="true" />
            <span translate-once="FILTERED_LINED"></span>
        </form>
        <hr class="hr-style">
    </div>


</div>