<div class="actions-suggestions">
    <div class="suggestions-title" ng-if="actionsSuggestionsCtrl.state.playground.grid.selectedColumn.name">
        <span class="title" title="{{actionsSuggestionsCtrl.state.playground.grid.selectedColumn.name}}">{{actionsSuggestionsCtrl.state.playground.grid.selectedColumn.name}}</span>
    </div>

    <div id="actions-ghost"
         ng-if="actionsSuggestionsCtrl.state.playground.suggestions.isLoading"
         class="loading-container">
        <div class="loading-msg">
            <span class="wait-icon continuous-rotate" ><i data-icon="c" class="icon"></i></span>
            <span class="wait-text" translate-once="REFRESHING_WAIT"></span>
        </div>
    </div>

    <talend-tabs tab="actionsSuggestionsCtrl.suggestionService.tab" ng-if="!actionsSuggestionsCtrl.state.playground.suggestions.isLoading">
        <talend-tabs-item tab-title="Text">
            <div class="action-suggestion-tab-items watermark" translate-once="COMING_SOON"></div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Cell">
            <div class="action-suggestion-tab-items watermark" translate-once="COMING_SOON"></div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Line" ng-switch="!!actionsSuggestionsCtrl.state.playground.grid.selectedLine">
            <actions-list class="action-suggestion-tab-items"
                          actions="actionsSuggestionsCtrl.state.playground.suggestions.line.filteredTransformations"
                          scope="line"
                          should-render-category="actionsSuggestionsCtrl.shouldRenderCategory"
                          should-render-action="actionsSuggestionsCtrl.shouldRenderAction"
                          ng-switch-when="true"
                          scroll-to-bottom="actionsSuggestionsCtrl.scrollToBottom"></actions-list>

            <div class="Description"
                 ng-switch-when="false"
                 translate-once="SELECT_LINE_TO_DISPLAY_ACTIONS"></div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Column" default="true" ng-switch="!!actionsSuggestionsCtrl.state.playground.grid.selectedColumn">
            <input type="search"
                   class="action-search"
                   id="action-suggestions-search"
                   translate-once-placeholder="FIND_FUNCTION"
                   ng-model="actionsSuggestionsCtrl.state.playground.suggestions.column.searchActionString"
                   ng-model-options="{debounce: { default: 300, blur: 0 }}"
                   ng-change="actionsSuggestionsCtrl.columnSuggestionService.filterTransformations()"
                   talend-search-input
                   ng-switch-when="true">

            <actions-list class="action-suggestion-tab-items"
                          actions="actionsSuggestionsCtrl.state.playground.suggestions.column.filteredTransformations"
                          scope="column"
                          should-render-category="actionsSuggestionsCtrl.shouldRenderCategory"
                          should-render-action="actionsSuggestionsCtrl.shouldRenderAction"
                          ng-switch-when="true"
                          scroll-to-bottom="actionsSuggestionsCtrl.scrollToBottom"></actions-list>

            <div class="Description"
                 ng-switch-when="false"
                 translate-once="SELECT_COLUMN_TO_DISPLAY_ACTIONS"></div>
        </talend-tabs-item>

        <talend-tabs-item tab-title="Table">
            <div class="action-suggestion-tab-items">
                <talend-accordions class="action">
                    <talend-accordions-item>
                        <a translate-once="REMOVE_EMPTY_LINES"></a>
                    </talend-accordions-item>
                </talend-accordions>
                <talend-accordions class="action">
                    <talend-accordions-item>
                        <a translate-once="CREATE_EMAIL"></a>
                    </talend-accordions-item>
                </talend-accordions>
                <talend-accordions class="action">
                    <talend-accordions-item>
                        <a translate-once="CORRECT_POSTAL_ADDRESS"></a>
                    </talend-accordions-item>
                </talend-accordions>
            </div>
        </talend-tabs-item>
    </talend-tabs>

    <div class="filters-actions-form" ng-if="actionsSuggestionsCtrl.state.playground.filter.gridFilters.length">
        <span translate-once="APPLY_CHANGE_TO"></span>
        <input type="radio" ng-model="actionsSuggestionsCtrl.state.playground.filter.applyTransformationOnFilters" ng-value="false" />
        <span translate-once="ALL_LINES"></span>
        <input type="radio" ng-model="actionsSuggestionsCtrl.state.playground.filter.applyTransformationOnFilters" ng-value="true" />
        <span translate-once="FILTERED_LINED"></span>
    </div>
</div>