.editable-select {
  $width: 235px;
  $caret-width: 20px;
  
  position: relative;

  @mixin superpose {
    position: absolute;
    left: 0;
    top: 0;
  }

  @mixin size {
    height: 32px;
    width: $width;
  }

  select {
    @include superpose();
    @include size();
    width: $width + $caret-width;
    max-width: inherit;
    border: 0;
  }
  input {
    @include superpose();
    @include size();
  }
}
