.cluster {
  $background-color: $light-gray;
  $border-color: $medium-gray;
  $left-space: 15px;
  $text-color: $dark-gray;

  $column-one-width: 2 * $left-space + 15px;
  $column-two-width: 300px;
  $column-three-width: 300px;

  $table-width: 800px;
  $table-height: 430px;
  $table-header-height: 30px;
  $table-body-height: $table-height - $table-header-height;

  $disabled-background-color: $medium-gray;
  $disabled-border-color: $black;
  $disabled-text-color: $white;

  min-width: $table-width;

  @mixin column-sizes() {
    &:nth-child(1) {
      @include flex-basis($column-one-width);
      @include flex-grow(0);
      text-align: center;

      input[type="checkbox"] {
        margin: 0;
      }
    }
    &:nth-child(2) {
      @include flex-basis($column-two-width);
      @include flex-grow(0);
    }
    &:nth-child(3) {
      @include flex-basis($column-three-width);
      @include flex-grow(1);
    }
  }

  @mixin column-border($color, $full: false) {
    border-bottom: 1px solid $color;
    border-right: 1px solid $color;
    @if $full {
      border-top: 1px solid $color;
    }

    &:nth-child(1) {
      border-left: 1px solid $color;
    }
  }

  .cluster-line {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(stretch);

    >div {
      @include column-sizes();
      @include column-border($border-color);
      padding: 10px $left-space;

      @include display(flex);
      @include align-items(center);
    }
  }

  .cluster-header {
    @include flex-basis($table-header-height);
    @include flex-grow(0);

    >div {
      @include display(flex);
      @include align-items(center);
      @include column-border($border-color, true);

      background-color: $dark-gray;
      color: $white;
      height: $table-header-height;

      input {
        margin: 0;
      }
    }
  }

  .cluster-body {
    @include flex-basis($table-body-height);
    @include flex-grow(0);

    overflow-y: auto;
    overflow-x: hidden;

    >.cluster-line {
      @include transition(background-color 0.3s ease-in-out);
      color: $text-color;

      &:nth-child(odd){
        background-color: $background-color;
      }

      &.disabled {
        background-color: $disabled-background-color;
        color: $disabled-text-color;
        font-style: italic;

        >div {
          @include column-border($disabled-border-color);
        }
      }
    }

    input {
      color: $text-color;
    }
  }
}