.transformation-params {
  $border-color: $medium-gray;
  $left-space: 15px;

  $background-color: $light-gray;
  $column-one-width: 30px;
  $column-two-width: 420px;
  $column-three-width: 350px;
  $table-width: 800px;
  $table-height: 350px;
  $table-header-height: 30px;
  $table-body-height: $table-height - $table-header-height;
  $text-color: $dark-gray;

  $disabled-background-color: $medium-gray;
  $disabled-border-color: $black;
  $disabled-text-color: $white;

  @mixin column-sizes() {
    &:nth-child(1) {
      min-width: $column-one-width;
      padding: 0px 5px;
      text-align: center;

      input[type="checkbox"] {
        margin: 0;
      }
    }
    &:nth-child(2) { min-width: $column-two-width; }
    &:nth-child(3) { width: $column-three-width; }
  }

  table.cluster {
    max-height: $table-height;
    width: $table-width;

    >thead tr {
      display: block;
      position: relative;

      th {
        height: $table-header-height;
        line-height: $table-header-height;

        background-color: $dark-gray;
        color: $white;

        border: 1px solid $border-color;
        padding: 3px 3px 3px $left-space;

        @include column-sizes();
      }
    }

    >tbody {
      display: block;
      width: 100%;
      max-height: $table-body-height;
      overflow-y: auto;
      overflow-x: hidden;

      >tr{
        @include transition(background-color 0.3s ease-in-out);

        &:nth-child(odd){
          background-color: $background-color;
        }

        &.disabled {
          background-color: $disabled-background-color;
          color: $disabled-text-color;
          font-style: italic;

          >td {
            border: 1px solid $disabled-border-color;
          }
        }

        >td {
          @include column-sizes();

          font-size: 0.9em;
          color: $text-color;

          border: 1px solid $border-color;
          padding: 0px $left-space;

          //The cluster cell contains several tables created by simple/choice parameters
          //The styles must be overriden to avoid too much space
          table {
            padding: 0;
            margin: 0;

            td {
              padding: 5px 0px;
            }
          }
        }
      }
    }
  }
}
