.dataset-sheet-preview {
  padding-right: 20px;
  padding-left: 20px;

  margin-bottom: 10px;

  table {
    margin: 20px;
    width: 80%;

    td {
      padding: 0.25em 0;
    }

    input, select {
      margin: 0;
    }

    .form-title {
      text-align: right;
      width: 30%;
      padding-right: 10px;
    }
  }

  #datasetSheetPreviewGrid {
    width: 800px;
    height: 380px;

    margin: 0;

    &.datagrid .slick-header-columns {
      min-height: 29px;
    }
  }
}