<div class="param">
    <div class="param-row">


        <div class="param-name"
             data-prep-tooltip="{{::columnParamCtrl.parameter.description}}"
             ng-if="::(columnParamCtrl.label !== 'false')">
            {{::columnParamCtrl.parameter.label}}:
        </div>

        <select ng-model="columnParamCtrl.parameter.value"
                ng-options="option.id as option.name for option in columnParamCtrl.columns"
                class="param-input"
                required></select>
    </div>
</div>
