// Application width (data-prep grid is full-screen)
$max-width: 1140px !important;

// Background overlay
$color-overlay-background: #0b1f30;
$opacity-overlay-background: 0.3;

// Secondary colors
$secondary-title: #AEAEAE;
$secondary-text: #99999A;

// button colors
$button-important: #b6be00;
$button-toggle: transparent;
$button-primary: #b6be00;
$button-primary-text: white;
$button-secondary: #e2e2e2;
$button-secondary-text: black;

// menus
$menus-hover: rgba(138, 188, 0, 0.8);
$action-hover-background: #a1b2c2;

// toaster
$color-ok:#8abc00 ;
$color-warning: #ffcd00 ;
$color-error: #ce6564 ;

// drop shadows
$icon-drop-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
$box-shadow-to-right: 5px 0px 8px rgba(0, 0, 0, 0.1);
$box-shadow-to-left: -5px 0px 8px rgba(0, 0, 0, 0.1);

// colors
$white: #FFFFFF ;
$light-blue: #e1eff2;
$pale-blue: #b1c6d8;
$blue: #4fc1de ;
$dark-blue: #266092;
$background-blue: #a1b2c2;
$green: #c1d906 ;
$dark-green: #b6be00;
$dark-gray: #555964 ;
$medium-gray: #99999a ;
$shadow-gray: #DDDDDD ;
$light-gray: #EEEEEF ;
$super-light-gray: #f5f5f5 ;
$black: #000000 ;
$orange: #ffa616;
$brown: #B3AF76;

// Quality Bar
$ok-color: rgb(138, 188, 0);
$empty-color: $white;
$nok-color: rgb(247, 168, 0);
$unknown-color: $medium-gray;

// Preview
$new-color: #e6efa5;
$update-color: #c1e9f3;
$delete-color: $shadow-gray;

//lookup
$lookup-selected-column: #00a6ce;