// Secondary colors
$secondary-title: #AEAEAE;
$secondary-text: #999999;

// button colors
$button-important: #b6be00;

// menus
$menus-hover: rgba(138, 188, 0, 0.8);
$action-hover-background: #a1b2c2;