// Secondary colors
$secondary-title: #AEAEAE;
$secondary-text: #999999;

// button colors
$button-primary: #b6be00;
$button-primary-text: white;
$button-secondary: #e2e2e2;
$button-secondary-text: black;

// menus
$menus-hover: rgba(138, 188, 0, 0.8);
$action-hover-background: #a1b2c2;

// toaster
$color-ok:#8abc00 ;
$color-warning: #ffcd00 ;
$color-error: #ce6564 ;