@mixin menu-list() {
  & > li {
    border: none;
    line-height: 1.42857143;
    padding: 3px 20px;
    white-space: nowrap;

    &:hover {
      background-color: $menus-hover;
    }

    a {
      color: #333;
      font-size: 0.8em;
      font-weight: normal;
      text-transform: none;
    }

    &.divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
      padding: 0;
    }
  }
}