#filter-bar {
  background-color: $shadow-gray;
  color: $dark-gray;
  min-height: 45px;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);

  .title {
    font-size: .9em;
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(150px);
    padding-left: 15px;
  }

  .search {
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(150px);
  }

  .list {
    @include flex-grow(1);
    @include flex-shrink(1);
    @include flex-basis(200px);
  }

  .monitor {
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(100px);
  }
}
