<header class="subheader">
    <div class="subheader-wrapper">
        <ul class="">
            <li class="primary">
                    <button type="button" class="t-btn t-btn-import-new-file" id="button1"
                            ng-click="homeCtrl.openDatasetFileSelection()">
                        Import New File
                    </button>
                    <input type="file"
                           id="datasetFile"
                           name="datasetFile"
                           class="ng-hide"
                           ng-file-select
                           accept="*.csv"
                           ng-model="homeCtrl.datasetFile"
                           ng-file-change="homeCtrl.uploadDatasetFile()"/>
            </li>

            
            <!-- 	        FOR DEMO PURPOSE ONLY -->
            <li>
                <img src="assets/images/images/breadcrumb.png"
                     alt="this is a fake breadcrumb for demo purpose" height="42"
                     width="565">
            </li>
        </ul>
    </div>
</header>