.horizontal-barchart-cls {
  font-family: $inconsolota;
  .bg-rect {
    fill: $medium-gray;
    cursor: pointer;
  }

  .primaryBar,
  .secondaryBar {
    rect {
      &.transparentBar {
        fill: $light-blue;
      }
      &.blueBar {
        fill: $dark-blue;
      }
      &.brownBar {
        fill: $brown;
      }
    }
  }

  .label {
    background-color: rgba(255, 255, 255, 0);
    font-size: .8em;
    padding-top: 3px;
    padding-left: 10px;
    font-family: $inconsolota;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.blueBar {
      color: $dark-green;
    }
    &.brownBar {
      color: $dark-brown;
    }
  }

  .axis {
    shape-rendering: crispEdges;

    path {
      fill: none;
    }

    &.x {
      line {
        stroke: #fff;
        stroke-opacity: .0;
      }

      text {
        font-size: .8em;
        fill: $medium-gray;
      }
    }

    &.y {
      path {
        stroke: $shadow-gray;
      }

      text {
        display: none;
      }
    }
  }

  .hiddenChars {
    background-color: #E9E9E9;
    border: 1px dotted #BABABA;
    white-space: pre;
  }

  &.d3-tip {
    line-height: 1;
    font-size: .8em;
    font-weight: 400;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: $white;
    border-radius: 2px;
    z-index: 100000;
    right: 15px;

    &:after {
      /* Creates a small triangle extender for the tooltip */
      box-sizing: border-box;
      display: inline;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }
  }

  /* Style northward tooltips differently */
  &.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

}
