<div class="column-profile">
    <horizontal-barchart id="barChart"
                width="250"
                height="400"
                on-click="columnProfileCtrl.barchartClickFn"
                visu-data="columnProfileCtrl.processedData"
                key-field="occurrences"
                value-field="data"
               ></horizontal-barchart>

    <highchart id="geochart"
               ng-if="columnProfileCtrl.stateDistribution"
               config="columnProfileCtrl.chartConfig"></highchart>
</div>
