<div class="column-profile">
    <ul class="menu talend-accordion">
        <li>Selected col : {{columnProfileCtrl.selectedColumn.id}}</li>
    </ul>

    <highchart id="barChart"
               ng-if="columnProfileCtrl.distribution"
               config="columnProfileCtrl.chartConfig"></highchart>

    <highchart id="pieChart"
               ng-if="columnProfileCtrl.pieDistribution"
               config="columnProfileCtrl.chartConfig"></highchart>

    <highchart id="rangeChart"
               ng-if="columnProfileCtrl.rangeDistribution"
               config="columnProfileCtrl.chartConfig"></highchart>

    <highchart id="geochart"
               ng-if="columnProfileCtrl.stateDistribution"
               config="columnProfileCtrl.chartConfig"></highchart>
</div>