.DS_Store
.project
.settings
target/
.idea/
*.ipr
*.iml
*.iws
out/


dataprep-webapp/src/assets/fonts/font_dl_from_google.sh

#jenv file
.java-version
devENV.sh
dataprep-webapp/run.sh

#generated folders
cache/

