.DS_Store
.project
.classpath
.settings
target/
.idea/
*.ipr
*.iml
*.iws
.sonar/
out/


dataprep-webapp/src/assets/fonts/font_dl_from_google.sh

#jenv file
.java-version
devENV.sh
dataprep-webapp/run.sh

npm-debug.log

#generated folders
./cache/
