@import "cluster/transformation-cluster-params";

.transformation-params {

  $background: rgba(89, 89, 100, 0.9);

  select {
    margin: 0;
  }

  .param {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(stretch);

    div:hover {
      position: relative;
    }
    div[valuetooltip]:hover:after {
      content: attr(valuetooltip);
      padding: 4px 8px;
      color: $white;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1000;
      background-color:$background;
      box-shadow: $box-shadow;
      display: table-cell;
      max-width: 200px;
    }


    padding: 10px;
    &.param-no-space {
      padding: 0;
    }

    .param-row {
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include align-items(center);

      margin-bottom: 20px;
      .param-name {
        @include flex-basis(30px);
        @include flex-grow(2);
      }

      .param-input {
        @include flex-basis(120px);
        @include flex-grow(2);

        input {
          margin: 0;
        }
      }

      .param-desc-icon {
        @include flex-basis(26px);
        padding: 5px;
        cursor: pointer;
      }

      .param-error {
        @include flex-basis(100%);
      }
    }
  }

  .param-buttons{
    text-align: right;
    padding: 0px 10px 10px 0px;
  }
}
