@import "cluster/transformation-cluster-params";

.transformation-params {
  select {
    margin: 0;
  }

  .param {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(flex-start);
    @include align-items(stretch);

    padding: 10px;
    &.param-no-space {
      padding: 0;
    }

    .param-row {
      @include display(flex);
      @include flex-direction(row);
      @include flex-wrap(wrap);
      @include align-items(center);

      .param-name {
        @include flex-basis(150px);
        @include flex-grow(1);
      }

      .param-input {
        @include flex-basis(250px);
        @include flex-grow(2);

        input {
          margin: 0;
        }
      }

      .param-desc-icon {
        @include flex-basis(26px);
        padding: 5px;
        cursor: pointer;
      }

      .param-error {
        @include flex-basis(100%);
      }
    }
  }

  .param-buttons{
    text-align: right;
    padding: 0px 10px 10px 0px;
  }
}
