@import "cluster/transformation-cluster-params";
@import "date/transformation-date-params";
@import "simple/transformation-simple-param";
@import "choice/transformation-choice-param";

.transformation-params {
  select,
  input {
    margin: 0;
  }

  .param-buttons{
    text-align: right;
    padding: 0 10px 10px 0;
  }
}
