<div class="transformation-params">
    <form ng-submit="paramsCtrl.transformWithParam()" name="paramsCtrl.paramForm">
        <!-- Menu item param -->
        <transform-simple-params
                ng-if="paramsCtrl.transformation.parameters"
                parameters="paramsCtrl.transformation.parameters">
        </transform-simple-params>

        <!-- Choice -->
        <transform-choice-params
                ng-if="paramsCtrl.transformation.items"
                choices="paramsCtrl.transformation.items">
        </transform-choice-params>
    </form>

    <div class="param-buttons">
        <button ng-disabled="paramsCtrl.paramForm.$invalid"
                class="param-primary-button t-btn-primary"
                ng-click="paramsCtrl.transformWithParam()"
                ng-mouseleave="paramsCtrl.submitHoverOff()"
                ng-mouseenter="paramsCtrl.submitHoverOn()">Submit</button>
    </div>
</div>
