$datagrid-line-odd: #f9f9f9;
$datagrid-line-border: #ddd;

$datagrid-cell: $dark-gray;
$datagrid-cell-bkg-active: #e1e1e1;

$datagrid-cell-font-size: .80em;

@mixin cellImitation() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1px 4px 2px;
}

.index-column {
  background-color: #555964 !important;
  color: $white !important;
}

.slick-header-columns {
  height: 59px !important;
}

.lookup-slick-header-column-index {
  height: 80px;
  font-weight: bold;
  background-color: #555964;
  color: #ffffff;
  padding: 5px 5px;
}

.index-cell {
  text-align: right;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-ruler {
  font-size: $datagrid-cell-font-size;
  font-family: $monospace;
  display: none;
  white-space: pre;
}

.red-rect {
  background-color: $nok-color;
  width: 5px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.invisible-rect {
  background-color: inherit;
  width: 5px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.datagrid-tooltip-lookup {

  .datagrid-tooltip-content {
    white-space: pre-wrap;
    cursor: pointer;
    font-family: $monospace;
    font-size: .80em;

    .hiddenChars {
      background-color: #E9E9E9;
      border: 1px dotted #BABABA;
    }

    .hiddenCharsBreakLine {
      background-color: #e9e9e9;
      border: 1px dotted #BABABA;
    }
  }

  .hiddenChars {
    background-color: #E9E9E9;
    border: 1px dotted #BABABA;
  }

  .hiddenCharsBreakLine {
    background-color: #e9e9e9;
    border: 1px dotted #BABABA;
  }
}

.datagrid-lookup {

  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 1px solid $shadow-gray;

  //-------------------------------------------------Slickgrid hack-----------------------------------------------------
  //not frozen columns width to fit resizable container
  .slick-pane-right {
    width: calc(100% - 45px) !important;
  }

  //not frozen viewport should fit its container size (slick-pane-right)
  .slick-viewport-right {
    width: 100% !important;
  }

  //set the reorder placeholder height to fit column height
  .slick-sortable-placeholder {
    height: 59px !important;
  }

  //------------------------------------------------Data prep column----------------------------------------------------
  .slick-header-columns {
    border-bottom: 1px solid silver;
    box-sizing: content-box;
    min-height: 80px;
    background-color: $white;

    .slick-header-column.ui-state-default {
      line-height: inherit;
      height: auto;
      padding: 0;
    }
  }

  //-----------------------------------------------Data prep content----------------------------------------------------
  .slick-row {
    position: absolute;
    background: white;
    border: 0;
    line-height: 20px;

    &.ui-widget-content,
    &.slick-row.ui-state-active {
      position: absolute;
      border: 0;
      width: 100%;
    }

    &:nth-of-type(odd) {
      background-color: $datagrid-line-odd;
    }

    &.active {
      background-color: #DFE8F6;
    }
  }

  .slick-cell {
    box-sizing: content-box;
    border-color: $datagrid-line-border;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 7px;
    color: $datagrid-cell;
    font-size: $datagrid-cell-font-size;
    font-family: $monospace;
    white-space: pre;

    &.selected {
      background-color: #DFE8F6;
    }

    &.numbers {
      text-align: right;
    }

    &:hover {
      background-color: $datagrid-cell-bkg-active;
      cursor: cell;
    }

    &.highlight {
      background-color: $green;
    }

    &.active {
      border: 2px solid $black;
      height: 19px;
      padding: 0 7px 2px 3px;
      background-color: $white;
    }

    &.editable {
      padding-left: 0;

      .bottom {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      textarea {
        height: auto !important;
        padding: 1px 0 0 2px;
        margin: 0;
        min-width: 280px;

        font-family: $monospace;
      }

      .checkboxContainer {
        background: darkgray;
        color: white;
        margin-top: -5px;
        text-align: center;
        white-space: pre-line;
        min-width: 280px;

        input[type="checkbox"] {
          vertical-align: middle;
        }
      }
    }

    .cellNewValue {
      @include cellImitation();
      background-color: $new-color;
    }

    .cellUpdateValue {
      @include cellImitation();
      background-color: $update-color;
    }

    .cellDeletedValue {
      color: $medium-gray;
      @include cellImitation();
      background-color: $delete-color;
      text-decoration: line-through;
    }

    .hiddenChars {
      background-color: #e9e9e9;
      border: 1px dotted #BABABA;
    }
  }

  //--------------------------------------------------Data lookup-------------------------------------------------------
  &.lookup {
    .slick-cell.selected {
      background: $lookup-selected-column;
    }
  }
}
