<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="data-prep" class="no-js">
<!--<![endif]-->
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Talend - Data Shaker</title>

<link rel="stylesheet" media="screen" href="lib/dependencies/css/bootstrap.min.css">
<link rel="stylesheet" media="screen" href="lib/dependencies/css/bootstrap-theme.css">
<link rel="stylesheet" media="screen" href="lib/dependencies/css/jquery.resizableColumns.css">
<link rel="stylesheet" media="screen" href="lib/dependencies/css/ng-grid.min.css">
<link rel="stylesheet" media="screen" href="lib/dependencies/css/main.css">

<link rel="shortcut icon" type="image/png" href="images/favicon.png">

<link
  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic'
  rel='stylesheet' type='text/css'>

<!-- build:js lib/third-party.js -->
<!-- bower:js -->
<script src="lib/dependencies/js/angular-resource.min.js"></script>
<script src="lib/dependencies/js/angular.min.js"></script>
<script src="lib/dependencies/js/bootstrap.min.js"></script>
<script src="lib/dependencies/js/jquery.min.js"></script>
<script src="lib/dependencies/js/jquery.resizableColumns.js"></script>
<script src="lib/dependencies/js/ng-grid-2.0.11.min.js"></script>
<script src="lib/dependencies/js/ui-bootstrap-tpls.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js script/all.js -->
<script src="table_decoration.js"></script>
<script src="app.js"></script>
<!-- endbuild -->

</head>
<body ng-controller="RecordsCtrl">

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid t-top-bar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse t-top-banner">
        <ul class="nav navbar-nav">
          <li><a class="t-top-bar-logo shadowed navbar-brand" href="http://dev.talend.com"></a></li>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control t-search-inputfield" placeholder="Search anything here...">
        </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="t-top-bar_folder shadowed navbar-brand" href="http://dev.talend.com"></a></li>
          <li><a class="t-top-bar_marketplace shadowed navbar-brand" href="http://dev.talend.com"></a></li>
          <li><a class="t-top-bar_share shadowed navbar-brand" href="http://dev.talend.com"></a></li>
          <li><a class="t-top-bar_notification shadowed navbar-brand" href="http://dev.talend.com"></a></li>
          <li class="dropdown"><a href="#" class="dropdown-toggle shadowed t-top-bar_profile" data-toggle="dropdown" role="button"
            aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">LOGOUT</a>
              <li>
              <li><a href="#">EDIT</a></li>
            </ul></li>
        </ul>

      </div>
        	<div class="t-top-toolbar">
  	    <section>
      <form class="form-inline" role="form">
<!--         <div class="t-p"> -->
<!--           <p>Hey! Try out these available actions on this data subset:</p> -->
<!--         </div> -->
        <div class="form-group">
          <button type="button" class="t-btn" id="button1" ng-click="loadFileJson()">Load file from Json</button>
        </div>
        <div class="form-group">
          <button type="button" class="t-btn" id="button7" ng-click="loadFile()">Load file from java</button>
        </div>
        <div class="form-group">
          <button type="button" class="t-btn" id="button2" onclick="loadTableFeedbackStyles()">Refresh</button>
        </div>
        <div class="form-group">
          <button type="button" class="t-btn" id="button3">Split</button>
        </div>
        <div class="form-group">
          <button type="button" class="t-btn" id="button4">Filter</button>
        </div>
        <div class="form-group">
          <button type="button" class="t-btn" id="button5">Concatenate</button>
        </div>
        <div class="form-group">
          <button type="button" class="t-btn" id="button6">Keep</button>
        </div>
      </form>
<!--       <p>&nbsp;</p> -->
    </section>
    </div>
    </div>

  </nav>
  <div class="container-fluid t-container">
<!--     <section id="page_title"> -->
<!--       <h1 class="main_title">SFDC - My Best Customers</h1> -->
<!--       <h5 class="main_description">This is the monthly extract of my SFDC customers, usually around 50k lines</h5> -->
<!--       <br class="clear"> -->
<!--     </section> -->

<!--     <import-local-file></import-local-file> -->
    <dataset-grid></dataset-grid>
    <section>
      <hr class="clear">
    </section>
  </div>

	<div id="footer" class="container">
	    <nav class="navbar navbar-default navbar-fixed-bottom footer">
	        <div class="navbar-inner navbar-content-center">
	      		<span>© 2014 Talend. All Rights Reserved.</span>
	        </div>
	    </nav>
	</div>

</body>
</html>

