.navigation-list {
  border-top: 1px solid $light-gray;
  font-size: .95em;
  height: 30px;

  .items-list-wrapper{
    display: inline-block;
    width: calc(100% - 100px);
    height: 28px;
    vertical-align: bottom;
    overflow: hidden;
    float: left;
  }

  .back-forth-btn {
    display: inline;
    margin-right: 10px;
    height: 29px;
    float: left;

    button {
      padding: 0;
      margin-left: 10px;
      background-color: transparent;
      width: 0;
      height: 0;

      &.arrow-left {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid $medium-gray;
      }

      &.arrow-right {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid $medium-gray;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .items-list {
    height: 29px;
    position: relative;

    .item-label {
      cursor: pointer;
      text-transform: uppercase;
      display: inline-block;
      padding: 0 10px 2px 8px;
      border: 1px solid $shadow-gray;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: bottom;

      &.selected-item-label {
        background-color: $light-gray;
        font-weight: 700;
        border-left: 10px solid #4fc1de;
      }
    }
  }
  .add-item {
    display: inline;
    float: left;
    .add-button {
      height: 29px;
      padding-left: 10px;
      cursor: pointer;

      &:active {
        color : $light-gray;
      }
    }
  }

}