<div class="navigation-list">
    <div class="back-forth-btn">
        <button ng-disabled="navigationListCtrl.firstLabelIndex === 0"
                ng-click="navigationListCtrl.showBack()" class="arrow-left"></button>
        <button ng-disabled="navigationListCtrl.lastLabelIndex === navigationListCtrl.list.length"
                ng-click="navigationListCtrl.showForth()" class="arrow-right"></button>
    </div>

    <ul class="items-list">
        <li ng-repeat="item in navigationListCtrl.list track by $index"
            ng-click="navigationListCtrl.onClick({item: item})"
            class="item-label"
            ng-if="$index >= navigationListCtrl.firstLabelIndex && $index < navigationListCtrl.lastLabelIndex"
            ng-class="{'selected-item-label': item === navigationListCtrl.selectedItem }">
            {{navigationListCtrl.getLabel({item: item})}}
        </li>
    </ul>
</div>