.range-slider-cls{
  font-size: .8em;

  .resize rect {
    fill: $dark-blue;
    fill-opacity: 0.7;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering:crispEdges;
  }

  .axis path {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
    shape-rendering: crispEdges;
  }

  .x.axis line {
    fill: none;
    stroke: #000;
    stroke-opacity: .3;
  }

  .brush .extent {
    fill-opacity: .5;
    fill: $dark-blue;
    shape-rendering: crispEdges;
  }

  input[type="text"] {
    width:85px;
    display: inline-block;
    font-size: .9em;
  }
}
