.container {
  @include outer-container;
}

.wide-container {
  width: 100%;
}

.flex {
  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-between)
}

.flex-side {
  box-shadow: 0 2px 8px rgba(0,0,0,.5);
  @include flex(0 300px);
}

.flex-menu {
  @extend .flex-side;
  @include flex(0 240px);
  @include calc(height, "100vh - 160px");
}

.flex-center {
  @include flex(3 0);
  overflow: auto;
}