/*********************************************************************************************************************/
/**************************************************** Flexbox Mixins *************************************************/
/*********************************************************************************************************************/
@mixin flex-column() {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(column);
}

@mixin flex-row() {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
}

.flex-row {
  @include flex-row();
}
.flex-column {
  @include flex-column();
}

/*********************************************************************************************************************/
/************************************************* Center and L/R panel ***********************************************/
/*********************************************************************************************************************/
.flex-side {
  box-shadow: 0 2px 8px rgba(0,0,0,.5);
  @include flex-grow(0);
  @include flex-shrink(0);
  @include flex-basis(300px);
}

.flex-left-panel {
  @extend .flex-side;
  @include flex-basis(200px);
  box-shadow: $box-shadow-to-right;
}

.flex-right-panel {
  @extend .flex-side;
  box-shadow: $box-shadow-to-left;
}

.flex-center {
  @include flex-grow(1);
  @include flex-basis(500px);

  overflow-x: hidden;
  overflow-y: hidden;
}

/*********************************************************************************************************************/
/****************************************** Fixed elements + flexible elements ***************************************/
/*********************************************************************************************************************/

.flex-fixed {
  @include flex-grow(0);
  @include flex-shrink(0);
  max-height: 300px;
  overflow: auto;
}

.flex-flexible {
  @include flex-grow(1);
  @include flex-shrink(1);

  overflow: auto;
}


/*********************************************************************************************************************/
/**************************************************** App Main Layout ************************************************/
/*********************************************************************************************************************/
.main-layout {
  height: 100vh;
  @include flex-column();

  .header {
    @include flex-grow(0);
  }

  .content {
    @include flex-grow(1);
    @include flex-column();
  }

  .footer {
    @include flex-grow(0);
  }
}