.container {
  @include outer-container;
}

.wide-container {
  width: 100%;
}

.flex {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-menu {
  box-shadow: 0 2px 8px rgba(0,0,0,.5);
  height: 85vh;
  flex: 0 0 240px;
}

.flex-center {
  width: 100%;
  padding: 0;
}