.footer {
  $base-spacing: 5px !default;
  $footer-background: $dark-gray;
  $footer-color: white;

  background: $footer-background;
  color: $footer-color;
  padding: $base-spacing;
  height: 30px;

  ul {
    margin: 0;
    padding: 0;
    line-height: 1.5em;

    li {
      list-style: none;
    }
  }

  a {
    text-decoration: none;
  }
}