.navbar-nav {
  li {
    .dropdown-menu {
      margin-top: 9px;
    }

    a {
      text-shadow: 0 2px 0 rgba(255, 255, 255, .0);
      color: white !important;
    }
  }
}

.navbar-right .dropdown-menu {
  right: 9px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a {
  background-image: url('../../assets/images/top_link_profile.png');
}

#topbar.navbar-default {
  background-image: linear-gradient(to bottom, rgba(85, 89, 100, 0.8) 0%, rgba(85, 89, 100, 1.0) 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  margin-bottom: 0px;
  box-shadow: 0 2px 8px rgba(0,0,0,.6);
}

#navigationbar.navbar-default {
  background-image: linear-gradient(to top, rgba(85, 89, 100, 0.0) 0%, rgba(85, 89, 100, 0.0) 100%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  background-color: #EEEEEF;
  border-color: #e7e7e7;
  box-shadow: 0 2px 8px rgba(0,0,0,.5);
  padding: 8px 20px 8px 20px!important;
}


.t-top-bar {
  background-color: white;
  padding: 0px 0px 0px 0px !important;
}

.t-top-banner {
  padding: 5px 20px 0px 15px !important;
}

.t-top-bar-logo {
  background: url('../../assets/images/talend_logo.png') no-repeat;
  background-size: contain;
  width: 130px;
  margin: 4px 100px -8px -12px !important;
}

.t-top-bar_folder {
  background: url('../../assets/images/top_link_folder.png') no-repeat;
  margin: 3px 10px -10px 10px !important;
  width: 40px;
}

.t-top-bar_marketplace {
  background: url('../../assets/images/top_link_marketplace.png') no-repeat;
  margin: 3px 10px -10px 10px !important;
  width: 40px;
}

.t-top-bar_share {
  background: url('../../assets/images/top_link_share.png') no-repeat;
  margin: 3px 40px -10px 10px !important;
  width: 40px;
}

.t-top-bar_notification {
  background: url('../../assets/images/top_link_notification.png') no-repeat;
  margin: 3px 10px -10px 10px !important;
  width: 40px;
}

.t-top-bar_profile {
  background: url('../../assets/images/top_link_profile.png') no-repeat;
  margin: 3px 10px -10px 10px !important;
  padding-bottom: 20px !important;
  width: 52px;
}

.t-top-toolbar {
  background-color: #eeeeef !important;
  padding: 8px 20px 8px 20px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
}

.t-search-inputfield {
  background-color: white !important;
  margin-top: -4px;
  height: 32px;
  width: 450px !important;
  font-weight: 300;
  font-size: 0.9em;
  margin-right: auto;
  margin-left: auto;
}

/* for high resolution display */
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
  .t-top-bar-logo {
    background-image: url('../../assets/images/high_res/talend_logo.png');
  }
  .t-top-bar_folder {
    background-image: url('../../assets/images/high_res/top_link_folder.png');
    background-size: contain;
  }
  .t-top-bar_marketplace {
    background-image: url('../../assets/images/high_res/top_link_marketplace.png');
    background-size: contain;
  }
  .t-top-bar_share {
    background-image: url('../../assets/images/high_res/top_link_share.png');
    background-size: contain;
  }
  .t-top-bar_notification {
    background-image: url('../../assets/images/high_res/top_link_notification.png');
    background-size: contain;
  }
  .t-top-bar_profile {
    background-image: url('../../assets/images/high_res/top_link_profile.png');
    background-size: contain;
  }
  .t-btn-import-new-file{
    background-image: url('../../assets/images/high_res/import_new_file.png');
    background-size: 26px 24px;
  }
}