// Sub Header
$subheader-height: 51px;
$subheader-background: $light-gray;

.subheader {
  background-color: $subheader-background;
  border-bottom: 1px solid $light-gray;
  box-shadow: $box-shadow;
  z-index: 10;
  
  .subheader-wrapper {
    @include outer-container;

    ul {
      padding-top: 10px;
      
      li {
        float: left;

        &.primary {
          padding-right: 30px;
        }
      }
      
    }
  }

  .subheader-right {

    button {
      padding-top: 2px;
      float: right;

      //reset os styles
      border: 1px solid transparent;
      outline:none;

      &.btnToggleON {
        border: 1px solid $medium-gray;
        background-color: adjust-color($light-gray, $lightness: -10%, $alpha: -0.0)!important;
      }

      &:hover {
        background-color: $light-gray!important;
      }
    }
  }
}

.t-btn-import-new-file{
  background: $button-important url('/assets/images/import_new_file.png') no-repeat 10px 5px !important;
  padding: 0px 10px 0px 45px!important;
  color: $white;
}

.t-btn-expand-collapse-RHP{
  background: $button-toggle url('/assets/images/collapse_right_panel.png') no-repeat 10px 5px !important;
  padding: 0px 5px 0px 40px!important;
}

.t-btn-view-mode{
  background: $button-toggle url('/assets/images/view_mode.png') no-repeat 10px 7px !important;
  padding: 0px 5px 0px 40px!important;
}

.t-rhs-to-width-0px {
  width: 0px !important;
  padding: 0px !important;
  flex: 0 0 0px !important;
  border-left: 0px solid transparent !important;
}