$badge-font-size: 0.85em !default;
$medium-gray: #999 !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$success-color: #e6efc2 !default;

@mixin badge($color: $dark-blue) {
  background-color: $color;
  font-family: $base-font-family;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 300;
  line-height: 24px;
  padding: 3px 5px;
  border: 2px solid $white;
}

.badge {
  @include badge;
}

.badge-notice {
  @include badge($dark-blue);
}

.badge-close {
  cursor: pointer;
  background-image: url('/assets/images/small_close.png');
  background-color: transparent;
  background-repeat: no-repeat;
  height: 9px;
  width: 9px;
  color: transparent;
  &:active {
  }
}

.badge-item {
  font-family: $base-font-family;
  display: inline-block;
  vertical-align: middle;

  &.text {
    font-family: $base-font-family;
    text-transform: uppercase;
  }

  input[type="text"] {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    background: transparent;
    border: none;
    font-weight: 500;
    box-shadow: none;
  }
}