$badge-font-size: 0.85em !default;
$medium-gray: #999 !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$success-color: #e6efc2 !default;

$contains-color: $dark-blue;
$inside_range-color: $blue;
$empty_records-color: $white;
$valid_records-color: $color-ok;
$invalid_records-color: rgb(247, 168, 0);

@mixin badge($color: $contains-color) {
  background-color: $color;
  font-family: $base-font-family;
  border-radius: 7px;
  color: $white;
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 300;
  line-height: 24px;
  padding: 2px 5px 1px 5px;
  border: 2px solid $white;
  box-shadow: 5px 4px 6px -4px $dark-gray;
}

@mixin badge-description() {
  font-weight: 500;
}

.badge {
  @include badge;
}


.badge-notice {

  &.invalid_records {
    @include badge($invalid_records-color);

    .description {
      @include badge-description;
    }

    .badge-close {
      color: $white;
    }

}

  &.empty_records {

    @include badge($empty_records-color);
    color: $black;
    border: 2px solid #8C8C8C;

    .description {
      @include badge-description;
      font-family: $inconsolota;
      text-transform: uppercase;
    }

    .badge-close {
      color: $black;
    }

  }

  &.contains {
    @include badge($contains-color);

    .badge-close {
      color: $white;
    }
  }

  &.exact {
    @include badge($contains-color);

    .badge-close {
      color: $white;
    }
  }

  &.inside_range {
    @include badge($inside_range-color);

    .badge-close {
      color: $white;
    }
  }

  &.valid_records {
    @include badge($valid_records-color);

    .badge-close {
      color: $white;
    }
  }
}


.badge-close {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 9px;
  font-size: large;
  font-weight: bolder;
}

.badge-item {
  font-family: $base-font-family;
  display: inline-block;
  vertical-align: middle;

  &.text {
    font-family: $base-font-family;
    text-transform: uppercase;
  }

  .textEllipsis {
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  input[type="text"] {
    margin: 0;
    padding: 2px;
    font-family: $inconsolota;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    font-weight: 500;
    box-shadow: none;
    text-transform: uppercase;
  }
}