$badge-font-size: 0.85em !default;
$medium-gray: #999 !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$success-color: #e6efc2 !default;

$custom-color: $dark-blue;
$empty-color: $white;
$invalid-color: rgb(247, 168, 0);

@mixin badge($color: $custom-color) {
  background-color: $color;
  font-family: $base-font-family;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 300;
  line-height: 24px;
  padding: 3px 5px;
  border: 2px solid $white;
}

@mixin badge-description() {
  font-weight: 500;
}

.badge {
  @include badge;
}


.badge-notice {

  &.invalid {
    @include badge($invalid-color);

    .description {
      @include badge-description;
    }

    .badge-close {
      color: $white;
    }

}

  &.empty {

    @include badge($empty-color);
    color: $black;
    border: 2px solid #8C8C8C;

    .description {
      @include badge-description;
    }

    .badge-close {
      color: $black;
    }

  }

  &.custom {
    @include badge($custom-color);

    .badge-close {
      color: $white;
    }

  }
}


.badge-close {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 9px;
  font-size: large;
  font-weight: bolder;
}

.badge-item {
  font-family: $base-font-family;
  display: inline-block;
  vertical-align: middle;

  &.text {
    font-family: $base-font-family;
    text-transform: uppercase;
  }

  input[type="text"] {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    background: transparent;
    border: none;
    font-weight: 500;
    box-shadow: none;
  }
}