<!--
  ~ Copyright (C) 2006-2017 Talend Inc. - www.talend.com
  ~
  ~ This source code is available under agreement available at
  ~ https://github.com/Talend/data-prep/blob/master/LICENSE
  ~
  ~ You should have received a copy of the agreement
  ~ along with this program; if not, write to Talend SA
  ~ 9 rue Pages 92150 Suresnes, France
  -->

<!-- Configuration for logs because spring test init at DEBUG level and spam before spring bootstrap logging configuration -->
<!-- see http://stackoverflow.com/questions/35232827/spring-boot-test-ignores-logging-level -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="WARN"/>
</configuration>
