#playground-left-header {

  .playground-dataset-name {
    @include ellipsis(300px);
  }

  .playground-dataset-limit {
    @include ellipsis(300px);
    margin: 0 5px;
  }

  .file-lines-count {
    color: $dark-green;
  }

  #playground-gear-icon {
    font-size: 0.6em;
  }
}