$navigation-height: 48px;

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(slide) {
  from {
    right: -100vw;
  }
  to {
    right: 0;
  }
}

&-right {
  @include flex-row();
  @include align-items(center);
  @include justify-content(flex-end);
  margin: 0;

  a {
    color: $white;
    cursor: pointer;

    &:hover, &:focus {
      color: $white;
      text-decoration: none;
    }
  }

  li.nav-link {
    @include flex-column();
    @include justify-content(center);

    padding: 0 15px;
    height: 48px;

    &.pressed {
      background-color: darken($blue, 25);
    }

    &:hover{
      background-color: darken($blue, 25);
    }
  }

  .playground-help-menu{
    @include display(flex);
    @include flex-row-center();
  }

  .history-control > li {
    @include flex-column();
    @include justify-content(center);

    padding: 0 15px;
    height: 48px;

    &:hover {
      background-color: darken($blue, 25);
    }
  }

  #export-data, #documentation-search-container {
    padding: 0 15px;
  }

  #export-data {
    button {
      border-radius: 0;
      height: 48px;
      text-transform: uppercase;
    }
  }

  #playground-lookup-icon {
    > img {
      vertical-align: middle;
      min-width: 42px;
      max-width: 42px;
    }
  }

  #search-documentation {
    typeahead {
      .typeahead-result {
        width: 500px;

        &.ng-enter {
          @include animation(fadeIn 0.25s ease-in, slide 0.25s ease);
        }
      }
    }
  }

  #playground-close-container {
    padding: 0;

    #playground-close {
      width: $navigation-height;
      height: $navigation-height;
      cursor: pointer;
      position: relative;
      margin: 0;

      &:after,
      &:before {
        @include position(absolute, $navigation-height/4 0 0 $navigation-height/2-2px);
        @include transform(rotate(45deg));
        @include size(0.15em 1.5em);
        background: $light-gray;
        content: '';
        display: block;
      }

      &:hover:after,
      &:hover:before {
        background: darken($light-gray, 10%);
      }

      &:before {
        @include transform(rotate(-45deg));
      }
    }
  }
}