<div class="quality-bar">
    <div talend-dropdown
         class="record-ok"
         style="width: {{ qualityBarCtrl.width.valid }}%;"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-if="qualityBarCtrl.quality.valid > 0"
         title="{{ qualityBarCtrl.quality.valid }} valid records ({{ qualityBarCtrl.percent.valid }}%)">

        <div class="dropdown-container">
            <div class="dropdown-action"></div>
            <ul class="dropdown-menu dropdown-menu-small-top quality-bar-menu" role="menu">
                <li role="presentation" ng-click="qualityBarCtrl.filterValidRecords(qualityBarCtrl.column)">
                    <a role="menuitem">Select Valid Records for {{ qualityBarCtrl.column.name | uppercase }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div talend-dropdown
         class="record-empty"
         style="width: {{ qualityBarCtrl.width.empty }}%;"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-if="qualityBarCtrl.quality.empty > 0"
         title="{{ qualityBarCtrl.quality.empty }} empty records ({{ qualityBarCtrl.percent.empty }}%)">

        <div class="dropdown-container">
            <div class="dropdown-action"></div>
            <ul class="dropdown-menu dropdown-menu-small-top quality-bar-menu" role="menu" >
                <li role="presentation" ng-click="qualityBarCtrl.filterEmptyRecords(qualityBarCtrl.column)">
                    <a role="menuitem">Select Empty Records for {{ qualityBarCtrl.column.name | uppercase
                        }}</a>
                </li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem">Fill Empty records with Top adjacent value</a></li>
                <li role="presentation"><a role="menuitem">Fill Empty records with Bottom adjacent value</a></li>

                <li role="presentation"
                    ng-click="qualityBarCtrl.applyActionOnColumn('delete_empty')"
                >
                    <a role="menuitem">Delete lines with Empty cell</a>
                </li>
                <!--<li role="presentation"
                    ng-click="qualityBarCtrl.applyActionOnColumn('fillemptywithdefaultinteger')"
                >
                    <a role="menuitem">Fill Empty with value ...</a>
                </li>-->
            </ul>
        </div>
    </div>

    <div class="record-nok" talend-dropdown
         style="width: {{ qualityBarCtrl.width.invalid }}%;"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-if="qualityBarCtrl.quality.invalid > 0"
         title="{{ qualityBarCtrl.quality.invalid }} invalid records ({{ qualityBarCtrl.percent.invalid }}%)">

        <div class="dropdown-container">
            <div class="dropdown-action"></div>
            <ul class="dropdown-menu dropdown-menu-small-top quality-bar-menu" role="menu" >
                <li role="presentation" ng-click="qualityBarCtrl.filterInvalidRecords(qualityBarCtrl.column)">
                    <a role="menuitem">Select Invalid Records for {{ qualityBarCtrl.column.name | uppercase
                        }}</a>
                </li>
                <li class="divider"></li>
                <li role="presentation"><a role="menuitem">Replace Invalid Records with Top adjacent value</a></li>
                <li role="presentation"><a role="menuitem">Replace Invalid Records with Bottom adjacent value</a></li>
                <li role="presentation"
                    ng-click="qualityBarCtrl.applyActionOnColumn('delete_invalid')"
                >
                    <a role="menuitem">Delete lines with Invalid cell</a>
                </li>
                <!--<li role="presentation">
                    <a role="menuitem" ng-click="qualityBarCtrl.applyActionOnColumn('fillinvalidwithdefaultinteger')">Fill Invalid cells with value ...</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
