.t-btn {
  border: 1px solid;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: #236192;
  text-transform: uppercase;
  color: white;
  height: 36px;
}

.t-btn-import-new-file{
  background: url('../../assets/images/import_new_file.png') no-repeat;
  background-color: $button-important;
  background-position: 10px 5px;
  padding: 0px 10px 0px 45px;
}