// Components scss only contains Buttons, Carousel, Cover, Dropdown, ...

@import "../../components/widgets/accordions/accordions";
@import "../../components/widgets/badge/badge";
@import "../../components/widgets/dropdown/dropdown";
@import "../../components/widgets/button-dropdown/button-dropdown";
@import "../../components/widgets/editable-select/editable-select";
@import "../../components/widgets/loading/loading";
@import "../../components/widgets/modal/modal";
@import "../../components/widgets/navbar/navigation";
@import "../../components/widgets/slidable/slidable";
@import "../../components/widgets/tabs/tabs";
@import "../../components/widgets/tooltip/tooltip";
@import "../../components/widgets/charts/horizontal-barchart/horizontal-barchart";
@import "../../components/widgets/charts/boxplot-chart/boxplot-chart";

@import "../../components/datagrid/datagrid";
@import "../../components/datagrid/header/datagrid-header";
@import "../../components/datagrid/quality-bar/quality-bar";
@import "../../components/dataset/preview/dataset-xls-preview";
@import "../../components/filter/list/filter-list";
@import "../../components/history-control/history";
@import "../../components/home/home";
@import "../../components/navbar/navigation";
@import "../../components/playground/playground";
@import "../../components/preparation-list/preparation-list";
@import "../../components/recipe/bullet/bullet-recipe";
@import "../../components/recipe/recipe";
@import "../../components/suggestions-stats/suggestions-stats";
@import "../../components/suggestions-stats/column-profile/column-profile";
@import "../../components/transformation/params/transformation-params";

@import "button";
@import "inventory";
@import "inventory_data";
@import "progress_bar";
@import "toaster";
@import "intro";
@import "charts";
