.inventory-data {
  $width: 240px;

  @include slidable-size($width, 0px);

  .content {
    .content-container {
      min-width: $width;
      padding: 20px;

      .title {
        font-size: 1.5em;
      }

      .empty {
        text-align: center;
      }
    }
  }

  .action {
    display: none;
  }
}