$hover-color: #c9d7e4;
$border-color: #CECECE;

$inventory-sort-height: 50px;

.inventory {

  @include flex-column();
  font-size: 0.9em;

  .inventory-sort {
    @include flex-basis($inventory-sort-height);
    @include flex-grow(0);
    @include flex-shrink(0);

    border-bottom: 1px solid $border-color;
    font-weight: 300;
    padding: 15px 5px 0 0;
  }

  .inventory-list {
    @include calc(flex-basis, "100vh - 2 * " + $header-height + " - " + $footer-height + " - " + $inventory-sort-height);
    @include flex-column();
    overflow-y: auto;
  }

  .inventory-entry {
    @include flex-basis(72px);
    @include flex-grow(0);
    @include flex-shrink(0);
    @include align-items(center);

    @include flex-row();

    border-bottom: 1px solid $border-color;
    padding: 10px;
    position: relative;

    &:hover {
      background-color: $hover-color;

      .inventory-actions {
        background-color: $hover-color;
      }

      .btn-transparent {
        opacity: 1;
      }
    }

    .inventory-icon {
      @include flex-basis(50px);
      @include flex-shrink(0);
      @include flex-grow(0);
      height: 50px;
      padding: 0 5px;
      position: relative;
      cursor: pointer;

      &:hover{
        padding: 0 2px;
      }

      &.no-link:hover {
        padding: 0 5px;
        cursor: inherit;
      }

      >img {
        z-index: 0;
        width: 100%;

        &.pin {
          position: absolute;
          left: 0;
          top: -5px;
          width: 25px;
          z-index: 1;
        }
      }
    }

    .inventory-text {
      @include flex-basis(380px);
      @include flex-shrink(1);
      @include flex-grow(1);

      @include flex-column();
      padding-left: 10px;

      text-overflow: ellipsis;
      white-space: nowrap;

      .inventory-title {
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;

        &.no-link {
          cursor: inherit;
          &:hover {
            color: inherit;
            text-decoration: none;
          }
        }

        &:hover {
          color: $dark-blue;
          text-decoration: underline;
        }
      }

      .inventory-description {
        font-weight: 300;
        font-size: 0.9em;
        color: $secondary-text;

        overflow: hidden;
      }
    }

    .inventory-actions {
      @include flex-row();

      position: absolute;
      right: 0;
      top: 15px;

      button {
        margin: 0 5px;
      }
    }
  }
}

.btn-transparent{
  opacity: 0;
  outline: none;

  &:active,
  &:focus {
    background-color: transparent;
  }
  &:hover {
    background-color: $action-hover-background;
  }
}

.divider {
  width: 1px;
  margin: 0px 5px;
  background: $white;
}

.btn-icon{
  padding: 0px 10px 0px 10px;
  margin: 0px 5px 0px 5px;
  color: white;
  font-family: icons-font;
  font-size: 2em;
  &:hover{
    border-radius: 5px;
    color: white;
    background-color: $background-blue;
    &.favorite-true{
      opacity: 1;
      color: orange;
    }
  }
}

.favorite-true{
  opacity: 1;
  color: orange;
}

