$hover-color: #c9d7e4;
$border-color: #CECECE;

.inventory {

  @include flex-column();
  font-size: 0.9em;

  .inventory-sort {
    @include flex-basis(32px);
    border-bottom: 1px solid $border-color;
    font-weight: 300;
    padding: 5px;
    text-align: right;
  }

  .inventory-entry {
    @include flex-basis(72px);

    @include flex-row();
    @include align-items(center);

    border-bottom: 1px solid $border-color;
    padding: 10px;
    position: relative;

    &:hover {
      background-color: $hover-color;

      .inventory-actions {
        background-color: $hover-color;
      }

      .t-btn-transparent {
        opacity: 1;
      }
    }

    .inventory-icon {
      @include flex-basis(50px);
      @include flex-shrink(0);
      @include flex-grow(0);
      height: 50px;
      padding: 0 5px;
      position: relative;
      cursor: pointer;

      &:hover{
        padding: 0 2px;
      }

      &.no-link:hover {
        padding: 0 5px;
        cursor: inherit;
      }

      >img {
        z-index: 0;
        width: 100%;

        &.pin {
          position: absolute;
          left: -5px;
          top: -10px;
          width: 25px;
          z-index: 1;
        }
      }
    }

    .inventory-text {
      @include flex-basis(380px);
      @include flex-shrink(1);
      @include flex-grow(1);

      @include flex-column();
      padding-left: 10px;

      text-overflow: ellipsis;
      white-space: nowrap;

      .inventory-title {
        font-size: 1.1em;
        font-weight: 700;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;

        &.no-link {
          cursor: inherit;
          &:hover {
            color: inherit;
            text-decoration: none;
          }
        }

        &:hover {
          color: $dark-blue;
          text-decoration: underline;
        }
      }

      .inventory-description {
        font-weight: 300;
        font-size: 0.9em;
        color: $secondary-text;

        overflow: hidden;
      }
    }

    .inventory-actions {
      @include flex-row();

      position: absolute;
      right: 0;
      top: 15px;

      button {
        margin: 0 5px;
      }
    }
  }
}

.t-btn-transparent{
  background: $hover-color no-repeat;
  background-size: contain;
  height: 42px;
  width: 40px;
  border: 5px solid transparent;
  opacity: 0;
  outline: none;

  &:active,
  &:focus {
    background-color: transparent;
  }
  &:hover {
    background-color: $action-hover-background;
  }
}

.t-right-divider {
  width: 1px;
  background: $white;
}

.t-btn-shaker{
  background-image: url('/assets/images/shaker.png');
}

.t-btn-pushto{
  background-image: url('/assets/images/pushto.png');
  width: 60px;
}

.t-btn-favorite{
  background-image: url('/assets/images/favorite.png');
}

.t-btn-share{
  background-image: url('/assets/images/share.png');
}

.t-btn-remove{
  background-image: url('/assets/images/remove.png');
}

.t-btn-more{
  background-image: url('/assets/images/more.png');
}