.inventory-data {
  $width: 240px;

  &.slide-right {
    @include slidable-right($width, 0);

    .content {
      .content-container {
        min-width: $width;
        padding: 20px;

        .title {
          font-size: 1.5em;
        }

        .empty {
          text-align: center;
        }
      }
    }
  }
}