.side-menu {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $sliding-menu-border-color: $dark-gray;
  $sliding-menu-background: lighten($sliding-menu-border-color, 5%);
  $sliding-menu-color: #fff;
  $sliding-menu-border: 1px solid $sliding-menu-border-color;
  $sliding-menu-background-hover: $base-accent-color;
  $sliding-menu-color-hover: #fff;
  $sliding-menu-background-focus: lighten($sliding-menu-background, 5%);

  background: $sliding-menu-background;
  z-index: 999999;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  li a {
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    padding: 1em 1em 1em 2.5em;

    &:focus {
      background-color: $sliding-menu-background-focus;
    }

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
    
    &.selected {
      font-weight: bold;
    }
  }
}
