$toastLink: #00a6ce;
$toastContainerShadowColor: #333333;

/* PLACEMENT */
.toast-top-60-width {
  top: 10px;
  width: 100%;
}

#toast-container {
  > div {
    opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 90);
    filter: alpha(opacity = 90);

    -moz-box-shadow: 0 0 12px $toastContainerShadowColor;
    -webkit-box-shadow: 0 0 12px $toastContainerShadowColor;
    box-shadow: 0 0 12px $toastContainerShadowColor;

    a {
      color: $toastLink;
    }

    &.toast-success {
      background-color: tint($color-ok, 30%);
      color: shade($color-ok, 60%);
    }

    &.toast-error {
      background-color: tint($color-error, 30%);
      color: shade($color-error, 60%);
    }

    &.toast-warning {
      background-color: tint($color-warning, 30%);
      color: shade($color-warning, 60%);
    }
  }

  &.toast-top-60-width {
    > div {
      width: 60%;
      margin: auto;
    }
  }
}

/* ANIMATIONS */
:not(.no-enter)#toast-container > div.ng-enter {
  opacity: 0.9;
  animation: bounceInDown 1s;
}

:not(.no-leave)#toast-container > div.ng-leave {
  opacity: 1;
  animation: bounceOutUp 1s;
}