div[data-prep-tooltip]:hover:after {
  $background: rgba(89, 89, 100, 0.9);

  content: attr(data-prep-tooltip);

  position: absolute;
  display: table-cell;
  top: 100%;
  left: 0;
  padding: 4px 8px;

  max-width: 200px;

  background-color: $background;
  box-shadow: $box-shadow;
  color: $white;
  z-index: 1000;
}

div[data-prep-tooltip=""]:hover:after{
  content: none;
}