.grid-header {
  $datagrid-header: #266092;
  $datagrid-header-bkg: $dark-gray;
  $datagrid-header-bkg-active: darken($datagrid-header-bkg, 10%);

  $datagrid-headercell-font-size: .8em;

  background-color: $datagrid-header-bkg;
  border: 1px solid transparent; /*rgb(221, 221, 221);*/
  color: $white;
  text-transform: uppercase;
  font-family: $monospace;
  font-weight: 700;
  font-size: $datagrid-headercell-font-size;
  cursor: default;
  padding: 5px 5px 0;

  &:hover {
    background-color: $datagrid-header-bkg-active;
    border: 1px solid gray;
    cursor: default;
  }

  .grid-header-type {
    height: 100%;
    text-transform: lowercase;
    font-size: 0.75em;
    font-weight: 300;
    text-align: right;
  }

  .grid-header-menu {
    @include menu-list;
  }

  .dropdown-menu,
  .dropdown-action {
    outline: none;
  }
}