.grid-header {
  $datagrid-header: #266092;
  $datagrid-header-bkg: $dark-gray;
  $datagrid-header-bkg-active: darken($datagrid-header-bkg, 10%);

  $datagrid-headercell-font-size: .95em;

  background-color: $datagrid-header-bkg;
  border: 1px solid transparent; /*rgb(221, 221, 221);*/
  color: $white;
  text-transform: uppercase;
  font-family: $monospace;
  font-weight: 700;
  font-size: $datagrid-headercell-font-size;
  cursor: default;
  padding: 5px 5px 0;

  &:hover {
    background-color: $datagrid-header-bkg-active;
    border: 1px solid gray;
    cursor: default;
  }

  &.newColumn {
    background-color: rgba(193, 217, 6, 0.5 );
  }

  &.updatedColumn {
    background-color: rgba(79, 193, 222, 0.5);
  }

  &.deletedColumn {
    background-color: rgba(255, 0, 0, 0.5);
    text-decoration: line-through;
  }

  .grid-header-type {
    height: 100%;
    text-transform: lowercase;
    font-size: 0.75em;
    font-weight: 300;
    text-align: right;
    text-overflow: ellipsis;
    display: block;
  }

  .grid-header-menu {
    @include menu-list;
    font-family: $base-font-family;
    li {
      height: 18px;
    }
  }

  .dropdown-menu,
  .dropdown-action {
    outline: none;
  }

  .grid-header-title-input {
    color: #555964;
    display: table-cell;
    margin-bottom: 0;
    padding: 0 0 0 0.5em;
  }

  .talend-dropdown-div {
    width: 20px;
    float: right;
  }

  .talend-dropdown-text-div {
    overflow: hidden;
    max-width: 90%;
  }

}
