<div class="grid-header">
    <div class="talend-dropdown-div">
        <talend-dropdown on-open="datagridHeaderCtrl.initTransformations()">
            <div class="dropdown-container">
                <div class="dropdown-action">
                    <div class="dropdown-button" title="{{ datagridHeaderCtrl.column.name }}"></div>
                </div>
                <ul class="dropdown-menu grid-header-menu">
                    <li ng-if="datagridHeaderCtrl.initTransformationsInProgress" translate-once="LOADING"></li>
                    <li ng-if="datagridHeaderCtrl.transformations && !datagridHeaderCtrl.transformations.length" translate-once="NO_TRANSFORMATION"></li>
                    <transform-menu column="datagridHeaderCtrl.column"
                                    menu-items="datagridHeaderCtrl.transformations"
                                    ng-if="datagridHeaderCtrl.transformations.length"></transform-menu>
                </ul>
            </div>
        </talend-dropdown>
    </div>

    <div class="talend-dropdown-text-div">
        <div class="grid-header-title" ng-show="!datagridHeaderCtrl.isEditMode" title="{{ datagridHeaderCtrl.column.name }}">{{ datagridHeaderCtrl.column.name }}</div>
        <input class="grid-header-title-input" type="text" ng-show="datagridHeaderCtrl.isEditMode" ng-model="datagridHeaderCtrl.newName"/>
    </div>

    <div class="grid-header-type" ng-if="datagridHeaderCtrl.column.domain">{{ datagridHeaderCtrl.column.domain }}</div>
    <div class="grid-header-type" ng-if="(!datagridHeaderCtrl.column.domain)">{{ datagridHeaderCtrl.converterService.simplifyType(datagridHeaderCtrl.column.type) }}</div>

</div>

<quality-bar enter-animation="true"
             has-menu="true"
             quality="datagridHeaderCtrl.column.quality">

    <div class="valid-menu-item">
        <li ng-click="datagridHeaderCtrl.filterService.addFilter('valid_records', datagridHeaderCtrl.column.id, datagridHeaderCtrl.column.name)">
            <a><span translate-once="SELECT_VALID_RECORDS"></span> {{ datagridHeaderCtrl.column.name | uppercase }}</a>
        </li>
    </div>

    <div class="empty-menu-items">
        <li ng-click="datagridHeaderCtrl.filterService.addFilter('empty_records', datagridHeaderCtrl.column.id, datagridHeaderCtrl.column.name)">
            <a><span translate-once="SELECT_EMPTY_RECORDS"></span> {{ datagridHeaderCtrl.column.name | uppercase}}</a>
        </li>
        <li class="divider"></li>
        <li class="coming-soon"><a><span translate-once="FILL_EMPTY_WITH_TOP_VALUE"></span></a></li>
        <li class="coming-soon"><a><span translate-once="FILL_EMPTY_WITH_BOTTOM_VALUE"></span></a></li>

        <li ng-repeat="transfo in datagridHeaderCtrl.columnSuggestionService.transformationsForEmptyCells track by $index" ng-click="datagridHeaderCtrl.transformationApplicationService.append(transfo, 'column')">
            <a>{{transfo.label}}</a>
        </li>
    </div>

    <div class="invalid-menu-items">
        <li ng-click="datagridHeaderCtrl.filterService.addFilter('invalid_records', datagridHeaderCtrl.column.id, datagridHeaderCtrl.column.name)">
            <a><span translate-once="SELECT_INVALID_RECORDS"></span> {{ datagridHeaderCtrl.column.name | uppercase}}</a>
        </li>
        <li class="divider"></li>
        <li class="coming-soon"><a><span translate-once="REPLACE_INVALID_WITH_TOP_VALUE"></span></a></li>
        <li class="coming-soon"><a><span translate-once="REPLACE_INVALID_WITH_BOTTOM_VALUE"></span></a></li>

        <li ng-repeat="transfo in datagridHeaderCtrl.columnSuggestionService.transformationsForInvalidCells track by $index" ng-click="datagridHeaderCtrl.transformationApplicationService.append(transfo, 'column')">
            <a>{{transfo.label}}</a>
        </li>
    </div>

</quality-bar>
