.filter-list {
  background-color: $shadow-gray;
  color: $dark-gray;
  @include display(flex);
  @include flex-direction(row);

  .filters-compartment{
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include flex-basis(95%);

    input[type="search"] {
      background-color: $white;
      color: $dark-gray;
      font-family: $base-font-family;
      font-size: 0.85em;
      position: relative;
      margin: 7px 0 0;
      width: 150px;
      border: 1px solid darken($light-gray, 10%);
    }
    .ac-container {
      color: $dark-gray;
      position: fixed !important;
    }

    .filter-component{
      line-height: 45px;
      padding-left: 15px;
    }
  }

  .off-filters{
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    @include align-content(center);
    @include flex-basis(4%);
    .off-all-filters{
      font-size: x-small;
      color: #FFFFFF;
      &:hover{
        color:steelblue;
      }
    }
  }
}
