.filter-list {
  background-color: $shadow-gray;
  color: $dark-gray;
  display: flex;
  flex-direction: row;

  .filters-compartment{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 95%;

    input[type="search"] {
      background-color: $white;
      color: $dark-gray;
      font-family: $base-font-family;
      font-size: 0.85em;
      position: relative;
      margin: 7px 0 0;
      width: 150px;
      border: 1px solid darken($light-gray, 10%);
    }

    .filter-component{
      line-height: 45px;
      padding-left: 15px;
    }
  }

  .off-filters{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    align-content:center;
    flex-basis: %;
    .off-all-filters{
      font-size: x-small;
      color: #FFFFFF;
      &:hover{
        color:steelblue;
      }
    }
  }
}