<div class="filter-list">
    <div class="filters-compartment">
        <div class="filter-component">{{::'FILTER' | translate}}{{:: 'COLON' | translate}}</div>
        <div class="filter-component">
            <filter-search></filter-search>
        </div>
        <div ng-repeat="filter in filterCtrl.state.playground.filter.gridFilters" class="filter-component">
            <talend-badge text="{{filter.colName}}"
                          obj="filter"
                          on-change="filterCtrl.filterService.updateFilter(obj, newValue)"
                          on-close="filterCtrl.filterService.removeFilter(obj)"
                          editable="filter.editable"
                          type="filter.type">
            </talend-badge>
        </div>
    </div>
    <div class="off-filters">
        <a class="off-all-filters" title="Remove All Filters" ng-show="filterCtrl.state.playground.filter.gridFilters.length" data-icon="A" ng-click="filterCtrl.filterService.removeAllFilters()"></a>
        <div class="lines-quotient" title="{{filterCtrl.calculateLinesPercentage()}} of lines are matching your filter(s)">{{filterCtrl.state.playground.shownLinesLength}}/{{filterCtrl.state.playground.allLinesLength}}</div>
    </div>

<!--<div class="filter-list">-->
    <!--<ul>-->
        <!--<li>{{::'FILTER' | translate}}{{:: 'COLON' | translate}}</li>-->
        <!--<li>-->
            <!--<filter-search></filter-search>-->
        <!--</li>-->
        <!--<li ng-repeat="filter in filterCtrl.filterService.filters">-->
            <!--<talend-badge text="{{filter.colName}}"-->
                          <!--obj="filter"-->
                          <!--on-change="filterCtrl.filterService.updateFilter(obj, newValue)"-->
                          <!--on-close="filterCtrl.filterService.removeFilter(obj)"-->
                          <!--editable="filter.editable"-->
                          <!--type="filter.type">-->
            <!--</talend-badge>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
</div>
