<div class="filter-list">
    <div class="filters-compartment">
        <div class="filter-component">{{::'FILTER' | translate}}{{:: 'COLON' | translate}}</div>
        <div class="filter-component">
            <filter-search></filter-search>
        </div>
        <div ng-repeat="filter in filterCtrl.filterService.filters" class="filter-component">
            <talend-badge text="{{filter.colName}}"
                          obj="filter"
                          on-change="filterCtrl.filterService.updateFilter(obj, newValue)"
                          on-close="filterCtrl.filterService.removeFilter(obj)"
                          editable="filter.editable"
                          type="filter.type">
            </talend-badge>
        </div>
    </div>
    <div class="on-off-filters">
        <button ng-show="filterCtrl.filterService.filters.length" ng-click="filterCtrl.filterService.removeAllFilters()" class="off-all-filters">Off</button>
        <div>{{filterCtrl.state.playground.shownLinesLength}}/{{filterCtrl.state.playground.allLinesLength}}</div>
    </div>
</div>
