$stroke-width: 4;
$stroke-width-path: 2.5;

$active-color: $dark-green;
$inactive-color: $shadow-gray;

.maillon-circle {
  circle {
    stroke: $active-color;
    stroke-width: $stroke-width;
    fill: $active-color;

    &.maillon-circle-enabled-hovered {
      stroke: $blue;
      stroke-width: $stroke-width;
      fill: $white;
    }
  }

  path {
    stroke: $active-color;
    stroke-width: $stroke-width-path;
    fill: none;

    &.maillon-cables-disabled {
      stroke: $inactive-color;
      stroke-width: $stroke-width-path;
      fill: none;
    }

    &.single-maillon-cables-disabled {
      stroke: $inactive-color;
      stroke-width: $stroke-width-path;
      fill: none;
    }
  }
}

.maillon-circle-disabled {
  circle {
    stroke: $inactive-color;
    stroke-width: $stroke-width;
    fill: $white;

    &.maillon-circle-disabled-hovered {
      stroke: $dark-blue;
      stroke-width: $stroke-width;
      fill: $blue;
    }
  }

  path {
    stroke: $inactive-color;
    stroke-width: $stroke-width-path;
    fill: none;
  }
}
