.star-wars {

  background-color: #000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-weight: 700;

  * {
    padding: 0;
    margin: 0;
  }

  .start {
    position: relative;
    width: 16em;
    font-size: 200%;
    font-weight: 400;
    margin: 20% auto;
    color: #4ee;
    opacity: 0;
    z-index: 1;
    @include animation(intro 2s ease-out);
  }

  @keyframes intro {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .title {
    position: absolute;
    width: 4.6em;
    left: 40%;
    top: 25%;
    font-size: 10em;
    text-align: center;
    margin-left: -1.3em;
    line-height: 0.8em;
    letter-spacing: -0.05em;
    color: #000;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    opacity: 0;
    z-index: 1;
    @include animation(logo 5s ease-out 2.5s);
  }

  .title sub {
    display: block;
    font-size: 0.3em;
    letter-spacing: 0;
    line-height: 0.8em;
  }

  @keyframes logo {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
  }

  /* the interesting 3D scrolling stuff */
  .titles {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
    @include transform-origin(50% 100%);
    @include transform(perspective(300px) rotateX(25deg));
  }

  .titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    @include background-image(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
    pointer-events: none;
  }

  .titles p {
    text-align: justify;
    margin: 0.8em 0;
    color: #000;
  }

  .titles p.center {
    text-align: center;
  }

  .titles a {
    color: #ff6;
    text-decoration: underline;
  }

  .titlecontent {
    position: absolute;
    top: 100%;
    color: #ff6;
    @include animation(scroll 100s linear 4s infinite);
  }

  @keyframes scroll {
    0% {
      top: 100%;
    }
    100% {
      top: -170%;
    }
  }
}
