<div class="star-wars">

    <p class="start">In a web browser... very, very close&hellip;</p>

    <p class="title">Talend Data Preparation</p>

    <div class="titles">
        <div class="titlecontent">

            <p class="center">BETA I<br/>A NEW HOPE FOR DATA PREPARATION</p>

            <p>It is a period where data is everywhere.</p>

            <p>Your company or yourself cannot waste any second working on incorrect data.</p>

            <p>Data Prep is the missing link in data management. It enables easy self-service data preparation and
                cleansing.</p>

            <p>It has a centralized and governed data inventory. It can be used independently but really shines with the
                rest of the Talend Data Fabric.</p>

            <p>Padawans can use the personal Open Source edition freely or use the commercial edition to become true
                Jedi knights.</p>

            <p>May the force be with you.</p>

        </div>
    </div>
</div>
