<div class="star-wars">

    <p class="start">In a browser... very, very close&hellip;</p>

    <p class="title">DATA PREP</p>

    <div class="titles">
        <div class="titlecontent">

            <p class="center">BETA I<br/>A NEW HOPE FOR DATA PREPARATION</p>

            <p>It is a period where data is everywhere.</p>

            <p>Your company or yourself cannot waste any second working on incorrect data.</p>

            <p>DataPrep is the missing link in data management. It enables easy self service data importing and
                cleansing .</p>

            <p>It has a centralized and governed data inventory. It can be used on its own and offers seamless Talend
                DI and iPaaS integration.</p>

            <p>Open Source or Commercial edition, choose your side wisely.</p>

            <p>May the force be with you.</p>

        </div>
    </div>
</div>
