<div class="column-suggestions">
    <div class="title">Actions {{ columnSuggestionsCtrl.column.name ? ': ' + columnSuggestionsCtrl.column.name : '' }}</div>
    <div class="Description" ng-if="! columnSuggestionsCtrl.suggestions">Select a column to display its actions</div>
    
    <talend-tabs ng-if="columnSuggestionsCtrl.suggestions">
        <talend-tabs-item title="Text">Coming soon ...</talend-tabs-item>
        <talend-tabs-item title="Cell">Coming soon ...</talend-tabs-item>
        <talend-tabs-item title="Line">Coming soon ...</talend-tabs-item>
        <talend-tabs-item title="Column" default="true">
            <div ng-repeat="(category, transformations) in columnSuggestionsCtrl.suggestions track by category">
                <div>{{category}}</div>

                <talend-accordions class="menu">
                    <talend-accordions-item ng-repeat="transfo in transformations track by $index"
                                            ng-switch="!!(transfo.parameters || transfo.items)">
                        <!-- no static parameters -->
                        <a ng-switch-when="false"
                           ng-click="columnSuggestionsCtrl.select(transfo)">{{transfo.label}}</a>

                        <!-- with static parameters -->
                        <span ng-switch-when="true">
                            <a id="trigger">{{transfo.label}}</a>
                            <ul id="content">
                                <transform-params transformation="transfo"
                                                  on-submit="columnSuggestionsCtrl.transformClosure(transfo)(params)"></transform-params>
                            </ul>
                        </span>

                    </talend-accordions-item>
                </talend-accordions>
            </div>
        </talend-tabs-item>
    </talend-tabs>

    <!-- Dynamic params  -->
    <talend-modal fullscreen="false"
                  state="columnSuggestionsCtrl.showDynamicModal"
                  close-button="true">

        <div class="modal-title">{{ columnSuggestionsCtrl.dynamicTransformation.label }}</div>
        <div class="modal-subtitle">{{ columnSuggestionsCtrl.dynamicTransformation.description }}</div>

        <div ng-if="columnSuggestionsCtrl.dynamicFetchInProgress">
            <img class="continuous-rotate"
                 style="background-color: grey"
                 src="/components/widgets/loading/loading.png"/>
        </div>
        <transform-params transformation="columnSuggestionsCtrl.dynamicTransformation"
                          on-submit="columnSuggestionsCtrl.transformClosure(columnSuggestionsCtrl.dynamicTransformation)(params)"></transform-params>
    </talend-modal>
</div>