<div class="column-suggestions">
    <div class="title">Actions: {{ columnSuggestionsCtrl.column.name }}</div>
    <div class="Description" ng-if="! columnSuggestionsCtrl.suggestions">Select a column to display its actions</div>

    <div ng-repeat="(category, transformations) in columnSuggestionsCtrl.suggestions track by category">
        <div>{{category}}</div>

        <ul class="menu talend-accordion">
            <li ng-repeat="transfo in transformations track by $index" ng-switch="!!(transfo.parameters || transfo.items)">

                <!-- no static parameters -->
                <a ng-switch-when="false"
                   ng-click="columnSuggestionsCtrl.select(transfo)">{{transfo.label}}</a>

                <!-- with static parameters -->
                <span ng-switch-when="true">
                    <a class="talend-accordion-trigger">{{transfo.label}}</a>
                    <ul class="submenu">
                        <transform-params transformation="transfo"
                                          on-submit="columnSuggestionsCtrl.transformClosure(transfo)(params)"></transform-params>
                    </ul>
                </span>
            </li>
        </ul>
    </div>

    <!-- Dynamic params  -->
    <talend-modal fullscreen="false"
                  state="columnSuggestionsCtrl.showDynamicModal"
                  close-button="true">

        <div class="modal-title">{{ columnSuggestionsCtrl.dynamicTransformation.label }}</div>
        <div class="modal-subtitle">{{ columnSuggestionsCtrl.dynamicTransformation.description }}</div>

        <div ng-if="columnSuggestionsCtrl.dynamicFetchInProgress">
            <img class="continuous-rotate"
                 style="background-color: grey"
                 src="/components/widgets/loading/loading.png"/>
        </div>
        <transform-params transformation="columnSuggestionsCtrl.dynamicTransformation"
                          on-submit="columnSuggestionsCtrl.transformClosure(columnSuggestionsCtrl.dynamicTransformation)(params)"></transform-params>
    </talend-modal>
</div>