<div class="column-suggestions">
    <div class="title">Actions</div>
    <ul class="menu talend-accordion">
        <li>
            <a class="talend-accordion-trigger">Change case</a>
            <ul class="submenu">
                <li>
                    <a>Uppercase</a>
                </li>
                <li>
                    <a>Lowercase</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="talend-accordion-trigger">Fill with</a>
            <ul class="submenu">
                <li>
                    Value : <input type="text" value="N/A" />
                    <button class="t-btn-primary">Ok</button>
                </li>
            </ul>
        </li>
        <li>
            <a class="talend-accordion-trigger">Replace by</a>
            <ul class="submenu">
                <li>
                    When this text is found : <input type="text" value="N/A" />
                    Replace it with : <input type="text" value="N/A" />
                    <button class="t-btn-primary">Ok</button>
                </li>
            </ul>
        </li>
    </ul>
</div>