<div class="param">
    <span ng-repeat="choice in choiceParamsCtrl.choices track by $index">
        <div class="param-row" valuetooltip="{{::choice.description}}">
            <div class="param-name">{{choice.label}}:</div>

            <div class="param-input">
                <select
                        ng-model="choice.selectedValue"
                        ng-options="option as option.name for option in choice.values"
                        required></select>
            </div>
        </div>

        <transform-simple-params
                class="param-no-space"
                ng-repeat="option in choice.values track by $index"
                ng-if="option.parameters && choice.selectedValue === option"
                parameters="option.parameters">
        </transform-simple-params>
    </span>
</div>
