.vertical-barchart-cls{
  font-family: $inconsolota;
  .bg-rect{
    fill: $medium-gray;
    cursor: pointer;
  }

  .bar {
    fill: steelblue;
  }

  .bar:hover {
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: block;
  }

  .line {
    fill: none;
    stroke: darkorange;
    stroke-width: 1.5px;
  }

  .dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .foreign-object-body{
    background-color: rgba(255, 255, 255, 0);
    font-size: .8em;
    color: $dark-green;
    padding-top:3px;
    padding-left:10px;
    font-family: $inconsolota;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  /**************** d3 tooltip *********************************/

  &.d3-tip {
    line-height: 1;
    font-family: $inconsolota;
    font-size: .8em;
    font-weight: 400;
    padding: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 2px;
    z-index: 100000;
  }
  &.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BA";
    position: relative;
    text-align: end;
    float: right;
    margin-right: -22px;
  }


  &.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }
}
