.suggestions {
  $slide-action-background: $white;

  $menu-color: tint($black, 20%);
  $menu-background: $light-gray;

  .action {
    background: $slide-action-background;

    &:hover {
      background: darken($slide-action-background, 5%);
    }
  }

  .pane-container {
    height: 100%;
    overflow-y: hidden;
  }

  .suggestions-stats-details {

    border-left: 2px solid #f1f1f1;

    .title {
      font-size: 1.2em;
      font-weight: 600;
      padding: 25px 10px 5px 10px;
      text-transform: uppercase;
    }

    height: calc(100vh - 56px);

    .split-handler {
      height: 12px;
      background-color: #f1f1f1 !important;
      background: url("/assets/images/dataprep-panel-splitter.png")  no-repeat center;
      z-index: 10;
    }
  }

  .loading-container {
    position: relative;

    .loading-msg {
      position: absolute;
      top: 100px;
      left: 35px;
      right: 35px;
      padding: 15px;

      background: $pale-blue;
      color: white;
      font-weight: bold;
      opacity: 0.8;
    }
  }
}

@import "actions-list/actions-list";
@import "actions-suggestions/action-suggestions";
@import "stats-details/stats-details";