.suggestions {
  $slide-action-background: $white;

  $menu-color: tint($black, 20%);
  $menu-background: $light-gray;

  .action {
    background: $slide-action-background;

    &:hover {
      background: darken($slide-action-background, 5%);
    }
  }

  .pane-container {
    height: 100%;
    overflow-y: hidden;
  }

  .suggestions-stats-details {
    .title {
      font-size: 1.2em;
      font-weight: 600;
      padding: 25px 10px 5px 10px;
      text-transform: uppercase;
    }

    height: calc(100vh - 56px);

    .split-handler {
      height: 20px;
      background-color: white !important;
      background: url("/assets/images/split_vertical.png")  no-repeat center;
    }

    .action-suggestion-tab-items {
      height: calc(50vh - 100px) ;
    }

    .stat-detail-tab-items{
      height: calc(50vh - 51px - 100px);
    }

  }


}

@import "actions-suggestions/action-suggestions";
@import "stats-details/stats-details";