<div style="position: relative;"
     class="suggestions-stats-details">

    <bg-splitter orientation="vertical">
        <bg-pane min-size="310">
            <div class="pane-container">
                <actions-suggestions id="help-suggestions" class="suggestions-part"></actions-suggestions>
            </div>
        </bg-pane>
        <bg-pane min-size="100">
            <div class="pane-container">
                <stats-details id="help-stats" class="stats-part"></stats-details>
            </div>
        </bg-pane>
    </bg-splitter>
</div>

