<div style="position: relative;" class="suggestions-stats-details">
            <bg-splitter orientation="vertical">
                <bg-pane min-size="100" >
                    <div style="height: 100%; overflow-y: hidden">
                        <actions-suggestions class="suggestions-part"></actions-suggestions>
                    </div>

                </bg-pane>
                <bg-pane min-size="100">
                    <div style="height: 100%; overflow-y: hidden">
                        <stats-details class="stats-part"></stats-details>
                    </div>
                </bg-pane>
            </bg-splitter>
        </bg-pane>
    </bg-splitter>
</div>

