@mixin cellImitation() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1px 4px 2px;
}


.tooltip-ruler{

  $datagrid-cell-font-size: .80em;
  font-size: $datagrid-cell-font-size;
  font-family: $monospace;
}


.datagrid {
  $datagrid-line-odd: #f9f9f9;
  $datagrid-line-border: #ddd;

  $datagrid-cell: $dark-gray;
  $datagrid-cell-bkg-active: #e1e1e1;

  $datagrid-cell-font-size: .80em;

  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 1px solid $shadow-gray;

  .slick-header-columns {
    border-bottom: 1px solid silver;
    box-sizing: content-box;
    min-height: 55px;
    background-color: $white;

    .slick-header-column.ui-state-default {
      line-height: inherit;
      height: auto;
      padding: 0;
    }
  }

  .slick-row {
    position: absolute;
    background: white;
    border: 0;
    line-height: 20px;

    &.ui-widget-content,
    &.slick-row.ui-state-active {
      position: absolute;
      border: 0;
      width: 100%;
    }

    &:nth-of-type(odd) {
      background-color: $datagrid-line-odd;
    }

    &.active {
      background-color: #DFE8F6;
    }
  }

  .slick-cell {
    box-sizing: content-box;
    border-color: $datagrid-line-border;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    color: $datagrid-cell;
    font-size: $datagrid-cell-font-size;
    font-family: $monospace;
    white-space: pre;

    &.selected {
      background-color: #DFE8F6;
    }

    &:hover {
      background-color: $datagrid-cell-bkg-active;
      cursor: cell;
    }

    &.selected {
      background-color: #DFE8F6;
    }

    &.highlight {
      background-color: $green;
    }

    .cellNewValue {
      @include cellImitation();
      background-color: rgba(193, 217, 6, 0.5 );
    }

    .cellUpdateValue {
      @include cellImitation();
      background-color: rgba(79, 193, 222, 0.5);
    }

    .cellDeletedValue {
      //color: $white;
      color: $medium-gray;
      @include cellImitation();
      //background-color: rgba(255, 0, 0, 0.5);
      background-color: $light-gray;
      text-decoration: line-through;
    }

    &.active {
      border: 2px solid $black;
      height: 19px;
      padding: 0px 3px 2px 3px;
      background-color: $white;
    }

    .hiddenChars {
      background-color: #e9e9e9 ;
      border: 1px dotted #BABABA ;
    }
  }
}
