<div class="datagrid"
     ng-class="{lookup : datagridCtrl.state.playground.lookup.visibility}">
    <section id="datagrid" ng-class="{'datagrid-visible-lookup': datagridCtrl.state.playground.lookup.visibility}"></section>
</div>
<span id="tooltip-ruler" class="tooltip-ruler"></span>

<talend-tooltip
        position="datagridCtrl.tooltip.position"
        requested-state="datagridCtrl.showTooltip"
        class="datagrid-tooltip">
    <div ng-bind-html="datagridCtrl.tooltip.htmlStr" class="datagrid-tooltip-content"></div>
</talend-tooltip>