<talend-modal fullscreen="true"
              state="datagridCtrl.showDataGrid"
              close-button="true">
    <div class="modal-header">
        <ul>
            <li translate="FILE_DETAILS" translate-value-name="{{datagridCtrl.metadata.name}}" translate-value-records="{{datagridCtrl.metadata.records}}"></li>
            <li class="text-dark">
                <filter-search></filter-search>
            </li>
        </ul>
    </div>
    <div class="modal-subheader">
        <filter-list metadata="datagridCtrl.metadata"></filter-list>
    </div>

    <div class="modal-body with-subheader flex">
        <talend-slidable visible="false" class="flex-side recipe">
            <recipe metadata="datagridCtrl.metadata"></recipe>
        </talend-slidable>

        <div class="flex-center">
            <div id="datagrid" class="datagrid"></div>
        </div>

        <talend-slidable visible="true" side="right" class="flex-side transformations">
            <transformation-list metadata="datagridCtrl.metadata"></transformation-list>
        </talend-slidable>
    </div>
</talend-modal>
