input[disabled] {
  background-color: $light-gray;
}

select {
  background-color: $white;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 0.5em;
  margin: 0;
  width: 100%;

  &:hover {
    border: 1px solid $medium-gray;
  }
}