//override bourbon variable
$base-font-family: $sourcesanspro;
$heading-font-family: $base-font-family;

body {
  background-color: white;
  font-family: $base-font-family;
  font-weight: normal;
}

h1, h5 {
  margin-top: 0px;
  font-weight: 200;
}

h5 {
  color: $secondary-title;
}

button {
  font-family: $base-font-family;
}

.error {
  color: red !important;
}