<li ng-click="menuCtrl.select()"
    ng-class="::{divider: menuCtrl.menu.isDivider}">

    <span ng-if="::(!menuCtrl.menu.isDivider)">
        <a href="#">
            {{ menuCtrl.menu.label }}
        </a>

        <!-- Params and choice modal -->
        <talend-modal ng-if="::(menuCtrl.menu.dynamic || menuCtrl.menu.parameters || menuCtrl.menu.items)"
                      fullscreen="false"
                      state="menuCtrl.showModal"
                      close-button="true">

            <div class="modal-title">{{ menuCtrl.menu.label }}</div>
            <div class="modal-subtitle">{{::menuCtrl.menu.description | translate }}</div>

            <div ng-if="::menuCtrl.menu.dynamic">
                <span ng-if="menuCtrl.dynamicFetchInProgress">{{ ::'FETCHING' || translate}} --> replace with a loader ?</span>
            </div>
            <transform-params transformation="menuCtrl.menu"
                              on-submit="menuCtrl.transform(params)"></transform-params>

        </talend-modal>
    </span>
</li>
