<ul>
    <type-transform-menu column="menuCtrl.column"></type-transform-menu>

    <!-- BEGIN : Hard coded transformations for demo purpose -->
    <li class="divider"></li>
    <li class="more">
        <a href="#"><span class="itemText">Sort is &nbsp;</span><span class="info">not defined</span></a>
        <ul class="submenu">
            <li><a href="#">Coming soon ...</a></li>
        </ul>
    </li>
    <li class="more">
        <a href="#"><span class="itemText">Filter is &nbsp;</span><span class="info">not defined</span></a>
        <ul class="submenu">
            <li><a href="#">Coming soon ...</a></li>
        </ul>
    </li>
    <li class="divider"></li>
    <li><a href="#">Fit to Content</a></li>
    <li class="divider"></li>
    <!-- END : Hard coded transformations for demo purpose -->

    <li ng-repeat="menu in menuCtrl.menuItems track by menu.name"
        ng-click="menuCtrl.select(menu, 'column')">

        <a>{{ menu.label }}</a>
    </li>

    <!-- BEGIN : Hard coded transformations for demo purpose -->
    <li class="divider"></li>
    <li><a href="#">Delete</a></li>
    <!-- END : Hard coded transformations for demo purpose -->
</ul>

<!-- Params modal -->
<talend-modal fullscreen="false"
              state="menuCtrl.showModal"
              close-button="true"
              ng-if="menuCtrl.showModal">

    <div class="modal-title">{{ menuCtrl.selectedMenu.label }}</div>
    <div class="modal-subtitle">{{ menuCtrl.selectedMenu.description }}</div>

    <div ng-if="menuCtrl.selectedMenu.dynamic && menuCtrl.dynamicFetchInProgress">
        <i data-icon="e" class="icon continuous-rotate"></i>
    </div>
    <transform-params transformation="menuCtrl.selectedMenu"
                      on-submit="menuCtrl.appendClosure(menuCtrl.selectedMenu, menuCtrl.selectedScope)(params)"></transform-params>

</talend-modal>
