<ul>
    <type-transform-menu column="menuCtrl.column"></type-transform-menu>

    <li class="divider"></li>

    <li ng-repeat="menu in menuCtrl.menuItems track by menu.name"
        ng-click="menuCtrl.select(menu, 'column')">

        <a>{{ menu.label }}</a>
    </li>

</ul>

<!-- Params modal -->
<talend-modal fullscreen="false"
              state="menuCtrl.showModal"
              close-button="true"
              ng-if="menuCtrl.showModal">

    <div class="modal-title">{{ menuCtrl.selectedMenu.label }}</div>
    <div class="modal-subtitle">{{ menuCtrl.selectedMenu.description }}</div>

    <div ng-if="menuCtrl.selectedMenu.dynamic && menuCtrl.dynamicFetchInProgress">
        <i data-icon="e" class="icon continuous-rotate"></i>
    </div>
    <transform-form transformation="menuCtrl.selectedMenu"
                      on-submit="menuCtrl.appendClosure(menuCtrl.selectedMenu, menuCtrl.selectedScope)(params)"></transform-form>

</talend-modal>
