<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appenders>
        <File name="logFile" fileName="talend/dataprep/logs/app.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] [%marker] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] [%marker] %-5level %logger{36} - %msg%n}"/>
        </Console>
    </appenders>
    <loggers>
        <!-- Start up log -->
        <logger name="org.talend.dataprep.application" level="info">
            <appender-ref ref="console"/>
        </logger>
        <!-- Start up log -->
        <root level="info" includeLocation="true">
            <appender-ref ref="logFile"/>
        </root>
    </loggers>
</configuration>

