.inventory-item {
  .inventory-title {
    padding: 3px 0;
    @include ellipsis(430px);
  }

  .buttons-group {
    width: 75px;
    display: flex;

    .preparations {
      padding-left: 10px;
      padding-right: 25px;
    }

    .preparations-dropdown {
      font-size: 1.5em;
      color: $white;
      position: absolute;
      left: -33px;
      &:hover {
        color: $medium-gray;
      }
    }
  }


  .dropdown-menu{
    outline:none;

    li:hover {
      background-color: #B6BE00;
    }

    .dropdown-container-li {
      margin: 10px;
      font-size: 1.05em;
      a {
        color: $black;
        .dropdown-container-middle{
          vertical-align: middle;
        }
        .related-inv {
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      &.divider {
        min-height: 1px;
        height: 1px;
        width: 100%;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
        padding: 0;
      }
      &.hover {
        background-color: $light-gray;
      }
    }
  }


  .edition-text-input {
    width: 220px;
  }
}