<div class="quality-bar" ng-if="qualityBarCtrl.hasMenu">
    <div talend-dropdown
         class="valid-partition"
         ng-style="{width: qualityBarCtrl.width.valid + '%'}"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-show="qualityBarCtrl.quality.valid > 0"
         title="{{ qualityBarCtrl.quality.valid }} {{::'VALID_RECORDS' | translate}} ({{ qualityBarCtrl.percent.valid }}%)">
            <div class="dropdown-container">
                <div class="dropdown-action quality-bar-action"></div>
                <ul class="dropdown-menu dropdown-menu-small-top quality-bar-menu" role="menu">
                </ul>
            </div>
    </div>

    <div talend-dropdown
         class="empty-partition"
         ng-style="{width: qualityBarCtrl.width.empty + '%'}"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-show="qualityBarCtrl.quality.empty > 0"
         title="{{ qualityBarCtrl.quality.empty }} {{::'EMPTY_RECORDS' | translate}} ({{ qualityBarCtrl.percent.empty }}%)">
            <div class="dropdown-container">
                <div class="dropdown-action quality-bar-action"></div>
                <ul class="dropdown-menu dropdown-menu-small-top quality-bar-menu" role="menu">
                </ul>
            </div>
    </div>

    <div talend-dropdown
         class="invalid-partition"
         ng-style="{width: qualityBarCtrl.width.invalid + '%'}"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-show="qualityBarCtrl.quality.invalid > 0"
         title="{{ qualityBarCtrl.quality.invalid }} {{::'INVALID_RECORDS' | translate}} ({{ qualityBarCtrl.percent.invalid }}%)">
            <div class="dropdown-container">
                <div class="dropdown-action quality-bar-action"></div>
                <ul class="dropdown-menu dropdown-menu-small-top quality-bar-menu" role="menu">
                </ul>
            </div>
    </div>
</div>

<div class="quality-bar" ng-if="!qualityBarCtrl.hasMenu">
    <div class="valid-partition"
         ng-style="{width: qualityBarCtrl.width.valid + '%'}"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-show="qualityBarCtrl.quality.valid > 0"
         title="{{ qualityBarCtrl.quality.valid }} {{::'VALID_RECORDS' | translate}} ({{ qualityBarCtrl.percent.valid }}%)">
    </div>

    <div class="empty-partition"
         ng-style="{width: qualityBarCtrl.width.empty + '%'}"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-show="qualityBarCtrl.quality.empty > 0"
         title="{{ qualityBarCtrl.quality.empty }} {{::'EMPTY_RECORDS' | translate}} ({{ qualityBarCtrl.percent.empty }}%)">
    </div>

    <div class="invalid-partition"
         ng-style="{width: qualityBarCtrl.width.invalid + '%'}"
         ng-class="{'no-transition' : qualityBarCtrl.blockTransition}"
         ng-show="qualityBarCtrl.quality.invalid > 0"
         title="{{ qualityBarCtrl.quality.invalid }} {{::'INVALID_RECORDS' | translate}} ({{ qualityBarCtrl.percent.invalid }}%)">
    </div>
</div>
<ng-transclude></ng-transclude>