<talend-button-dropdown close-on-select="true" on-open="onOpen()">
  <div class="dropdown-container">
    <button class="dropdown-description" ng-click="exportCtrl.launchExport()">{{ ::'EXPORT' | translate }}</button>
    <button class="dropdown-button"></button>
    <ul class="dropdown-menu dropdown-select">
      <li ng-repeat="exportType in exportCtrl.exportTypes" ng-click="exportCtrl.launchExport(exportType)">{{exportType.id}}</li>
    </ul>
  </div>
</talend-button-dropdown>

<talend-modal fullscreen="false"
              state="exportCtrl.showExport"
              close-button="true">

    <div ng-repeat="parameter in exportCtrl.currentExportType.parameters">
      <p>{{ :: parameter.labelKey | translate }}</p>
      <div ng-if="parameter.type == 'radio'">
        <input ng-model="exportCtrl.exportParameters[parameter.name]" type="radio" value="{{::parameter.defaultValue.value}}"/>{{ :: parameter.defaultValue.labelKey | translate }}({{::parameter.defaultValue.value}})
        <span ng-repeat="parameterValue in parameter.values">
          <input ng-model="exportCtrl.exportParameters[parameter.name]" type="radio" value="{{::parameterValue.value}}">{{ :: parameterValue.labelKey | translate }}({{::parameterValue.value}})
        </span>
      </div>
    </div>

    <div class="modal-buttons">
      <button class="talend-modal-close t-btn-secondary modal-secondary-button">{{ ::'CANCEL' | translate }}</button>
      <button class="talend-modal-close t-btn-primary modal-primary-button" ng-click="exportCtrl.export()">{{ ::'EXPORT' | translate }}</button>
    </div>

    <form id="exportForm" target="_blank">
      <input type="hidden" name="preparationId" value="{{ exportCtrl.preparationId }}" />
      <input type="hidden" name="stepId" value="{{ exportCtrl.stepId }}" />
      <input type="hidden" name="datasetId" value="{{ exportCtrl.datasetId }}" />
      <input type="hidden" name="exportType" />
    </form>

</talend-modal>