.history-control {
  @include filter(drop-shadow(0px 1px 1px #1f2024));

  > a {
    color: $white;
    float: left;
    position: relative;

    &.inactive {
      color: $medium-gray;
      pointer-events: none;
      cursor: default;
    }

    &.redo {
      @include transform(rotate(90deg));
      margin-left: 8px;
    }
    &.undo {
      @include transform(rotate(-90deg));
      margin-right: 8px;
    }
  }
}
