.undoredo {
  @include filter(drop-shadow(0px 1px 1px #1f2024));
  > a {
    color: $white;
    position: absolute;
    &.inactive {
      color: $medium-gray;
      pointer-events: none;
      cursor: default;
    }
    &.redo{
      right: 60px;
      top: 0px;
      @include transform(scale(1.5) rotate(90deg));
    }
    &.undo{
      top: 0px;
      right: 100px;
      @include transform(scale(1.5) rotate(-90deg));
    }
  }
}
