.history-control {
  @include filter(drop-shadow(0px 1px 1px #1f2024));

  > a {
    color: $white;
    float: left;
    font-size: 2em;
    padding: 0 5px;
    position: relative;

    &.inactive {
      color: $medium-gray;
      pointer-events: none;
      cursor: default;
    }

    &.redo {
      @include transform(rotate(90deg));
    }
    &.undo {
      @include transform(rotate(-90deg));
    }
  }
}
