{
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    ["angularjs-annotate", { "explicitOnly" : true}]
  ],
  "ignore": [
    "**/**/*.css"
  ],
  "presets": [
    [ "es2015", { "modules": false } ],
    "react"
  ]
}
