{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "rules": {
    "angular/controller-name": [2, "/[A-Z].*Ctrl/"],
    "angular/di": 0,
    "angular/json-functions": 0,
    "comma-dangle": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "jasmine": true
  },
  "ecmaFeatures": {
    "modules": true,
    "restParams": true,
    "experimentalObjectRestSpread": true
  },
  "globals": {
    "$": true,
    "_": true,
    "angular": true,
    "d3": true,
    "inject": true,
    "introJs": true,
    "module": true,
    "moment": true,
    "Parallel": true,
    "Slick": true,

    "DataViewMock": true,
    "ParallelMock": true,
    "SlickGridMock": true
  }
}
