# Created by .gitignore support plugin (hsz.mobi)


### JetBrains template
## Directory-based project format
.idea/

## File-based project format
*.iml

### Node template
# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

### Bower template
# Dependency directory
bower_components/

### Project
.DS_Store
.sass-cache/
.tmp/
dist/
node/
ngdoc/