@mixin playground-layout {
  @include flex-row();

  .playground-center {
    position: relative;
    @extend .flex-center;

    #filter-bar {
      margin: 10px 10px 5px 10px;
    }

    .datagrid-container {
      margin: 10px;
      @include calc(height, "100vh - 230px");
    }
  }
}

//-----------------------------------------------------------------------------------------------------------
//-----------------------------------------------------HEADER------------------------------------------------
//-----------------------------------------------------------------------------------------------------------
.left-header {
  float: left;
}

.right-header {
  float: right;
  margin-right: 51px;

  .onboarding-prep-icon {
    color: $medium-gray;
    padding-left: 10px;
    padding-right: 10px;
    @include filter(drop-shadow(0px 1px 1px #1f2024));

    &:hover {
      color: lighten($medium-gray, 10%);
    }
  }

  .preview {

    .previewBadge {
      line-height: 36px;
      height: 36px;
      padding: 0 5px;
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.5);

      .previewBadgeElement {
        padding: 0 5px;
        vertical-align: middle;
      }
    }
  }

  #playground-lookup-icon {
    padding: 8px;

    > img {
      vertical-align: middle;
    }
  }

  .pressed {
    @include background(linear-gradient(#4D4D50, #6E6D71) left repeat);
  }
}

//-----------------------------------------------------------------------------------------------------------
//-----------------------------------------------------BODY--------------------------------------------------
//-----------------------------------------------------------------------------------------------------------
.playground {
  @include playground-layout();

  .steps-header{
    margin: 15px 0 15px 10px;

    .editable-text {
      padding: 5px;
    }

    .editable-text-text{
      padding: 2px 0;
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  .label-switch {
    $action-color: #b6be00 !important;
    $base-background-color: white !default;
    $switch-width: 42px;
    $switch-padding: 2px;
    $switch-height: 22px;
    $switch-radius: $switch-height;
    $knob-size: $switch-height - ($switch-padding * 2);
    $knob-radius: $switch-height - ($switch-padding * 2);
    $knob-width: $knob-size;
    $switch-background: $base-background-color;
    $switch-border-background: darken($base-background-color, 9%);
    $switch-shadow: 0 2px 5px transparentize(black, 0.6);

    border-radius: $switch-radius;
    cursor: pointer;
    display: inline-block;
    height: $switch-height;
    padding: 3px;
    position: relative;
    width: $switch-width;
    float: right;

    input[type="checkbox"] {
      display: none;

      + .checkbox {
        @include transition(all 0.3s ease);
        background: $switch-border-background;
        border-radius: $switch-radius;
        border: none;
        cursor: pointer;
        height: $switch-height;
        margin-top: 4px;
        padding: 0;
        position: relative;
        width: $switch-width;
        z-index: 0;

        &:before {
          @include position(absolute, 2px 0 0 2px);
          @include transform(scale(1));
          @include transition(all 0.3s ease);
          background: $switch-background;
          border-radius: $switch-radius;
          content: "";
          height: $knob-radius;
          width: $switch-width - ($switch-padding * 2);
          z-index: 1;
        }

        &:after {
          @include position(absolute, 2px 0 0 2px);
          @include transition(all 0.3s ease);
          @include size($knob-size);
          background: $switch-background;
          border-radius: $knob-radius;
          box-shadow: $switch-shadow;
          content: "";
          z-index: 2;
        }
      }

      &:checked {
        + .checkbox {
          background: $action-color;

          &:before {
            @include transform(scale(0));
          }

          &:after {
            left: $switch-width - $knob-width - ($switch-padding);
          }
        }
      }
    }
  }
}
