.previewBadge {
  display: table;
  line-height: 24px;
  border-radius: 5px;

  position: absolute;
  top: 14px;
  right: 230px;

  background: rgba(255, 255, 255, 0.5);

  .previewBadgeElement {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
  }
}

.export {
  position: absolute;
  top: 7px;
  right: 80px;
}

.steps-header{
  margin: 15px 0 15px 10px;

  .title{
    padding: 3px 0 4px 0;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
  }
  input{
    font-family: $base-font-family;
    float: left;
    width:190px;
    padding: 5px 0 4px 3px;
  }
  button{
    font-family: $iconsfont;
    font-size: .9em;
    margin: 3px;
    padding: 2px;
    border-radius: 50px;
    vertical-align: top;
    background-color: transparent;
    color: $medium-gray;
    font-weight: 400;
    font-style: normal;
    width: 24px;
    height: 24px;

    &.edit-btn{
      margin-top: 2px;
      color: $medium-gray;
      background-color: transparent;
      &:after {
        content: "a";  /* Edit icon  */
      }
      &:hover{
       color: $dark-gray;
      }
    }

    &.cancel-btn{
        color: $dark-gray;
        background-color: $light-gray;
      &:after {
        content: "b";
      }
      &:hover{
        background-color: darken( $light-gray, 10% );
      }
    }

    &.check-btn{
        margin-left: 0px;
         color: $white;
         background-color: $dark-green;
      &:after {
        content: "c";
      }
      &:hover {
        background-color: darken( $dark-green, 10% );
      }
    }
  }
}

.label-switch {
  $action-color: #b6be00 !important;
  $base-background-color: white !default;
  $switch-width: 42px;
  $switch-padding: 2px;
  $switch-height: 22px;
  $switch-radius: $switch-height;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $switch-background: $base-background-color;
  $switch-border-background: darken($base-background-color, 9%);
  $switch-shadow: 0 2px 5px transparentize(black, 0.6);

  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;
  float: right;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include transition(all 0.3s ease);
      background: $switch-border-background;
      border-radius: $switch-radius;
      border: none;
      cursor: pointer;
      height: $switch-height;
      margin-top: 4px;
      padding: 0;
      position: relative;
      width: $switch-width;
      z-index: 0;

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $action-color;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}