<talend-modal class="playground"
              fullscreen="true"
              state="playgroundCtrl.showPlayground"
              close-button="true"
              on-close="playgroundCtrl.refreshPreparations()">
    <div class="modal-header">
        <ul>
            <li>
                <export></export>
            </li>
            <li translate="FILE_DETAILS" translate-value-name="{{playgroundCtrl.metadata.name}}" translate-value-records="{{playgroundCtrl.metadata.records}}"></li>
            <li>
                <span class="title">{{::'PREPARATION' | translate}} :</span>
                <input type="text"
                       class="discret-input"
                       placeholder="{{::'ENTER_PREPARATION_NAME' | translate}}"
                       ng-model="playgroundCtrl.preparationName"
                       ng-model-options="{updateOn: 'default blur'}"
                       ng-blur="playgroundCtrl.changeName()"/>
            </li>
        </ul>
    </div>

    <div class="modal-body flex">
        <talend-slidable visible="false" class="flex-side recipe">
            <recipe metadata="playgroundCtrl.metadata"></recipe>
        </talend-slidable>

        <div class="flex-center">
            <filter-list></filter-list>

            <div class="datagrid-container">
                <datagrid></datagrid>
            </div>
        </div>

        <talend-slidable visible="true" side="right" class="flex-side suggestions">
            <suggestions></suggestions>
        </talend-slidable>
    </div>
</talend-modal>
