<talend-modal fullscreen="true"
              state="playgroundCtrl.state.playground.visible"
              close-button="true"
              before-close="playgroundCtrl.beforeClose()"
              on-close="playgroundCtrl.close()">
    <div class="modal-header">
        <ul class="left-header">
            <li translate="FILE_DETAILS" translate-value-name="{{playgroundCtrl.state.playground.dataset.name}}" translate-value-records="{{playgroundCtrl.state.playground.dataset.records}}"></li>
            <li ng-if="playgroundCtrl.state.enterprise" insertion-playground-header-1></li>
        </ul>

        <ul class="right-header">
            <li class="preview" ng-show="playgroundCtrl.previewInProgress">
                <div class="previewBadge">
                    <img src="assets/images/eye.svg" alt="Blue Square" height="24px" class="previewBadgeElement"/>
                    <span class="previewBadgeElement">Preview</span>
                </div>
            </li>
            <li>
                <a id="playground-lookup-icon"
                   ng-click="playgroundCtrl.toggleLookup()"
                   ng-class="{pressed: playgroundCtrl.state.playground.lookupVisibility}">
                    <img src="assets/images/lookup/lookup-button.png">
                </a>
            </li>
            <li>
                <export></export>
            </li>
            <li class="nav-link"><a class="icon onboarding-prep-icon" data-icon="y" style="color:white;"
                                    ng-click="playgroundCtrl.onboardingService.startTour('playground')"></a></li>
            <li id="help-history">
                <history-control></history-control>
            </li>
        </ul>
    </div>

    <div class="modal-body playground">
        <talend-slidable visible="playgroundCtrl.state.playground.recipe.visible" side="left" class="flex-side recipe">
            <!-- Recipe Header -->
            <div class="steps-header">
                <label class="label-switch" ng-show="playgroundCtrl.hasRecipe">
                    <input type="checkbox"
                           ng-model='playgroundCtrl.hasActiveStep'
                           ng-change='playgroundCtrl.toggleRecipe()'/>

                    <div id="recipe-toggle-switch" class="checkbox"></div>
                </label>

                <div id="help-preparation-name">
                    <talend-editable-text edition-mode="playgroundCtrl.state.playground.nameEditionMode"
                                          on-validate="playgroundCtrl.confirmPrepNameEdition(text)"
                                          placeholder="ENTER_PREPARATION_NAME"
                                          text="playgroundCtrl.preparationName"></talend-editable-text>
                </div>
            </div>

            <!-- Recipe -->
            <recipe id="help-recipe"></recipe>
        </talend-slidable>

        <div class="playground-center">
            <filter-bar></filter-bar>

            <div class="datagrid-container">
                <datagrid></datagrid>
            </div>

            <lookup visible="playgroundCtrl.state.playground.lookupVisibility"></lookup>
        </div>

        <talend-slidable visible="true" side="right" class="flex-side suggestions">
            <div ng-if="playgroundCtrl.state.playground.suggestionsStats.visible">
                <suggestions-stats></suggestions-stats>
            </div>
            <div class="suggestions-loading-div" ng-if="!playgroundCtrl.state.playground.suggestionsStats.visible">
                <span class="suggestions-loading continuous-rotate" ><i data-icon="c" class="icon"></i></span>
            </div>

        </talend-slidable>
    </div>
</talend-modal>

<talend-modal
        fullscreen="false"
        state="playgroundCtrl.showNameValidation"
        disable-enter="true"
        close-button="true">
    <div class="modal-title" translate-once="SAVE_CHANGE"></div>
    <br/>
    <div translate-once="SAVE_CHANGE_DESCRITION_1"></div>
    <div translate-once="SAVE_CHANGE_DESCRITION_2"></div>
    <br/><br/>

    <form id="playground-save-form" name="savePreparationForm" ng-submit="savePreparationForm.$valid && playgroundCtrl.confirmSaveOnClose()">

        <div class="modal-form-row">
            <div class="param-name" translate-once="PREPARATION_NAME"></div>
            <input type="text"
                   id="playground-save-name-input"
                   class="param-input"
                   translate-once-placeholder="ENTER_PREPARATION_NAME"
                   ng-model="playgroundCtrl.preparationName"
                   can-be-blank="false"/>
        </div>

        <div class="modal-buttons">
            <a class="modal-secondary-button"
               ng-click="playgroundCtrl.discardSaveOnClose()" translate-once="NO_THANKS"></a>
            <button class="modal-primary-button btn-primary"
                    ng-disabled="savePreparationForm.$invalid || playgroundCtrl.saveInProgress"
                    type="submit"
                    ng-switch="!!playgroundCtrl.saveInProgress">
                <span ng-switch-when="false" translate-once="SAVE_IT"></span>
                <span ng-switch-when="true"><i data-icon="c" class="icon continuous-rotate"></i></span>
            </button>
        </div>
    </form>
</talend-modal>
