<talend-modal fullscreen="true"
              state="playgroundCtrl.showPlayground"
              close-button="true"
              before-close="playgroundCtrl.beforeClose()"
              on-close="playgroundCtrl.close()">
    <div class="modal-header">
        <ul class="left-header">
            <li translate="FILE_DETAILS" translate-value-name="{{playgroundCtrl.metadata.name}}" translate-value-records="{{playgroundCtrl.metadata.records}}"></li>
            <li>
                <span>Sample size</span>
                <select ng-model="playgroundCtrl.selectedSampleSize"
                        ng-options="size.display for size in playgroundCtrl.sampleSizes"
                        ng-change="playgroundCtrl.playgroundService.changeSampleSize()"
                        class="sample">
                </select>
            </li>
        </ul>

        <ul class="right-header">
            <li class="preview" ng-show="playgroundCtrl.previewInProgress">
                <div class="previewBadge">
                    <img src="assets/images/eye.svg" alt="Blue Square" height="24px" class="previewBadgeElement"/>
                    <span class="previewBadgeElement">Preview</span>
                </div>
            </li>
            <li class="export">
                <export></export>
            </li>
            <li>
                <history-control></history-control>
            </li>
        </ul>
    </div>

    <div class="modal-body playground">
        <talend-slidable visible="playgroundCtrl.showRecipe" class="flex-side recipe">
            <!-- Recipe Header -->
            <div class="steps-header">
                <label class="label-switch" ng-show="playgroundCtrl.hasRecipe">
                    <input type="checkbox"
                           ng-model='playgroundCtrl.hasActiveStep'
                           ng-change='playgroundCtrl.toggleRecipe()'/>
                    <div class="checkbox"></div>
                </label>

                <div ng-show="!playgroundCtrl.editionMode">
                    <span class="title">{{playgroundCtrl.preparationName}}</span>
                    <a class="edit-btn" data-icon="a" ng-click="playgroundCtrl.toggleEditionMode()"></a>
                </div>
                <div ng-show="playgroundCtrl.editionMode">
                    <input id="prepNameInput"
                           type="text"
                           placeholder="{{::'ENTER_PREPARATION_NAME' | translate}}"
                           ng-model="playgroundCtrl.preparationName"
                           ng-model-options="{updateOn: 'default blur'}" />
                    <div>
                        <a class="check-btn" data-icon="c" ng-click="playgroundCtrl.confirmPrepNameEdition()"></a>
                        <a class="cancel-btn" data-icon="d" ng-click="playgroundCtrl.cancelPrepNameEdition()"></a>
                    </div>
                </div>

            </div>

            <!-- Recipe -->
            <recipe metadata="playgroundCtrl.metadata"></recipe>
        </talend-slidable>

        <div class="playground-center">
            <filter-list></filter-list>

            <div class="datagrid-container">
                <datagrid></datagrid>
            </div>
        </div>

        <talend-slidable visible="true" side="right" class="flex-side suggestions">
            <suggestions-stats></suggestions-stats>
        </talend-slidable>
    </div>
</talend-modal>

<talend-modal
        fullscreen="false"
        state="playgroundCtrl.showNameValidation"
        disable-enter="true"
        close-button="true">
    <div class="modal-title">Save Your Changes ?</div>
    <br/>
    You've transformed your dataset in a preparation that can be saved in order to be re-used next time.<br/>
    Do you want to save it ?
    <br/><br/>
    <form name="savePreparationForm" ng-submit="playgroundCtrl.confirmSaveOnClose()">

        <div class="modal-form-row">
            <div class="param-name">Preparation Name: </div>
            <input type="text"
                   class="param-input"
                   placeholder="{{::'ENTER_PREPARATION_NAME' | translate}}"
                   ng-model="playgroundCtrl.preparationName"
                   not-blank-validation="false"/>
        </div>

        <div class="modal-buttons">
            <a class="modal-secondary-button"
               ng-click="playgroundCtrl.discardSaveOnClose()">No, Thanks !</a>
            <button class="modal-primary-button btn-primary"
                    ng-disabled="savePreparationForm.$invalid || playgroundCtrl.saveInProgress"
                    type="submit"
                    ng-switch="!!playgroundCtrl.saveInProgress">
                <span ng-switch-when="false">SAVE IT</span>
                <span ng-switch-when="true"><i data-icon="c" class="icon continuous-rotate"></i></span>
            </button>
        </div>
    </form>
</talend-modal>
