.filter-list {
  width: 100%;
  background-color: $dark-blue;
  color: $white;
  overflow-x: auto;

  >ul {
    > li {
      float: left;
      line-height: 50px;
      padding-left: 15px;

      input[type="search"] {
        background-color: transparent;
        color: $white;
        
        position: relative;
        margin: 7px 0 0;
        width: 150px;
        border: none;
      }
      .ac-container {
        color: $dark-gray;
      }
    }
  }
}