<li class="more">
    <a><span class="itemText" translate-once="COLUMN_TYPE_IS"></span><span>&nbsp;</span><span class="info">{{ typeMenuCtrl.currentSimplifiedDomain }}</span></a>
    <ul class="submenu">
        <li ng-repeat="semanticDomain in typeMenuCtrl.domains track by semanticDomain.id"
            ng-click="typeMenuCtrl.changeDomain(semanticDomain)">
            <input type="radio" value="{{ ::semanticDomain.id}}" ng-model="typeMenuCtrl.currentDomain"/>
            {{ ::semanticDomain.label | translate }} {{ semanticDomain.frequency }} %
        </li>
        <li class="divider"></li>
        <li ng-repeat="type in typeMenuCtrl.types track by type.id"
            ng-click="typeMenuCtrl.changeType(type)">
            <input type="radio" value="{{ ::type.id}}" ng-model="typeMenuCtrl.currentDomain"
                   ng-checked="typeMenuCtrl.shouldBeChecked(type)"/>
            <span translate-once="COLUMN_TYPE_SET"></span><span>&nbsp;</span>{{::type.labelKey | translate }}
        </li>
    </ul>
</li>
