.recipe {
  $color: $dark-gray;
  $background: $light-gray;

  background: $background;
  color: $color;
  font-size: 0.85em;

  li {
    padding: 5px 5px 5px 10px;

    a {
      text-decoration: none;
      color: $color;
    }

    input {
      color: #000000;
    }

    .submenu {
      background: tint($background, 30%);
    }

    .recipe-description {
      text-transform: capitalize;

      &.recipe-column-name {
        font-weight: bold;
      }
    }
  }

  .action {
    &:hover {
      background: darken($background, 10%);
    }
  }
}