.recipe {
  $color: $black;
  $background: $white;

  background: $background;
  color: $color;
  font-size: 0.95em;

  .recipe-step {
    &.preview {
      background-color: $new-color;
    }

    &.remove {
      color: $medium-gray;
      background-color: $light-gray;
      text-decoration: line-through;
    }
  }

  > .content > .content-container {
    padding-right: 14px;
  }

  ul{
    border-top: 1px solid $shadow-gray;
    padding-top: 5px;
  }

  /*************************************Step text*************************************/
  li {
    padding: 5px 5px 5px 10px;
    position: relative;

    .step-description {
      padding-right: 30px;

      .recipe-description {


        &.recipe-column-name {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    &:hover{
      background-color: $light-gray;
    }
  }

  /*******************************Step preview trigger******************************/
  .step-trigger {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0;
    height: 100%;

    &::after {
      display: inline-block;
      vertical-align: middle;
    }
  }

  /*******************************Step Filters List******************************/
  #step-filters-list {
    background-color: $shadow-gray;
    color: $dark-gray;
    max-height: 85px;
    overflow-y: auto;
    @include display(flex);
    @include flex-direction(row);
    .list {
      @include flex-grow(1);
      @include flex-shrink(1);
    }
  }

  /***********************************Panel hide/show*******************************/
  .action {
    &:hover {
      background: darken($background, 10%);
    }
  }

  .remove-icon {
    display: none;
    margin-right: 5px;
    color: $medium-gray;
    font-size: 0.6em;

    &:hover {
      color: $color-error;
    }
  }

  .step-description:hover .remove-icon {
    animation: fadeInLeft 0.25s;
    display: block;
    float: left;
  }
}