.recipe {
  $color: $black;
  $background: $white;

  background: $background;
  color: $color;
  font-size: 0.95em;

  .recipe-step {
    &.preview {
      background-color: $new-color;
    }

    &.remove {
      color: $medium-gray;
      background-color: $light-gray;
      text-decoration: line-through;
    }

    .content {
      background-color: transparent;
    }
  }

  > .content > .content-container {
    padding-right: 14px;
  }

  ul{
    border-top: 1px solid $shadow-gray;
    padding-top: 5px;
  }

  /*************************************Step text*************************************/
  li {
    padding: 5px 5px 5px 10px;
    position: relative;

    .step-description {
      font-size: .8em;
      padding-right: 30px;

      .filter-icon {
        color: $dark-gray;
        font-size: 0.65em;
        padding: 0 0 0 5px;
      }

      .recipe-column-name {
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    &:hover{
      background-color: $light-gray;
    }
  }

  /*******************************Step preview trigger******************************/
  .step-trigger {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0;
    height: 100%;

    &::after {
      display: inline-block;
      vertical-align: middle;
    }
  }

  /*******************************Step Filters List******************************/
  .step-filters-list {
    cursor: initial;
    background-color: $shadow-gray;
    color: $dark-gray;
    max-height: 160px;
    overflow-y: auto;
    padding: 0 0  0 10px;
    @include display(flex);
    @include flex-direction(row);
    .list {
      @include flex-grow(1);
      @include flex-shrink(1);

      li:hover{
        background-color: transparent;
      }
    }
  }

  .step-parameters-list {
    background-color: $shadow-gray;
    margin-top: 10px;
  }
  /***********************************Panel hide/show*******************************/
  .action {
    &:hover {
      background: darken($background, 10%);
    }
  }

  .remove-icon {
    display: none;
    margin-right: 5px;
    color: $medium-gray;
    font-size: 0.6em;

    &:hover {
      color: $color-error;
    }
  }

  .step-description:hover .remove-icon {
    animation: fadeInLeft 0.25s;
    display: block;
    float: left;
  }
}