<talend-accordions>
    <talend-accordions-item ng-repeat="step in recipeCtrl.recipe track by step.transformation.stepId"
                            id="step-{{step.transformation.stepId}}"
                            on-open="recipeCtrl.resetParams(step)"
                            default="$index === (recipeCtrl.recipe.length - 1)"
                            class="recipe-step"
                            ng-class="::{'preview': step.preview}">
        <div class="trigger step-description"
             ng-click="recipeCtrl.showModal[$index] = !!recipeCtrl.hasDynamicParams(step)"
             ng-switch="step.actionParameters.parameters.scope">

            <i data-icon="e"
               id="step-remove-{{step.transformation.stepId}}"
               ng-click="recipeCtrl.remove(step)"
               class="remove-icon animated"></i>
            {{$index + 1}}.
            <span class="recipe-description">{{::step.transformation.label}}</span>

            <span ng-switch-when="column">
                <span translate-once="RECIPE_ITEM_ON_COL"></span>
                <span class="recipe-description recipe-column-name">{{::step.column.name}}</span>
            </span>
            <span ng-switch-when="cell">
                <span translate-once="RECIPE_ITEM_ON_CELL"></span>
            </span>

            <recipe-bullet class="step-trigger" step="step" ></recipe-bullet>

            <div id="step-filters-list" ng-show="step.filters.length">
                <filter-list class="list"
                         filters="step.filters"
                         on-filter-remove="recipeCtrl.removeStepFilter(step, filter)"></filter-list>
            </div>
        </div>

        <div class="content" ng-if="recipeCtrl.hasParameters(step)">
            <transform-form ng-if="recipeCtrl.hasStaticParams(step)"
                              transformation="step.transformation"
                              on-submit="recipeCtrl.stepUpdateClosure(step)(params)"
                              on-submit-hover-on="recipeCtrl.previewUpdateClosure(step)(params)"
                              on-submit-hover-off="recipeCtrl.cancelPreview()"></transform-form>

            <talend-modal ng-if="recipeCtrl.hasDynamicParams(step)"
                          fullscreen="false"
                          state="recipeCtrl.showModal[$index]"
                          close-button="true">
                <div class="modal-title">{{ ::step.transformation.label }}</div>
                <div class="modal-subtitle">{{ ::step.transformation.description }}</div>

                <transform-form transformation="step.transformation"
                                  on-submit="recipeCtrl.stepUpdateClosure(step)(params)"></transform-form>
            </talend-modal>
        </div>
    </talend-accordions-item>
</talend-accordions>