@import "menu";
@import "subheader";
@import "folders";

$header-height: 56px;
$footer-height: 50px;

.home {

  @include calc(height, "100vh - 2 * " + $header-height + " - " + $footer-height);
  width: 1140px;
  margin: auto;

  @include flex-row();
  @include flex-grow(1);
  @include justify-content(center);

  .large{
    font-size: 5em;
    color: $light-blue;
    -webkit-filter: none;
  }

  #upload-list-container {
    @include flex-fixed();
  }

  #inventory-list-container {
    @include flex-flexible();
    position: relative;
  }
}
