.side-menu {
  $base-accent-color: #477DCA !default;

  $sliding-menu-border-color: white;
  $sliding-menu-background: lighten($sliding-menu-border-color, 5%);
  $sliding-menu-color: black;
  $sliding-menu-border: 1px solid $sliding-menu-border-color;
  $sliding-menu-background-hover: $base-accent-color;
  $sliding-menu-color-hover: #fff;
  $sliding-menu-background-focus: lighten($sliding-menu-background, 5%);

  overflow-y: auto;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;

    a {
      border-bottom: $sliding-menu-border;
      color: $sliding-menu-color;
      display: block;
      padding: 1em 1em 1em 2.5em;
      text-decoration: none;

      &:focus {
        background-color: $action-hover-background;
      }

      &:hover {
        background-color: $action-hover-background;
        color: $sliding-menu-color-hover;
      }

      &.selected {
        font-weight: bold;
        background-color: $action-hover-background;
      }
    }
  }
}
