// Sub Header
$subheader-height: 51px;
$subheader-background: $light-gray;

.subheader {
  background-color: $subheader-background;
  border-bottom: 1px solid $light-gray;
  box-shadow: $box-shadow;
  z-index: 20;
  
  .subheader-wrapper {
    @include outer-container;

    ul {
      padding-top: 10px;
      
      li {
        float: left;

        &.primary {
          padding-right: 30px;
        }
      }
      
    }
  }

  .subheader-right {

    button {
      padding-top: 2px;
      float: right;

      //reset os styles
      border: 1px solid transparent;
      outline:none;

      &.btnToggleON {
        border: 1px solid $medium-gray;
        background-color: adjust-color($light-gray, $lightness: -10%, $alpha: -0.0)!important;
      }

      &:hover {
        background-color: $light-gray!important;
      }
    }
  }
}

.expand-collapse-RHP{
  background: $button-toggle url('/assets/images/collapse_right_panel.png') no-repeat 10px 5px !important;
  padding: 0px 5px 0px 40px!important;
}

.view-mode{
  float: right;
  color: $medium-gray;
  font-size: 1.4rem;
  padding: 8px 15px 0px 0px;
}

.expand-panel{
  float: right;
  color: $medium-gray;
  font-size: 1.5rem;
  padding: 6px 15px 0px 15px;
}