// Sub Header
$subheader-height: 51px;
$subheader-background: $light-gray;

.subheader {
  background-color: $subheader-background;
  border-bottom: 1px solid $light-gray;
  box-shadow: $box-shadow;

  .subheader-wrapper {
    @include outer-container;

    >ul {
      padding-top: 10px;
      
      >li {
        float: left;

        &.primary {
          padding-right: 30px;
        }
      }
      
    }
  }
}

.view-mode{
  float: right;
  color: $medium-gray;
  font-size: 1.4rem;
  padding: 8px 15px;
}

.expand-panel{
  float: right;
  color: $medium-gray;
  font-size: 1.5rem;
  padding: 6px 15px;
}