<div>
    <div ng-include="'components/home/home-subheader.html'"></div>
    
    <div class="container flex">

        <div class="flex-menu-left side-menu">
            <ul>
                <li><a ui-sref="nav.home.datasets" ui-sref-active="selected">{{ ::'ALL_FOLDERS' | translate }}</a></li>
                <li><a ui-sref="nav.home.preparations" ui-sref-active="selected">{{ ::'ALL_PREPARATIONS' | translate }}</a></li>
                <li><a href="javascript:void(0)">{{ ::'MOST_RECENT_FILES' | translate }}</a></li>
                <li><a href="javascript:void(0)">{{ ::'ALL_SHAKED_FILES' | translate }}</a></li>
                <li><a href="javascript:void(0)">{{ ::'FAVORITE_FILES' | translate }}</a></li>
            </ul>
        </div>

        <div class="flex-center">
            <dataset-upload-list datasets="homeCtrl.uploadingDatasets"></dataset-upload-list>
            <ui-view name="home-content"></ui-view>
        </div>

        <talend-slidable visible="homeCtrl.showRightPanel" side="right" class="flex-side inventory-data" resizable="inventory-data">
            <p class="title">{{ ::'INVENTORY_DATA' | translate }}</p>
            <hr/>
            <p class="empty">
                <img src="/assets/images/large_folder.png"/>
                <br/>
                {{ ::'SELECT_DATASET_DESCRIPTION' | translate }}
            </p>
        </talend-slidable>
    </div>

    <playground></playground>
</div>
