<header class="subheader">
    <div class="subheader-wrapper">
        <ul id="help-dataset-nav">
            <li class="primary">

                <talend-button-dropdown button-text="{{ ::'IMPORT_DATASET' | translate }}"
                                        button-action="homeCtrl.startDefaultImport()">
                    <ul>
                        <li ng-repeat="importType in homeCtrl.importTypes" ng-click="homeCtrl.startImport(importType)">
                            {{importType.name}}
                        </li>
                    </ul>
                </talend-button-dropdown>

                <input type="file"
                       id="datasetFile"
                       name="datasetFile"
                       class="ng-hide"
                       ng-file-select
                       accept="*.csv"
                       ng-model="homeCtrl.datasetFile"
                       ng-file-change="homeCtrl.uploadDatasetFile()"/>
            </li>

            <!-- FOR DEMO PURPOSE ONLY -->
            <li>
                <img src="/assets/images/images/breadcrumb.png"
                     alt="this is a fake breadcrumb for demo purpose" height="42"
                     width="565">
            </li>
        </ul>
        <div class="subheader-right ">
            <a data-icon="t" class="expand-panel" ng-click="homeCtrl.toggleRightPanel()"></a>
            <a data-icon="o" class="view-mode"></a>
        </div>
    </div>

    <!-- Import dataset from local file -->
    <talend-modal fullscreen="false"
                  close-button="true"
                  state="homeCtrl.datasetNameModal">
        {{ ::'ENTER_DATASET_NAME' | translate }}
        <form name="homeCtrl.datasetNameForm">
            <input type="text" ng-model="homeCtrl.datasetName" required/>

            <div class="modal-buttons">
                <button class="talend-modal-close btn-secondary modal-secondary-button">{{ ::'CANCEL' | translate }}
                </button>
                <button class="talend-modal-close btn-primary modal-primary-button"
                        ng-click="homeCtrl.uploadDatasetName()"
                        ng-disabled="homeCtrl.datasetNameForm.$invalid">{{ ::'OK' | translate }}
                </button>
            </div>
        </form>
    </talend-modal>


    <!-- Import remote HTTP dataset -->
    <talend-modal fullscreen="false"
                  close-button="true"
                  state="homeCtrl.datasetHttpModal">

        <div class="modal-title">{{ ::'IMPORT_HTML_DATASET' | translate }}</div>
        {{ ::'ENTER_DATASET_NAME' | translate }}
        <input type="text" ng-model="homeCtrl.datasetName" required/>

        {{ ::'ENTER_DATASET_URL' | translate }}
        <input type="text" ng-model="homeCtrl.datasetUrl" placeholder="http://" required/>

        <div class="modal-buttons">
            <button class="talend-modal-close btn-secondary modal-secondary-button">
                {{ ::'CANCEL' | translate }}
            </button>
            <button class="talend-modal-close btn-primary modal-primary-button"
                    ng-click="homeCtrl.importHttpDataSet()"
                    ng-disabled="homeCtrl.datasetNameForm.$invalid">{{ ::'OK' | translate }}
            </button>
        </div>
    </talend-modal>

</header>

<div class="home">
    <div class="flex-left-panel side-menu">
        <ul>
            <li id="nav_home_datasets"><a ui-sref="nav.home.datasets" ui-sref-active="selected">{{ ::'ALL_FOLDERS' | translate }}</a></li>
            <li id="nav_home_preparations"><a ui-sref="nav.home.preparations" ui-sref-active="selected">{{ ::'ALL_PREPARATIONS' | translate }}</a></li>
            <li><a href="javascript:void(0)">{{ ::'MOST_RECENT_FILES' | translate }}</a></li>
            <li><a href="javascript:void(0)">{{ ::'ALL_SHAKED_FILES' | translate }}</a></li>
            <li><a href="javascript:void(0)">{{ ::'FAVORITE_FILES' | translate }}</a></li>
        </ul>
    </div>

    <div class="flex-center flex-column">
        <div class="flex-fixed">
            <dataset-upload-list datasets="homeCtrl.uploadingDatasets"></dataset-upload-list>
        </div>
        <div class="flex-flexible">
            <ui-view name="home-content"></ui-view>
        </div>
    </div>

    <talend-slidable visible="homeCtrl.showRightPanel" side="right" class="flex-right-panel inventory-data" resizable="inventory-data">
        <p class="title">{{ ::'INVENTORY_DATA' | translate }}</p>
        <hr/>
        <p class="empty">
            <i data-icon="i" class="iconfont large"></i>
            <br/>
            {{ ::'SELECT_DATASET_DESCRIPTION' | translate }}
        </p>
    </talend-slidable>
</div>

<dataset-xls-preview></dataset-xls-preview>
<playground></playground>
