<?xml version="1.0" encoding="UTF-8" ?>
<configuration> <!-- status="debug"> -->
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}"/>
        </Console>
    </appenders>
    <!--
    <appenders>
      <RollingRandomAccessFile name="console" fileName="./dataprep-transformation.log"
                               filePattern="./dataprep-transformation-%d{yyyyMMdd}.log"
                               immediateFlush="true" append="true">
        <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n}" />
        <Policies>
          <TimeBasedTriggeringPolicy />
        </Policies>
      </RollingRandomAccessFile>
    </appenders>
    -->
    <loggers>

        <logger name="org.springframework" level="info"/>

        <logger name="org.talend.dataprep.preparation" level="info"/>

        <!-- useful loggers to see mongodb queries -->
        <logger name="org.springframework.data.mongodb" level="info"/>
        <logger name="org.springframework.data.document.mongodb" level="info"/>

        <root level="info" includeLocation="true">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>

