<?xml version="1.0" encoding="UTF-8" ?>
<configuration> <!-- status="debug"> -->
    <appenders>
        <Console name="console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] [%marker] %-5level %logger{36} - %msg%n}"/>
        </Console>

        <Socket name="logstash" host="10.42.10.99" port="4560" ignoreExceptions="false">
            <JSONLayout compact="true" eventEol="true"/>
        </Socket>

        <Failover name="failover" primary="logstash" retryIntervalSeconds="60">
            <Failovers>
                <AppenderRef ref="console"/>
            </Failovers>
        </Failover>

    </appenders>

    <loggers>
        <!-- http client logging -->
        <!-- enable headers etc... logging -->
        <!--logger name="org.apache.http" level="debug"/-->
        <!-- disable raw content logging which is verbose for binary upload -->
        <!--logger name="org.apache.http.wire" level="debug"/-->
        <logger name="org.springframework" level="info"/>
        <root level="info" includeLocation="true">
            <appender-ref ref="failover"/>
        </root>
    </loggers>

</configuration>

