<?xml version="1.0" encoding="UTF-8" ?>
<configuration> <!-- status="debug"> -->
    <appenders>
        <Console name="console" target="SYSTEM_OUT" ignoreExceptions="false">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%t] [%marker] %-5level %logger{36} - %msg%n}"/>
        </Console>

    </appenders>

    <loggers>
        <!-- http client logging -->
        <!-- enable headers etc... logging -->
        <!--logger name="org.apache.http" level="debug"/-->
        <!-- disable raw content logging which is verbose for binary upload -->
        <!--logger name="org.apache.http.wire" level="debug"/-->
        <logger name="org.springframework" level="info"/>
        <root level="info" includeLocation="true">
            <appender-ref ref="console"/>
        </root>
    </loggers>

</configuration>

