talend-tabs {
  @include flex-column();

  >.tabs {
    @include flex-row();
    box-shadow: -2px -5px 2px -4px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 0.5em;

    background-color: #F1F1F1;

    >.tabs-item {
      color: $medium-gray;
      cursor: pointer;
      font-size: 0.90em;
      text-transform: uppercase;

      width: auto;
      padding: 5px 10px;
      position: relative;
      overflow: hidden;

      &.active {
        font-weight: 600;
        color: $black;

        &:after {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          background: $white;
          transform: rotate(45deg);
          -ms-transform:rotate(45deg); /* IE 9 */
          -moz-transform:rotate(45deg); /* Firefox */
          -webkit-transform:rotate(45deg); /* Safari and Chrome */
          -o-transform:rotate(45deg); /* Opera */
          top: 28px;
          left: calc(50% - 15px);
          box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.3) inset;
        }
      }
    }
  }
}