.actions-list {
  $action-color: tint($black, 20%);
  $action-background: $super-light-gray;

  .actions-category {
    background-color: #F1F1F1;
    color: $black;
    font-weight: 300;
    padding-left: 5px;
  }
  .actions-group {
    color: $action-color;

    .accordion {
      border-bottom: 1px solid $border-color;
      font-size: .95em;
      font-weight: 400;
      padding: 7px 2px 7px 0;

      &:hover{
        background-color: $action-background;
      }

      a.trigger {
        cursor: pointer;
        color: inherit;
        padding-left: 10px;
        text-decoration: none;
        width:100%;
      }

      &.open {
        background-color: $action-background;
        #trigger::before {
          content: "\25BE";
        }
      }
    }
  }

  .highlighted{
    background-color: yellow;
  }
}