<div class="actions-list">
    <div ng-repeat="categoryTransformations in actionsListCtrl.actions track by $index"
         ng-if="actionsListCtrl.shouldRenderCategory(categoryTransformations)">
        <div class="actions-category" ng-bind-html="categoryTransformations.categoryHtml"></div>
        <div>
            <talend-accordions class="actions-group">
                <talend-accordions-item
                        ng-repeat="transfo in categoryTransformations.transformations track by transfo.name"
                        ng-if="actionsListCtrl.shouldRenderAction(transfo)"
                        action="actionsListCtrl.scrollToBottom"
                        ng-switch="!!transfo.parameters">
                    <!--with dynamic parameters-->
                    <a class="trigger"
                       ng-switch-when="false"
                       ng-if="transfo.dynamic"
                       ng-click="actionsListCtrl.select(transfo)" ng-bind-html="transfo.labelHtml"></a>

                    <!--no parameters-->
                    <a class="trigger"
                       ng-switch-when="false"
                       ng-if="!transfo.dynamic"
                       ng-click="actionsListCtrl.select(transfo)"
                       ng-mouseenter="actionsListCtrl.earlyPreview(transfo)({})"
                       ng-mouseleave="actionsListCtrl.cancelEarlyPreview()"
                       ng-bind-html="transfo.labelHtml"></a>

                    <!--with static parameters-->
                    <a class="trigger" ng-switch-when="true" ng-bind-html="transfo.labelHtml"></a>
                    <ul class="content" ng-switch-when="true">
                        <transform-form transformation="transfo"
                                        on-submit="actionsListCtrl.transform(transfo)(params)"
                                        on-submit-hover-on="actionsListCtrl.earlyPreview(transfo)(params)"
                                        on-submit-hover-off="actionsListCtrl.cancelEarlyPreview()"></transform-form>
                    </ul>
                </talend-accordions-item>
            </talend-accordions>
        </div>
    </div>

    <!-- Dynamic params  -->
    <talend-modal fullscreen="false"
                  state="actionsListCtrl.showDynamicModal"
                  close-button="true"
                  ng-if="actionsListCtrl.showDynamicModal">

        <div ng-if="actionsListCtrl.showModalContent">
            <div class="modal-title">{{ actionsListCtrl.dynamicTransformation.label }}</div>
            <div class="modal-subtitle">{{ actionsListCtrl.dynamicTransformation.description }}</div>

            <div ng-if="actionsListCtrl.dynamicFetchInProgress">
                <i data-icon="c" class="icon continuous-rotate"></i>
            </div>
            <transform-form transformation="actionsListCtrl.dynamicTransformation"
                            on-submit="actionsListCtrl.transform(actionsListCtrl.dynamicTransformation)(params)"></transform-form>
        </div>
        <div ng-if="!actionsListCtrl.showModalContent">
            <div class="modal-title">{{ actionsListCtrl.dynamicTransformation.label }}</div>
            <div class="modal-subtitle">{{ actionsListCtrl.emptyParamsMsg | translate }}</div>
        </div>
    </talend-modal>
</div>