.column-profile {
  .column-profile-aggregation {
    margin: 15px 10px;

    .button-dropdown .button-dropdown-main {
      background-color: $white;
      border-color: $dark-gray;
      color: $dark-gray;
      max-width: 240px;
      min-width: 90px;
    }

    .button-dropdown .button-dropdown-side {
      background-color: $white;
      border-color: $dark-gray;
      color: $dark-gray;
    }

    .moreText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 95%;
    }

    .column-profile-aggregation-list {
      @include menu-list;
    }

    .column-profile-aggregation-description {
      padding: 10px 5px;

      .highlight {
        font-weight: bold;
      }
    }
  }
}
