<div class="column-profile">
    <div class="column-profile-aggregation" ng-if="columnProfileCtrl.processedData || columnProfileCtrl.stateDistribution">
        <talend-button-dropdown button-text="{{columnProfileCtrl.aggregationSelected}}">
            <ul>
                <li ng-click="columnProfileCtrl.updateCharts(null,null)" title="{{ 'LINE_COUNT' | translate }}">
                    {{ 'LINE_COUNT' | translate }}
                </li>
                <li ng-repeat="column in columnProfileCtrl.numericColumns"  class="more">
                    <div class="moreText" title="{{column.name}}">{{column.name}}</div>
                    <ul class="submenu">
                        <li ng-repeat="calculation in columnProfileCtrl.calculationsList" ng-click="columnProfileCtrl.updateCharts(column, calculation)" title="{{calculation.name | translate }}">
                            {{calculation.name | translate }}
                        </li>
                    </ul>
                </li>
            </ul>
        </talend-button-dropdown>
    </div>


    <horizontal-barchart id="barChart"
                width="250"
                height="400"
                on-click="columnProfileCtrl.barchartClickFn"
                visu-data="columnProfileCtrl.processedData"
                key-field="occurrences"
                value-field="data"
               ></horizontal-barchart>

    <highchart id="geochart"
               ng-if="columnProfileCtrl.stateDistribution"
               config="columnProfileCtrl.chartConfig"></highchart>
</div>
