@mixin preparation-list-layout() {
  @include flex-row();
  @include flex-wrap(wrap);

  .preparation {
    @include flex-basis(290px);
    @include flex-shrink(0);
    @include flex-grow(0);

    @include flex-row();
    @include align-items(stretch);

    .information {
      @include flex-shrink(1);
      @include flex-grow(1);
    }

    .actions {
      @include flex-basis(25px);
      @include flex-shrink(0);
      @include flex-grow(0);

      @include flex-column();
      @include align-items(center);
      @include justify-content(space-between);
    }
  }
}

.preparation-list {
  $grid-item-border-size: 10px;
  $grid-item-border-color: $white;
  $grid-items-background: $super-light-gray;
  $grid-items-shadow: $shadow-gray;

  $actions-color: #D2D2D2;
  $important-color: $dark-blue;
  $standard-color: $black;

  padding: 5px;
  @include preparation-list-layout();

  .preparation {
    @include transition(background-color 0.2s ease-in-out);

    background-color: $grid-items-background;
    position: relative;
    margin: 5px;
    padding: $grid-item-border-size;
    box-shadow: inset 0 0 1px 1px $shadow-gray;
    text-align: left;

    &:focus,
    &:hover {
      background-color: darken($grid-items-background, 5%);
      box-shadow: 5px 4px 6px -4px $dark-gray;

      .actions a {
        &.trash {
          display: block;
        }
      }
    }

    .one-line {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 240px;
    }

    .information {
      font-size: .8em;

      .important {
        color: $important-color;
      }

      .title {
        font-size: 1.4em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        max-height: 25px;

        a {
          color: $standard-color;
        }
      }

      .details {
        margin-bottom: 5px;
        padding-left: 10px;

        .name {
          max-width: 120px;
          float: left;
        }
      }
    }

    .actions a {
      color: $actions-color;

      &:hover {
        color: $color-error;
      }

      &.favorite {
        font-size: 1.5em;
        &.selected {
          color: $orange;
        }
      }

      &.trash {
        font-size: 1.3em;
        display: none;
      }
    }
  }
}
