@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.preparation-list {
  $grid-item-columns: 4;
  $grid-item-border-size: 10px;
  $grid-item-border-color: $white;
  $grid-items-background: $super-light-gray;
  $grid-items-shadow: $shadow-gray;

  $title-color: $black;
  $important-color: $dark-blue;

  width: 100%;
  padding: 15px;

  .preparation {
    @include transition(all 0.2s ease-in-out);
    text-align: left;
    min-width: 290px;
    max-width: 290px;
    float: left;
    padding: $grid-item-border-size;
    box-shadow: inset 0px 0px 1px 1px $shadow-gray;
    //border: ($grid-item-border-size / 2) solid $grid-item-border-color;
    margin: 5px;
    background-color: $grid-items-background;

    @include grid-item-columns($grid-item-columns);

    &:focus,
    &:hover {
      background-color: darken($grid-items-background, 5%);
      box-shadow: 5px 4px 6px -4px $dark-gray;
    }

    .title {
      font-size: 1.1em;
      font-weight: 700;
      text-transform: uppercase;
      overflow: hidden;
      cursor: pointer;
      margin: 0;
      max-height: 25px;


      a {
        text-overflow: ellipsis;
        color: $title-color;

        &:hover{
          text-decoration: underline;
          color: $dark-blue;
          cursor: pointer;
        }

        &.favorite {
          font-size: 1.2em;
          float: right;
          color: $light-gray;

          &.selected {
            color: $orange;
          }
        }
      }
    }

    .description {
      font-size: 0.8em;
    }

    .details {
      padding-left: 10px;
      font-size: 0.8em;
      margin: 0px 0px 0px 0px;
    }

    .important {

      color: $important-color;
      font-size: 0.9em;
      &:hover{
        //text-decoration: underline;
        //cursor: pointer;
      }
    }

    .actions{
      float: right;
      font-weight: 600;
      color: $grid-items-background;
      &:hover{
        color: $color-error;
      }
    }
  }
}
