<div class="preparation-list">
    <div class="preparation" ng-repeat="preparation in preparationListCtrl.preparations track by $index">
        <div class="information">
            <div>
                <talend-editable-text text="preparation.name"
                                      text-class="title one-line"
                                      on-text-click="preparationListCtrl.load(preparation)"
                                      on-validate="preparationListCtrl.rename(preparation, text)"></talend-editable-text>
            </div>
            <p class="description">
                <span translate-once="OWNED_BY"></span> <span class="important" title="{{preparation.author}}" >{{preparation.author}}</span><br/>
                <span translate-once="LAST_MODIFICATION"></span><span translate-once="COLON"></span>{{preparation.lastModificationDate | TDPMoment}}
            </p>

            <p class="details">
                <span class="important name one-line" title="{{preparation.dataset.name}}">{{preparation.dataset.name}}</span>&nbsp;- {{ preparation.dataset.records}} <span translate-once="ROWS"></span>
            </p>
            <p class="details">
                <span class="important">{{preparation.steps.length - 1}}</span><span class="important" translate-once="STEPS"></span> <span translate-once="RECIPE"></span>
            </p>
        </div>

        <div class="actions">
            <a class="favorite" data-icon="f" ng-class="{selected: preparation.favorite}" ng-click="preparation.favorite = !preparation.favorite"></a>
            <a class="clone-btn" data-icon="B" ng-click="preparationListCtrl.clone(preparation)" id="clone_btn_{{preparation.id}}"></a>
            <a class="trash" data-icon="e" ng-click="preparationListCtrl.delete(preparation)"></a>
        </div>

    </div>
</div>