<div class="preparation-list">
    <div class="preparation" ng-repeat="preparation in preparationListCtrl.preparations track by $index">
        <p class="title">
            <a ui-sref="nav.home.preparations({prepid: preparation.id})">{{preparation.name}}</a>
            <a class="favorite" ng-class="{selected: preparation.favorite}" ng-click="preparation.favorite = !preparation.favorite">&#9733;</a>
        </p>
        <p class="description">
            {{::'OWNED_BY' | translate}} <span class="important">{{preparation.author}}</span><br/>
            {{::'LAST_MODIFICATION' | translate}}: {{preparation.lastModificationDate | date}} {{preparation.lastModificationDate | date:'shortTime'}}
        </p>
        <p class="details">
            <span class="important">{{preparation.dataset.name}}</span> - {{preparation.dataset.records}} {{::'ROWS' | translate}}<br/>
            <p class="details">
                <span class="important">{{preparation.steps.length - 1}} {{::'STEPS' | translate}}</span> {{::'RECIPE' | translate}}
                <a class="actions" ng-click="preparationListCtrl.delete(preparation)">[delete]</a>
            </p>
        </p>
    </div>
</div>