<div class="preparation-list">
    <div class="preparation" ng-repeat="preparation in preparationListCtrl.preparations track by $index">
        <div class="information">
            <p class="title one-line"><a ui-sref="nav.home.preparations({prepid: preparation.id})" title="{{preparation.name}}">{{preparation.name}}</a></p>
            <p class="description">
                {{::'OWNED_BY' | translate}} <span class="important" title="{{preparation.author}}" >{{preparation.author}}</span><br/>
                {{::'LAST_MODIFICATION' | translate}}: {{preparation.lastModificationDate | TDPMoment}}
            </p>

            <p class="details">
                <span class="important name one-line" title="{{preparation.dataset.name}}">{{preparation.dataset.name}}</span>&nbsp;- {{ preparation.dataset.records}} {{::'ROWS' | translate}}
            </p>
            <p class="details">
                <span class="important">{{preparation.steps.length - 1}} {{::'STEPS' | translate}}</span> {{::'RECIPE' | translate}}
            </p>
        </div>

        <div class="actions">
            <a class="favorite" data-icon="f" ng-class="{selected: preparation.favorite}" ng-click="preparation.favorite = !preparation.favorite"></a>
            <a class="trash" data-icon="e" ng-click="preparationListCtrl.delete(preparation)"></a>
        </div>

    </div>
</div>