@include keyframes(rotate) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

.loading {
  background: rgba(0, 0, 0, $opacity-overlay-background);

  display: none;
  opacity: 0;
  
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  height: 100%;
  width: 100%;
  z-index: 999999;

  transition: opacity 0.2s ease;
  
  .loading-inner {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 50%;
    
    font-size: 2em;
    color: white;
    text-align: center;
  }

  .loading-img {
    position: absolute;
    left: 0;
    right: 0;

    @include animation-name(rotate);
    @include animation-duration(1s);
    @include animation-timing-function(linear);
    @include animation-iteration-count(infinite);
  }
}

.show-loading {
  overflow: hidden;

  .loading {
    display: table;
    opacity: 1;
  }
}