@mixin slidable-size($size, $actionSize) {
  $width: $size - $actionSize;
  @include flex(0 $size);

  &.slide-hide {
    @include flex(0 $actionSize);

    .content {
      width: 0;
    }
  }

  &.slide-hide-add,
  &.slide-hide-remove.slide-hide-remove-active{
    .content {
      overflow: hidden;
    }
  }

  .content {
    @include transition(0.25s ease width);
    width: $width;

    .content-container {
      min-width: $width;
    }
  }

  .action {
    @include flex(0 $actionSize);
  }
}

.slidable {
  @include slidable-size(300px, 20px);

  @include transition(0.25s ease flex);

  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-between);

  .content {
    order: 2;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .action {
    cursor: pointer;
    font-size: 3em;

    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    order: 3;

    &.right {
      order: 1;
    }
  }

  &.no-transition {
    transition-duration: 0s;
  }
}