@mixin slidable-size($size, $actionSize) {
  $width: $size - 20px;
  @include flex(0 $size);

  &.slide-hide {
    @include flex(0 $actionSize);

    .content {
      width: 0;
    }
  }

  &.slide-hide-add,
  &.slide-hide-remove.slide-hide-remove-active{
    @include flex(0 $size);
    .content {
      overflow: hidden;
    }
  }

  &.slide-hide-add.slide-hide-add-active,
  &.slide-hide-remove {
    @include flex(0 $actionSize);
  }

  .content {
    .content-container {
      min-width: $width;
    }
  }

  .action {
    @include flex(0 20px);
  }
}

.slidable {
  @include slidable-size(300px, 20px);

  transition: 0.5s ease flex;

  @include display(flex);
  @include flex-flow(row wrap);
  @include justify-content(space-between);

  .content {
    transition: 0.5s ease width;
    @include flex(1 0);
    order: 2;
    overflow: auto;
  }

  .action {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    order: 3;

    &.right {
      order: 1;
    }
  }

  &.no-transition {
    transition-duration: 0s;
  }
}