<div class="slidable" ng-class="{'slide-right': slidableCtrl.side === 'right', 'slide-hide': !slidableCtrl.visible}">
    <ng-transclude class="content"></ng-transclude>

    <div class="action" ng-class="::{right: (slidableCtrl.side === 'right')}" ng-click="slidableCtrl.toggle()">
        <span ng-if="::(slidableCtrl.side !== 'right')">
            <span ng-show="slidableCtrl.visible">&#60;</span>
            <span ng-show="!slidableCtrl.visible">&#62;</span>
        </span>
        <span ng-if="::(slidableCtrl.side === 'right')">
            <span ng-show="slidableCtrl.visible">&#62;</span>
            <span ng-show="!slidableCtrl.visible">&#60;</span>
        </span>
    </div>

</div>