<div class="slidable"
     ng-class="{'slide-left': slidableCtrl.side === 'left', 'slide-right': slidableCtrl.side === 'right', 'slide-top': slidableCtrl.side === 'top', 'slide-bottom': slidableCtrl.side === 'bottom' , 'slide-hide': !slidableCtrl.visible }">
    <div class="content">
        <div class="content-container">
            <ng-transclude class="fixed-content"></ng-transclude>
        </div>

    </div>

    <div class="action {{slidableCtrl.actionCssClass}}"
         ng-if="slidableCtrl.hasControlButton"
         ng-click="slidableCtrl.toggle()">
        <span ng-if="::(slidableCtrl.side == 'left')">
            <span ng-show="slidableCtrl.visible">&#8249;</span>
            <span ng-show="!slidableCtrl.visible">&#8250;</span>
        </span>
        <span ng-if="::(slidableCtrl.side === 'right')">
            <span ng-show="slidableCtrl.visible">&#8250;</span>
            <span ng-show="!slidableCtrl.visible">&#8249;</span>
        </span>
    </div>

</div>