.lookup {
  overflow: hidden;
  .lookup-header {
    max-height: 30px;
    hr{
      margin:0px;
    }
  }

  .lookup-container {
    height: 260px;

    #lookup-left {
      float: left;
      height: inherit;
      overflow: auto;
      width: 70%;
    }

    #lookup-right {
      float: right;
    }
  }

  .lookup-footer {
    height: 30px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    ul{
      li{
        display: inline;
        padding-right: 15px;
      }
    }
    hr{
      margin:0px;
    }
  }
}