.lookup {
  overflow: hidden;
  .lookup-header {
    height: 23px;
    border-top: 1px solid #5B558E;
    border-bottom: 1px solid #5B558E;
  }

  .lookup-container {
    height: 277px;

    #lookup-left {
      float: left;
      height: inherit;
      overflow-x: auto;
      overflow-y: hidden;
      width: 70%;
    }

    #lookup-right {
      float: right;
      width: 29.5%;
      height: 277px;
      background-color: #DDDDDD;
      .lookup-descripton{
        margin-left: 10px;
        width: 60%;
        p{
          margin-left:15px;
          color:#505E98;
        }
      }
      button{
        float:right;
        margin: 10px;
        position: absolute;
        right: 0;
        bottom: 30px;
      }
    }
  }

  .lookup-footer {
    height: 30px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #5B558E;
    ul{
      li{
        display: inline;
        padding-right: 15px;
      }
    }
  }
}