.lookup {
  overflow: hidden;
  .lookup-header {
    height: 23px;
    border-top: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;
  }

  .lookup-container {
    height: 277px;

    #lookup-left {
      float: left;
      height: inherit;
      overflow-x: auto;
      overflow-y: hidden;
      width: 70%;
    }

    #lookup-right {
      float: right;
      width: 29.5%;
      height: 277px;
      background-color: #DDDDDD;
      .lookup-description {
        margin-left: 10px;
        width: 93%;
        p{
          margin-left:15px;
          color:$dark-gray;
        }
      }
      button {
        float:right;
        margin: 10px;
        position: absolute;
        right: 0;
        bottom: 30px;
      }
    }
  }
}