<talend-slidable
        class="lookup"
        visible="lookupCtrl.visible"
        side="bottom"
        control-bar="false">

   <div class="lookup-header">
   </div>

   <div class="lookup-container">
       <div id="lookup-left">
           <lookup-datagrid></lookup-datagrid>
       </div>

       <div id="lookup-right">
           <div class="lookup-description">
               <br>
               <strong><span translate-once="LOOKUP_DESC_TITLE"></span></strong>
               <br>
               <p>
                   <p translate-once="LOOKUP_STEPS_1"></p>
                   <p translate-once="LOOKUP_STEPS_2"></p>
                   <p translate-once="LOOKUP_STEPS_3"></p>
               </p>
           </div>

           <button ng-disabled="!lookupCtrl.state.playground.lookup.columnsToAdd.length ||
                                !lookupCtrl.state.playground.lookup.selectedColumn ||
                                !lookupCtrl.state.playground.grid.selectedColumn"
                   class="param-primary-button btn-primary"
                   ng-click="lookupCtrl.submitLookup()"
                   ng-mouseenter="lookupCtrl.hoverSubmitBtn()"
                   ng-mouseleave="lookupCtrl.cancelEarlyPreview()"
                   translate-once="CONFIRM_LOOKUP"
                   id="lookup-submit-btn-id">
           </button>
       </div>
   </div>

    <navigation-list list="lookupCtrl.state.playground.lookup.actions"
                   on-click="lookupCtrl.loadLookupDsContent(item)"
                   selected-item="lookupCtrl.state.playground.lookup.dataset"
                   get-label="lookupCtrl.getDsName(item)"
                   nbre-labels-to-show="4">
    </navigation-list>
</talend-slidable>