<talend-slidable
        class="lookup"
        visible="lookupCtrl.visible"
        side="bottom"
        control-bar="false">

   <div class="lookup-header">

   </div>

   <div class="lookup-container">
       <div id="lookup-left">
           <lookup-datagrid></lookup-datagrid>
       </div>

       <div id="lookup-right">
           <div class="lookup-descripton">
               <br>
               <strong><span translate-once="LOOKUP_DESC_TITLE"></span></strong>
               <br>
               <p>
                   <p translate-once="LOOKUP_STEPS_1"></p>
                   <p translate-once="LOOKUP_STEPS_2"></p>
                   <p translate-once="LOOKUP_STEPS_3"></p>
               </p>
           </div>

           <button ng-disabled="!lookupCtrl.state.playground.lookupGrid.lookupColumnsToAdd.length ||
                                !lookupCtrl.state.playground.lookupGrid.selectedColumn ||
                                !lookupCtrl.state.playground.grid.selectedColumn"
                   class="param-primary-button btn-primary"
                   ng-click="lookupCtrl.submitLookup()"
                   ng-mouseenter="lookupCtrl.hoverSubmitBtn()"
                   ng-mouseleave="lookupCtrl.cancelEarlyPreview()"
                   translate-once="CONFIRM_LOOKUP"
                   id="lookup-submit-btn-id">
           </button>
       </div>
   </div>

    <div class="lookup-footer">
        <div class="back-forth-btn">
            <button ng-disabled="lookupCtrl.secondShown === 1"
                    ng-click="lookupCtrl.showBack()">&lt;</button>
            <button ng-disabled="lookupCtrl.thirdShown > lookupCtrl.potentialTransformations.length - 2"
                    ng-click="lookupCtrl.showForth()">&gt;</button>
        </div>

        <ul class="lookup-datasets-list">
           <li ng-repeat="lookupDs in lookupCtrl.potentialTransformations track by $index"
               ng-click="lookupCtrl.loadSelectedLookupContent(lookupDs)"
               class="lookup-dataset-name"
               ng-show="$index === lookupCtrl.firstShown|| $index === lookupCtrl.secondShown || $index === lookupCtrl.thirdShown"
               ng-class="{'selected-lookup-dataset-name': $index === lookupCtrl.selectedIndex }">
               {{lookupDs.parameters[2].default}}
           </li>
        </ul>
   </div>
</talend-slidable>