@mixin playground-layout {
  @include flex-row();

  .playground-center {
    position: relative;
    @extend .flex-center;

    #playground-dataset-parameters {
      > * {
        margin: 10px;
      }

      @include slidable-top(130px, 0px);
      box-shadow: 3px 3px 18px 3px transparentize(black, 0.8);
    }

    #playground-filter-bar > * {
      margin: 10px;
    }

    #playground-datagrid-container {
      margin: 10px;
      @include calc(height, "100vh - 130px");
    }
  }
}

.playground-container {

  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $x-large-screen: em(1824) !default;
  $base-font-color: $dark-gray !default;
  $background-transparent: rgba(0, 0, 0, 0.70);

  $navigation-background-top: rgba(85, 89, 100, 0.8);
  $navigation-background-bottom: rgb(85, 89, 100);
  $navigation-border: #333;
  $navigation-border-height: 1px;
  $navigation-color: white;
  $navigation-height: 51px;
  $navigation-item-space: 10px;

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $modal-padding: 4em;
  $modal-padding-top: 3em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 135px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 300px;

  &.fullscreen {
    padding: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    top: 0 !important;
    left: 0;

    .modal-header-close {
      width: $navigation-height;
      height: $navigation-height;
      line-height: $navigation-height - 1px;
      cursor: pointer;

      position: absolute;
      right: 0;
      top: 0;

      &:after,
      &:before {
        @include position(absolute, $navigation-height/4 0 0 $navigation-height/2-2px);
        @include transform(rotate(45deg));
        @include size(0.15em 1.5em);
        background: $modal-close-color;
        content: '';
        display: block;
      }

      &:hover:after,
      &:hover:before {
        background: darken($modal-close-color, 10%);
      }

      &:before {
        @include transform(rotate(-45deg));
      }
    }

    .modal-header {
      display: table;
      height: $navigation-height;
      min-height: $navigation-height;
      width: 100%;

      @include background(linear-gradient($navigation-background-top, $navigation-background-bottom) left repeat);
      border-bottom: 1px solid darken($navigation-border, 10);

      color: $navigation-color;

      >ul {
        >* {
          display: table-cell;
          line-height: $navigation-height - $navigation-border-height;
          padding-left: $navigation-item-space;
          padding-right: $navigation-item-space;
          vertical-align: middle;
          border-right: 1px solid grey;

          .title {
            font-weight: bold;
          }

          input[type=search] {
            @include box-sizing(border-box);
            border-radius: $base-border-radius;
            border: $dark-gray;
            color: $black;
            font-size: 0.9em;
            font-style: italic;
            margin: 0;
            padding: 0.5em 0.8em;
            width: 100%;
          }

          input {
            display: inline-block;
            margin: 0;
            width: auto;
          }
        }
      }
    }
  }


  //-----------------------------------------------------------------------------------------------------------
  //-----------------------------------------------------HEADER------------------------------------------------
  //-----------------------------------------------------------------------------------------------------------
  .playground-header {
    .icon {
      color: darken($white, 10%);
      padding-left: 10px;
      padding-right: 10px;
      @include filter(drop-shadow(0px 1px 1px #1f2024));

      &:hover {
        color: $white;
      }
    }

    .left-header {
      float: left;

      .file-lines-count {
        color: $dark-green;
        @include ellipsis(300px);
        vertical-align: top;
      }

      .playground-dataset-name {
        @include ellipsis(500px);
        vertical-align: top;
      }

      #playground-gear-icon {
        font-size: 0.6em;
        vertical-align: top;
      }
    }

    .right-header {
      float: right;
      margin-right: 51px;

      .preview {

        .previewBadge {
          line-height: 36px;
          height: 36px;
          padding: 0 5px;
          border-radius: 5px;
          background: rgba(255, 255, 255, 0.5);

          .previewBadgeElement {
            padding: 0 5px;
            vertical-align: middle;
          }
        }
      }

      #playground-lookup-icon {
        padding: 8px;

        > img {
          vertical-align: middle;
        }
      }

      .pressed {
        @include background(linear-gradient(#4D4D50, #6E6D71) left repeat);
      }
    }
  }

  //-----------------------------------------------------------------------------------------------------------
  //-----------------------------------------------------BODY--------------------------------------------------
  //-----------------------------------------------------------------------------------------------------------
  .playground {
    @include playground-layout();

    .steps-header {
      margin: 15px 0 15px 10px;

      .editable-text {
        padding: 5px;
      }

      .steps-header-preparation-text {
        @include ellipsis(85%);
        padding: 2px 0;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .label-switch {
      $action-color: #b6be00 !important;
      $base-background-color: white !default;
      $switch-width: 42px;
      $switch-padding: 2px;
      $switch-height: 22px;
      $switch-radius: $switch-height;
      $knob-size: $switch-height - ($switch-padding * 2);
      $knob-radius: $switch-height - ($switch-padding * 2);
      $knob-width: $knob-size;
      $switch-background: $base-background-color;
      $switch-border-background: darken($base-background-color, 9%);
      $switch-shadow: 0 2px 5px transparentize(black, 0.6);

      border-radius: $switch-radius;
      cursor: pointer;
      display: inline-block;
      height: $switch-height;
      padding: 3px;
      position: relative;
      width: $switch-width;
      float: right;

      input[type="checkbox"] {
        display: none;

        + .checkbox {
          @include transition(all 0.3s ease);
          background: $switch-border-background;
          border-radius: $switch-radius;
          border: none;
          cursor: pointer;
          height: $switch-height;
          margin-top: 4px;
          padding: 0;
          position: relative;
          width: $switch-width;
          z-index: 0;

          &:before {
            @include position(absolute, 2px 0 0 2px);
            @include transform(scale(1));
            @include transition(all 0.3s ease);
            background: $switch-background;
            border-radius: $switch-radius;
            content: "";
            height: $knob-radius;
            width: $switch-width - ($switch-padding * 2);
            z-index: 1;
          }

          &:after {
            @include position(absolute, 2px 0 0 2px);
            @include transition(all 0.3s ease);
            @include size($knob-size);
            background: $switch-background;
            border-radius: $knob-radius;
            box-shadow: $switch-shadow;
            content: "";
            z-index: 2;
          }
        }

        &:checked {
          + .checkbox {
            background: $action-color;

            &:before {
              @include transform(scale(0));
            }

            &:after {
              left: $switch-width - $knob-width - ($switch-padding);
            }
          }
        }
      }
    }
  }
}