<div class="grid-header">
    <div class="talend-dropdown-div">
        <talend-dropdown on-open="lookupDatagridHeaderCtrl.initTransformations()">
            <div class="dropdown-container">
                <ul class="dropdown-menu grid-header-menu">
                    <li ng-if="lookupDatagridHeaderCtrl.initTransformationsInProgress" translate-once="LOADING"></li>
                    <li ng-if="lookupDatagridHeaderCtrl.transformations && !lookupDatagridHeaderCtrl.transformations.length" translate-once="NO_TRANSFORMATION"></li>
                </ul>
            </div>
        </talend-dropdown>
    </div>

    <div class="talend-dropdown-text-div">
        <div class="grid-header-title" ng-show="!lookupDatagridHeaderCtrl.isEditMode" title="{{ lookupDatagridHeaderCtrl.column.name }}">{{ lookupDatagridHeaderCtrl.column.name }}</div>
    </div>

    <div class="grid-header-type" ng-if="lookupDatagridHeaderCtrl.column.domain">{{ lookupDatagridHeaderCtrl.column.domain }}</div>
    <div class="grid-header-type" ng-if="(!lookupDatagridHeaderCtrl.column.domain)">{{ lookupDatagridHeaderCtrl.converterService.simplifyType(lookupDatagridHeaderCtrl.column.type) }}</div>
    <div><input type="checkbox"></div>
</div>


<lookup-quality-bar
        quality="lookupDatagridHeaderCtrl.column.quality"
        column="lookupDatagridHeaderCtrl.column"></lookup-quality-bar>
