.param {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-items(stretch);

  div:hover {
    position: relative;
  }

  &.param-no-space {
    padding: 0;
  }

  .param-row {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include align-items(center);

    padding: 10px;

    .param-name {
      @include flex-basis(40px);
      @include flex-grow(1);
    }

    .param-input {
      @include flex-basis(120px);
      @include flex-grow(2);
    }

    .param-error {
      @include flex-basis(100%);
    }
  }
}