<div class="param">

    <div class="param-row">
        <div class="param-name" ng-if="::(dateParamCtrl.label !== 'false')">
            {{::dateParamCtrl.parameter.label}}:
        </div>

        <talend-datetime-picker ng-model="dateParamCtrl.parameter.value"
                                is-date-time>
        </talend-datetime-picker>

        <div class="param-error error"
             ng-if="paramsCtrl.paramForm[dateParamCtrl.parameter.name].$error.isDateTimeValidation">
            This must be a date in the format 'DD/MM/YYYY hh:mm:ss'
        </div>
    </div>

</div>
