<a data-icon="B" ng-click="folderCtrl.folderNameModal=true">Add Folder</a>


<div class="breadcrumb">
  <ul>
    <li>
      <talend-dropdown>
        <div class="dropdown-container">
          <div class="dropdown-action">
            <a ng-click="folderCtrl.initChilds(-1)">All Files</a>
          </div>
          <ul class="dropdown-menu">
            <li ng-repeat="child in folderCtrl.currentChilds" ng-click="folderCtrl.goToChild(child)">
              {{child.path}}
            </li>
          </ul>
        </div>
      </talend-dropdown>
    </li>
    <li ng-repeat="path in folderCtrl.currentPathParts">
      <talend-dropdown>
        <div class="dropdown-container">
          <div class="dropdown-action">
            <a ng-click="folderCtrl.initChilds($index)">{{::path}}</a>
          </div>
          <ul class="dropdown-menu">
            <li ng-repeat="child in folderCtrl.currentChilds" ng-click="folderCtrl.goToChild(child)">
              {{child.path}}
            </li>
          </ul>
        </div>
      </talend-dropdown>
    </li>
  </ul>
</div>




<talend-modal fullscreen="false"
              close-button="true"
              state="folderCtrl.folderNameModal">
  <span translate-once="ENTER_FOLDER_NAME"></span>
  <form name="folderCtrl.folderNameForm">
    <input type="text" ng-model="folderCtrl.folderName" required/>

    <div class="modal-buttons">
      <button class="talend-modal-close btn-secondary modal-secondary-button">
        <span translate-once="CANCEL"></span>
      </button>
      <button class="talend-modal-close btn-primary modal-primary-button"
              ng-click="folderCtrl.addFolder()"
              ng-disabled="folderCtrl.folderName.$invalid">
        <span translate-once="OK"></span>
      </button>
    </div>
  </form>
</talend-modal>