<div class="breadcrumb">
  <ul>
    <li ng-repeat="folder in folderCtrl.state.folder.foldersStack track by $index" id="folder_{{$index}}">
      <talend-dropdown>
        <div class="dropdown-container">
          <a ng-click="folderCtrl.goToFolder(folder)">{{::folder.name}}</a>
          <span class="dropdown-action">
            <a class="dropdown-button" ng-click="folderCtrl.initMenuChildren(folder)"></a>
          </span>
          <ul class="dropdown-menu">
            <li ng-if="folderCtrl.loadingChildren" translate-once="LOADING">y</li>
            <li ng-repeat="child in folderCtrl.state.folder.menuChildren" ng-click="folderCtrl.goToFolder(child)">
              {{child.name}}
            </li>
          </ul>
        </div>
      </talend-dropdown>
    </li>
  </ul>
</div>