<div class="breadcrumb">
  <ul>
    <li ng-repeat="folder in folderCtrl.foldersStack">
      <talend-dropdown>
        <div class="dropdown-container">
          <a ng-click="folderCtrl.goToFolder(folder)">{{::folder.path}}</a>
          <span class="dropdown-action">
            <a class="dropdown-button" ng-click="folderCtrl.initMenuChilds(folder)"></a>
          </span>
          <ul class="dropdown-menu">
            <li ng-if="folderCtrl.loadingChilds" translate-once="LOADING"></li>
            <li ng-repeat="child in folderCtrl.menuChilds" ng-click="folderCtrl.goToFolder(child)">
              {{child.path}}
            </li>
          </ul>
        </div>
      </talend-dropdown>
    </li>
  </ul>

</div>