.suggestions {
  $color: $black;
  $background: $white;

  $border-color: $shadow-gray;

  $title-color: $black;
  $title-background: $white;

  $menu-color: tint($black, 20%);
  $menu-background: $light-gray;

  $submenu-color: tint($black, 20%);
  $submenu-background: shade($menu-background, 5%);

  background: $background;
  color: $color;

  .action-category{
    color: $dark-blue;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 0px 0px 5px;

    // MM to make the categories invisible
    padding: 0px;
    line-height: 0px;
    color:transparent;
  }

  .action {
    background: $background;

    &:hover {
      background: darken($background, 5%);
    }
  }

  .suggestions-part {
    .title {
      color: $title-color;
      background: $title-background;
      padding: 25px 10px 5px 10px;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
    }

    .menu {
      color: $menu-color;

      >li {
        border-bottom: 1px solid $border-color;
        font-size: .95em;
        font-weight: 400;
        padding: 7px 2px 7px 0px;
        &:hover{
          background-color: $super-light-gray;
        }

        >a {
          display: block;
          width:100%;
        }

        .talend-accordion-trigger {
          //&::before {
          //  content: "\25b8";
          //  margin-right: 5px;
          //}
        }

        &.open {
          background-color: $super-light-gray;
          .talend-accordion-trigger::before {
            content: "\25BE";
          }
        }
      }

      a {
        text-decoration: none;
        color: inherit;
        padding-left: 10px;
        cursor: pointer;
      }

      .submenu {
        color: $submenu-color;
        background: $super-light-gray;

        li {
          border: none;
          padding: 10px;
        }
      }
    }

    .submenu {
      padding: 0px 15px 0px 5px;
      li {
        text-align: right;
      }
    }
  }
}