<div class="param">
    <div class="param-row" ng-repeat="param in simpleParamsCtrl.parameters track by $index" title="{{::param.description}}">
        <div class="param-name" ng-if="::(simpleParamsCtrl.label !== 'false')">{{simpleParamsCtrl.label}}{{::param.label}}:</div>

        <div class="param-input" ng-if="::(simpleParamsCtrl.editableSelect)">
            <editable-select
                    list="param.list"
                    ng-model="param.value"></editable-select>
        </div>
        <div class="param-input" ng-if="::(!simpleParamsCtrl.editableSelect)">
            <input name="{{::(param.name + $index)}}"
                   type="{{::param.inputType}}"
                   ng-trim="false"
                   ng-model="param.value"
                   type-validation="{{::param.type}}"/>
            <span ng-if="::(param.type === 'boolean')">{{param.name}}</span>
        </div>

        <div class="param-error error"
             ng-if="paramCtrl.paramForm[param.name + $index].$error.typeValidation || paramsCtrl.paramForm[param.name + $index].$error.number">
            This must be a {{::param.type}}
        </div>
    </div>
</div>
