.talend-tooltip {
  $background: rgba(89, 89, 100, 0.9);
  $background-hover: $dark-gray;

  @include transition(background-color 0.25s ease-in-out);

  position: fixed;
  z-index: 20;

  max-width: 50%;
  max-height: 50%;
  padding: 10px;
  overflow: auto;

  background-color: $background;
  color: $white;

  box-shadow: $box-shadow;

  &:hover {
    background-color: $background-hover;
  }
}