<div class="star-wars">

    <p class="start">In a short while, in a browser very, very close&hellip;</p>

    <p class="title">DATA PREP</p>

    <div class="titles">
        <div class="titlecontent">

            <p class="center">BETA I<br/>A NEW HOPE FOR DATA PREPARATION</p>

            <p>It is a period where data is everywhere.</p>

            <p>Your company or yourself cannot waste any second working on badly formatted or incorrect data.</p>

            <p>DataPrep is the missing link in data management. It enables easy self service data cleansing that
                can be used on its owned or within the DI component.</p>

            <p>It has a centralized and governed data inventory.</p>

            <p>Seamless Talend DI and iPaaS integration.</p>

            <p>It comes in two flavors : Open Source and Commercial.</p>

            <p>The force is strong in Talend. May the force be with you.</p>

        </div>
    </div>
</div>