.dataset-parameters {
  background: $dark-gray;

  .dataset-parameters-title {
    border-bottom: 1px solid $white;
    color: $white;
    font-weight: bold;
    padding: 10px;
  }

  .dataset-parameters-body {
    @include display(flex);
    padding: 20px;

    .dataset-parameters-parameter {
      @include display(flex);
      @include align-items(center);
      padding: 0 10px;

      .dataset-parameters-label {
        color: $white;
        padding: 0 5px;
      }

      input,
      select {
        margin: 0;
      }

      input {
        text-align: center;
      }

      .small-input {
        width: 40px;
      }
    }

    .dataset-parameters-actions {
      @include flex-basis(30px);
      @include flex-grow(1);
      @include flex-shrink(1);
      text-align: right;
    }
  }
}