@CHARSET "UTF-8";

@import "base/base";
@import "vendors/vendors";
@import "utils/utils";
@import "layout/layout";
@import "components/components";
@import "pages/pages";

.dc-chart g.row text {
	fill: black;
}

#dockerdemo-activities.dc-chart g.row text {
	font-size: 30px;
}

.navbar-inverse {
	background-color: white;
	background-image: none;
	border-color: #DEDEDE;	
}

html {
	background-color: white;
	font-family: "Source Sans Pro";
	font-weight: normal;
}

h1, h5 {
	margin-top: 0px;
	font-weight: 200;
}

h5 {
	color: #AEAEAE;
}

#mytable th {
	background-color: #c6d5e2;
	color: #266092;
	text-transform: uppercase;
	font-weight: normal;
	font-size: .90em;
    cursor: default;
}

#mytable th:hover {
  	background-color: #f5f5f5;
    cursor: default;
}

#mytable td {
	font-family: "Courier New";
	color: #6c6c6c;
	font-size: .80em;
	height: 20px;
}

#mytable td:hover {
  	background-color: #e1e1e1;
    cursor: cell;
}

/* header not selected */
.th-unselected {
}

/* body not selected */
.unselected {
}

/* header selected */
.th-selected {
	background-color: #1e4d75!important;
    color: white;
}

/* body selected */
.selected {
	background-color: #f1f1f1!important;
 	color: black!important;
}

/* cell selected */
.cellselected {
	background-color: white!important;
	color: black!important;
	border: solid 2px #1e4d75!important;
}

/*header rollover */
.th-rollover {
    background-color: #a4bed7;
    cursor: default;
}

/*body rollover */
.rollover {
    background-color: #f5f5f5; 
    color: #707690;
    cursor: cell;
}

.form-group {
	margin-right: 20px;
}

.shadowed {
    -webkit-filter: drop-shadow(0px 1px 1px #1f2024);
}

/* for low resolution display */

.t-top-bar {
	background-color: white;
	padding: 0px 0px 0px 0px!important;
}

.t-top-banner{
    padding: 5px 20px 0px 15px!important;
}

.t-top-bar-logo {
	background-image: url('../images/talend_logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 130px;
	margin:  4px 100px -8px -12px!important;
}

.t-top-bar_folder {
	background-image: url('../images/top_link_folder.png');
	background-repeat: no-repeat;	
	margin: 3px 10px -10px 10px!important;
	width: 40px; 
}

.t-top-bar_marketplace {
	background-image: url('../images/top_link_marketplace.png');
	background-repeat: no-repeat;
	margin: 3px 10px -10px 10px!important;
	width: 40px; 
}

.t-top-bar_share {
	background-image: url('../images/top_link_share.png');
	background-repeat: no-repeat;
	margin: 3px 40px -10px 10px!important;
	width: 40px; 
}

.t-top-bar_notification {
	background-image: url('../images/top_link_notification.png');
	background-repeat: no-repeat;
	margin: 3px 10px -10px 10px!important;
	width: 40px; 
}

.t-top-bar_profile {
	background-image: url('../images/top_link_profile.png');
	background-repeat: no-repeat;
	margin: 3px 10px -10px 10px!important;
	padding-bottom: 20px!important;
	width: 52px;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:hover, 
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.active>a {
	background-image: url('../images/top_link_profile.png');
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 9px;
}

.navbar-right .dropdown-menu {
	right: 9px;
}

.t-top-toolbar{
	background-color: #eeeeef!important;
    padding: 8px 20px 8px 20px!important;
	box-shadow: 0 2px 8px rgba(0,0,0,.6);
}

#topbar.navbar-default {
	background-image: linear-gradient(to bottom, rgba(85, 89, 100, 0.8) 0%, rgba(85, 89, 100, 1.0) 100%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	background-color: #e7e7e7;
	border-color: #e7e7e7;
	margin-bottom: 0px;
	box-shadow: 0 2px 8px rgba(0,0,0,.6);
}

#navigationbar.navbar-default {
	background-image: linear-gradient(to top, rgba(85, 89, 100, 0.0) 0%, rgba(85, 89, 100, 0.0) 100%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	background-color: #EEEEEF;
	border-color: #e7e7e7;
	box-shadow: 0 2px 8px rgba(0,0,0,.5);
    padding: 8px 20px 8px 20px!important;
}

.divider-vertical {
	border-right: solid 1px #686d7d;
	height: 25px;
	margin-top: 12px;
	margin-right: 12px;
}

.t-top-image-link{
	padding-top: 6px!important;
}

.t-top-link {
	font-size:  .80em;
	color: white!important;
	padding-right: 20px;
}

.t-last-link {
	margin-right: 120px;	
}

.t-search-bar{
}

.t-search-inputfield {
	background-color: white!important; 
	margin-top: -4px;
	height: 32px;
	width: 450px!important;
	font-weight: 300;
	font-size: 0.9em;	
	margin-right: auto;
	margin-left: auto;
}

.navbar-nav > li > a {
	text-shadow: 0 2px 0 rgba(255, 255, 255, .0);
	color: white!important;
}

.t-container {
	padding-top: 0px;	
}

.t-p {
	font-size: 1.5em;
	font-weight: 200;
}

.t-btn {
	border: 1px solid;
    border-radius: 5px;
	padding: 0px 10px;	
	background-color: #236192;
	text-transform: uppercase;
	color: white;	
	height: 36px;
}

.t-btn-import-new-file{
	background-image: url('../images/import_new_file.png');
	background-repeat: no-repeat;
	background-position: 10px 5px;
	padding: 0px 10px 0px 45px; 
	background-color: #b6be00;
}

/* GRID STYLE DEFINITION */

.table {
}

.reset{
	padding: 0px!important;
}

.header{
	border: 1px solid transparent;
	cursor: default;
}

.header:hover{
	border: 1px solid gray;
}

.header_title{
	height: 100%!important;
	display: table-cell!important;
	padding: 0px 3px 0px 0px!important;
}

.header_caret{
	height: 100%!important;
	display: table-cell!important;
}

.header_title:hover, .header_caret .caret:hover{
	cursor: default;
}

.header_type{
	height: 100%!important;
/* 	display: inline-block!important; */
	text-transform: lowercase;
	font-weight: 300;
	font-size: 0.8em;
	text-align: right;
}

.quality_bar{
	font-size: 0;	
	background: white!important;
	height: 12px!important;    /* height of the QUALITY BAR   */
}

.record_OK{
	border: 1px solid transparent;
	background-color: rgba(138, 188, 0, 0.6);  /* Light Green  */
	height: 100%!important;
	display: inline-block!important;
	/* cursor: pointer;	 */
}

.record_OK:hover {
	background-color: rgba(138, 188, 0, 0.8);  /* Strong Green  */
	border: 1px solid gray;
}

.record_EMPTY{
	border: 1px solid transparent;
	background-color: white!important;
	height: 100%!important;
	display: inline-block!important;
	/* cursor: pointer;	 */
}

.record_EMPTY:hover{
	background-color: #EEEEEE;  /* Light Gray  */
	border: 1px solid gray;
}

.record_NOK{
	border: 1px solid transparent;
	background-color: rgba(247, 168, 0, 0.6);    /* Light Orange  */
	height: 100%!important;
	display: inline-block!important;	
	/* cursor: pointer;	 */
}
.record_NOK:hover{
	background-color: rgba(247, 168, 0, 0.8);  /* Strong Orange  */
	border: 1px solid gray;
}

/* For a fixed footer at the bottom */
.footer {
  	background-color: #555964;
  	padding: 5px 0px 0px 10px;
  	color: white;
  	width: 100%;
  /* Set the fixed height of the footer here */
  	height: 30px;
  	min-height: 30px;
}

/* for high resolution display */
@media
screen and (-webkit-min-device-pixel-ratio: 1.5),
screen and (-moz-min-device-pixel-ratio: 1.5),
screen and (min-device-pixel-ratio: 1.5) {
	.t-top-bar-logo {
		background-image: url('../images/high_res/talend_logo.png');
	}
	.t-top-bar_folder {
		background-image: url('../images/high_res/top_link_folder.png');
		background-size: contain;
	}
	.t-top-bar_marketplace {
		background-image: url('../images/high_res/top_link_marketplace.png');
		background-size: contain;
	}
	.t-top-bar_share {
		background-image: url('../images/high_res/top_link_share.png');
		background-size: contain;
	}
	.t-top-bar_notification {
		background-image: url('../images/high_res/top_link_notification.png');
		background-size: contain;
	}
	.t-top-bar_profile {
		background-image: url('../images/high_res/top_link_profile.png');
		background-size: contain;
	}
	.t-btn-import-new-file{
		background-image: url('../images/high_res/import_new_file.png');
		background-size: 26px 24px;
	}
}

.t-font-zero{
	font-size: 0px;
}

.t-dropdown-toggle-quality-bar {
	background-color: transparent;
	height: 14px;
	/* cursor: pointer;	 */
}

.t-dropdown-toggle-header{
	background-color: transparent;
	padding: 5px 5px 5px 5px!important;
	/* cursor: pointer;	 */
}

.t-dropdown-menu{
	text-transform: none;
	box-shadow: 0px 6px 8px rgba(0,0,0,.4);
}

.t-dropdown-menu>li>a {
	font-size: 0.9em;
}

.t-dropdown-menu>li>a:hover, .t-dropdown-menu>li>a:focus {
	color: white;
	background-color: #E40F0F;
	background-image: -webkit-linear-gradient(top,#b6be00 100%,#b6be00 100%);
	background-image: -o-linear-gradient(top,#b6be00 100%,#b6be00 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#b6be00),to(#b6be00));
	background-image: linear-gradient(to bottom,#b6be00 100%,#b6be00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b6be00', endColorstr='#b6be00', GradientType=0);
	background-repeat: repeat-x;
	cursor: default;	
}

/* FOR DOCUMENT AND FOLDER LIST */

#documentinventory tbody:hover{
	background-color: #c9d7e4;
}

.t-demo-inventory-list-header {
	margin: 0px 5px 5px 5px!important;
	padding: 0px 5px 5px 5px!important;
	border-bottom: 1px solid #CECECE;
	text-align: right;
	height: 22px;
	font-weight: 300;
	font-size: 1.1em;
	width: 100%;	
}

.t-demo-inventory-list-col-header {
	border-bottom: 1px solid #e6e6e6;
	padding: 5px 5px 0px 5px!important;
}

.t-demo-inventory-list-icon{
	padding: 5px 5px 5px 5px!important;
	border-bottom: 1px solid #CECECE;
	height: 50px;	
	width: 50px;
}

.t-demo-inventory-list-icon-img{
	padding: 5px 5px 5px 5px!important;
	width: 40px;
}

.t-demo-inventory-list-name{
	padding: 10px 5px 0px 5px!important;
	border: 0px solid #CECECE;
	text-transform: uppercase;
	height: 25px;
	font-weight: 700;
	font-size: 1.1em;	
	width: 100%;
}

.t-demo-inventory-list-description{
	padding: 0px 5px 5px 5px!important;
	border-bottom: 1px solid #CECECE;
	color: #999999;
	height: 25px;
	font-weight: 300;
	font-size: 0.9em;	
}

.t-demo-inventory-list-actions{
	margin: 5px 5px 5px 5px!important;
	padding: 5px 5px 5px 5px!important;
	border-bottom: 1px solid #CECECE;
	height: 50px;
}

.t-demo-right-divider{
	border-right: 1px solid white;	
}

.t-demo-btn{
	margin: 5px 10px 5px 10px!important;
	padding:  5px 5px 5px 5px!important;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;	
	height: 42px;	
	width: 40px;
	border: 5px solid transparent;
}

.t-demo-btn:hover{
	background-color: #a1b2c2;
}

.t-demo-btn:focus{
	outline-width: 0px; 
}

.t-demo-btn-shaker{
	background-image: url('../images/shaker.png');
}

.t-demo-btn-pushto{
	background-image: url('../images/pushto.png');	
	width: 60px;
}

.t-demo-btn-favorite{
	background-image: url('../images/favorite.png');	
}

.t-demo-btn-share{
	background-image: url('../images/share.png');	
}

.t-demo-btn-remove{
	background-image: url('../images/remove.png');	
}

.t-demo-btn-more{
	background-image: url('../images/more.png');	
}

.error {
  color: red;
}