<div>
    <ul class="talend-accordion">
        <li class="title">
            Case
        </li>
        <li>
            Uppercase
        </li>
        <li>
            Lowercase
        </li>
        <li class="title">
            Fill
        </li>
        <li>
            <a class="talend-accordion-trigger">Replace empty in column STATE</a>
            <ul class="submenu">
                <li>
                    Value : <input type="text" value="N/A" />
                    <button class="t-btn-primary">Ok</button>
                </li>
            </ul>
        </li>
    </ul>

    <ul>
        <li class="title">
            Quality
        </li>
        <li>
            <div class="quality-bar border big center">
                <div class="record-ok"
                     style="width: 65%;"
                     title="65 valid records (65%)">
                    65 %
                </div>

                <div class="record-empty"
                     style="width: 21%;"
                     title="21 empty records (21%)">
                    21 %
                </div>

                <div class="record-nok"
                     style="width: 14%;"
                     title="14 invalid records (14%)">
                    14 %
                </div>
            </div>
        </li>
    </ul>
</div>