<div class="actions-suggestions">
    <div class="title">Stats</div>
    <div class="Description" ng-if="!statsDetailsCtrl.updatedColumn">Select a column to display its statistics</div>
    
    <talend-tabs ng-if="statsDetailsCtrl.updatedColumn">
        <talend-tabs-item title="_"></talend-tabs-item>
        <talend-tabs-item title="Viz" default="true">
            <column-profile></column-profile>
        </talend-tabs-item>
        <talend-tabs-item title="Value">
            <div ng-repeat="stat in statsDetailsCtrl.statsByColType">
                <div ng-repeat="(key, val) in stat">
                    <span class="keys-text">{{key}}: </span><b class="values-text">{{statsDetailsCtrl.isInt(val)}}</b>
                </div>
            </div>
        </talend-tabs-item>
        <talend-tabs-item title="Pattern">
            <horizontal-barchart id="patternBarChart"
                                 width="250"
                                 height="400"
                                 on-click="statsDetailsCtrl.patternBarchartClickFn"
                                 visu-data="statsDetailsCtrl.updatedColumn.statistics.patternFrequencyTable"
                                 key-field="occurrences"
                                 value-field="pattern">
            </horizontal-barchart>
        </talend-tabs-item>
        <talend-tabs-item title="Others"></talend-tabs-item>
    </talend-tabs>
</div>