<div class="actions-suggestions" ng-switch="!!statsDetailsCtrl.statistics">
    <div class="Description" ng-if="!statsDetailsCtrl.statistics">Select a column to display its statistics</div>

    <talend-tabs ng-if="statsDetailsCtrl.statistics">
        <talend-tabs-item class="tab-container" tab-title="Chart" default="true">
            <div class="stat-detail-tab-items">
                <column-profile></column-profile>
                <range-slider id="rangeSliderId"
                              width="300"
                              height="120"
                              range-limits="statsDetailsCtrl.rangeLimits"
                              on-brush-end="statsDetailsCtrl.statisticsService.addRangeFilter">
                </range-slider>
            </div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Value">
            <div class="two-columns-values stat-detail-tab-items">
                <table class="stat-table">
                    <tr ng-repeat="(key, val) in statsDetailsCtrl.statistics.common track by $index">
                        <td class="stat-key">{{key | translate}}: </td>
                        <td class="stat-value">{{val}}</td>
                    </tr>
                </table>
                <table class="stat-table">
                    <tr ng-repeat="(key, val) in statsDetailsCtrl.statistics.specific track by $index">
                        <td class="stat-key">{{key | translate}}: </td>
                        <td class="stat-value">{{val}}</td>
                    </tr>
                </table>
            </div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Pattern">
            <div class="stat-detail-tab-items">
                <horizontal-barchart id="patternBarChart"
                                     width="300"
                                     height="400"
                                     on-click="statsDetailsCtrl.addPatternFilter"
                                     visu-data="statsDetailsCtrl.patternFrequencyTable"
                                     key-field="occurrences"
                                     value-field="pattern"
                                     raw-data="statsDetailsCtrl.patternFrequencyTable">
                </horizontal-barchart>
            </div>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Advanced">
            <div class="stat-detail-tab-items">
                <div class="watermark" ng-if="!statsDetailsCtrl.boxPlot" translate-once="NO_ADVANCED_CHART"></div>
                <boxplot-chart
                        id="boxplotId"
                        width="300"
                        height="400"
                        boxplot-data="statsDetailsCtrl.boxPlot"
                        ></boxplot-chart>
            </div>
        </talend-tabs-item>
    </talend-tabs>
</div>