<div class="actions-suggestions" ng-switch="!!statsDetailsCtrl.statistics">
    <div class="title">Stats</div>
    <div class="Description" ng-if="!statsDetailsCtrl.statistics">Select a column to display its statistics</div>

    <talend-tabs ng-if="statsDetailsCtrl.statistics">
        <talend-tabs-item tab-title="_"></talend-tabs-item>
        <talend-tabs-item tab-title="Viz" default="true">
            <column-profile></column-profile>
            <range-slider id="rangeSliderId"
                          width="310"
                          height="100"
                          range-limits="statsDetailsCtrl.rangeLimits"
                          on-brush-end="statsDetailsCtrl.statisticsService.addRangeFilter">
            </range-slider>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Value">
            <table class="stat-table">
                <tr ng-repeat="(key, val) in statsDetailsCtrl.statistics.common track by $index">
                    <td class="stat-key">{{key | translate}}: </td>
                    <td class="stat-value">{{val}}</td>
                </tr>
            </table>
            <table class="stat-table">
                <tr ng-repeat="(key, val) in statsDetailsCtrl.statistics.specific track by $index">
                    <td class="stat-key">{{key | translate}}: </td>
                    <td class="stat-value">{{val}}</td>
                </tr>
            </table>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Pattern">
            <horizontal-barchart id="patternBarChart"
                                 width="310"
                                 height="400"
                                 on-click="statsDetailsCtrl.addPatternFilter"
                                 visu-data="statsDetailsCtrl.patternFrequencyTable"
                                 key-field="occurrences"
                                 value-field="pattern"
                                 raw-data="statsDetailsCtrl.patternFrequencyTable">
            </horizontal-barchart>
        </talend-tabs-item>
        <talend-tabs-item tab-title="Others">
            <boxplot-chart
                    id="boxplotId"
                    width="330"
                    height="400"
                    boxplot-data="statsDetailsCtrl.boxplotData"
            ></boxplot-chart>
        </talend-tabs-item>
    </talend-tabs>
</div>